<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="/assets/files/favicon.png"
      rel="shortcut icon"
      type="image/png"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="layout">
      <%-include("../partials/sidebar.ejs")%>
      <%-include("../partials/navbar.ejs")%>
      <div class="mainsection">
        <section class="body">
        <div class="article-top">
           
          <h3>Articles Posted By You</h3>
          <p>Build your profile to increase your ranking in the search results by publishing quality tax-related articles.
Publishing quality articles will increase your reputation on our site; increase your profile followings on our site; get your profile in front of more clients.
All your articles are  linked directly to your profile to allow your reader to instantly see your profile and listings</p>

<div class="b-ton">
            <a href="/dashboard/help" class="b-ton"> <img src="/assets/files/info.png" alt=""> Help</a>
</div>
        </div>
        <section class="article-cards">
          <img src="/assets/files/business-people.png" alt="">
          <div class="text-part">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
            </p>
          </div>
          <a href="#" class="article-link"> Read More</a>
           </div>
        </section>

        <hr />
        <section class="article-cards">
          <img src="/assets/files/business-people.png" alt="">
          <div class="text-part">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
            </p>
          </div>
          <a href="#" class="article-link"> Read More</a>
           </div>
        </section>
        <hr />
        <section class="article-cards">
          <div class="text-part">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
            </p>
          </div>
          <a href="#" class="article-link"> Read More</a>
           </div>
        </section>
        <hr />
        <section class="article-cards">
          <div class="text-part">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
            </p>
          </div>
          <a href="#" class="article-link"> Read More</a>
           </div>
        </section>
        <hr />
        <section class="article-cards">
          <div class="text-part">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.
            </p>
          </div>
          <a href="#" class="article-link"> Read More</a>
           </div>
        </section>
<div class="controls">
<a href="#"><img class="left-arrow" src="/assets/files/left-arrow.svg" alt=""></a>
<a href="#"><img class="right-row" src="/assets/files/right-arrow.svg" alt=""></a>
</div>

      </div>
    </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  </body>
</html>

