<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="/assets/files/favicon.png"
      rel="shortcut icon"
      type="image/png"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="layout">
      <%-include("../partials/sidebar.ejs")%>
      <%-include("../partials/navbar.ejs")%>
      <div class="mainsection">
        <section class="body">
        <div class="message-top">
          <h3>Messages</h3>
          <p>View messages sent to your profiles by potential clients.</p>
        </div>
        <section class="message-cards">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>

        <hr />
        <section class="message-cards">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>
        <hr />
        <section class="message-cards">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>
        <hr />
        <section class="message-cards">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>
        <hr />
        <section class="message-cards">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>
        <hr />
        <section class="message-cards ">
          <div class="head-flex">
            <div class="date">
              28 <br />
              FEB
            </div>
            <div class="title">
              <h4>Post Tittle Here</h4>
              <small>by Anonymous user</small>
            </div>
          </div>

          <div class="content">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est eopksio laborum. Sed ut
              perspiciatis unde omnis istpoe natus error sit voluptatem.Lorem
              ipsum dolor sit amet, consectetur adipisi cing elit. Molestias
              eius illum libero dolor nobis deleniti, sint assumenda. Pariatur
              iste veritatis excepturi, ipsa optio nobis.
            </p>
          </div>

          <a href="#" class="message-link"> Read More</a>
        </section>
      </div>
    </section>
    </div>
  </body>
</html>
