.about {
  &-funfact{
    background-image: url("/assets/files/about/4.webp");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &_jumbotron {
    background-image: url("/assets/files/about/about.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 400px;
    display: flex; 
    align-items: flex-end;
    h2 {
      color: #fff !important;
      font-family: "Libre Baskerville", serif;
    }
    @include respond(small-laptop) {
      height: 300px
    }
    @include respond(tab-land) {
      height: 200px
    }
  }
  
    @include respond(tab-land) {
      .mb-padding {
        padding: 0 30px;
      }
      .mobile-container{
        margin: 0
      }
      .mobile-display{
        display: none!important;
      }
    }
 
}

.privacy_jumbotron {
  background-image: url("/assets/files/about/privacy.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    display: flex;
    align-items: flex-end;
    h2 {
      color: #fff !important;
      font-family: "Libre Baskerville", serif;
    }
    @include respond(tab-land) {
      height: 200px
    }
}

.terms_jumbotron {
  background-image: url("/assets/files/about/terms2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    display: flex;
    align-items: flex-end;
    h2 {
      color: #fff !important;
      font-family: "Libre Baskerville", serif;
    }
    @include respond(tab-land) {
      height: 200px
    }
}
