

.blog {
  display: flex;
  padding: 2.5rem 4.5rem;
  flex-wrap: nowrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include respond(tab-land) {
    display: block;
  }
  &__section {
    &--main {
      width: 70%;
      @include respond(tab-land) {
        width: 100%;
      }
    }
  }
  &__main {
    width: 100%;
    height: 85vh;
    background-image: url(/assets/images/blog/news-img2.png);
    background-size: cover;
    background-position: top;
    color: #fff;
    position: relative;
    margin-bottom: 1rem;
    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(/assets/images/blog/news-img2.png);
    }
    &--items {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &--article {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;

      &-name {
        font-weight: lighter;
        font-size: 1.25rem;
        @include respond(tab-land) {
          font-size: 1rem;
        }
        @include respond(tab-port) {
          font-size: 0.75rem;
        }
      }
      &-head {
        font-weight: 600;
        font-size: 3rem;
        line-height: 3rem;
        margin: 1rem 0;
        @include respond(tab-land) {
          font-size: 2rem;
          line-height: 2rem;
          margin: 0.5rem 0;
        }
        @include respond(tab-port) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      &-body {
        visibility: hidden;
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0 2rem;
        overflow: hidden !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        @include respond(tab-land) {
          font-size: 1rem;
          line-height: 1.5rem;
          margin: 0 1rem;
        }
        //@include respond(tab-land){
        //  font-size: rem;
        //  line-height: 1.5rem;
        //}
      }
      &-underline {
        width: 30%;
        margin: 0 auto;
        border-top: 2px solid #fff;
      }
    }
  }
  &__articles {
    margin: 3rem 0;
    &--head {
      position: relative;
      margin-bottom: 2rem;
      &-item {
        display: inline-block;
        background-color: #fff;
      }
      &-head {
        font-weight: 600;
        font-size: 2.5rem;
        @include respond(tab-port) {
          font-size: 2rem;
        }
        @include respond(smart-phone) {
          font-size: 1.5rem;
        }
      }
      &-text {
        color: #086cef;
        font-size: 1.5rem;
        @include respond(tab-port) {
          font-size: 1.25rem;
        }
        @include respond(smart-phone) {
          font-size: 1rem;
        }
      }
      &-rule {
        position: absolute;
        display: block;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0 auto;
        border-top: 3px solid #000;
      }
    }
  }
  &__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    &--card {
      max-width: 300px;
      // margin: 0 auto;
      padding: 1rem 0.5rem 3rem;
    }
    &--head {
      font-weight: 600;
      margin: 1rem 0;
      height: 50px;
      @include respond(tab-port) {
        margin: 0.75rem 0;
      }
    }
    &--image {
      max-width: 100%;
      max-height: 165px;
      img{
        object-fit: cover;
        width: 100%;
        height: 165px;
      }
    }
    &--details {
      font-weight: lighter;
      font-size: 0.75rem;
    }
    &--body {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 1.5rem 0;
      line-height: 1.75rem;
      @include respond(tab-port) {
        margin: 0.75rem 0;
      }
    }
    &--button {
      position: relative;
      @include respond(tab-port) {
        margin: 1rem 0;
      }
      &-btn {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 0;
        padding: 0.35rem 0.75rem;
        cursor: pointer;
        &:hover{
          color: $main-blue;
        }
      }
      &-rule {
        position: absolute;
        display: block;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0 auto;
        border-top: 2px solid #000;
        @include respond(tab-land) {
          border-top: 1px solid #000;
        }
      }
    }
  }
  &__sidebar {
    width: 30%;
    padding: 0 1rem;
    @include respond(tab-land) {
      width: 100%;
    }
    &--section {
      position: relative;
      margin: 0 auto;
      &-head {
        margin-top: 2rem;
      }
    }
    &--head {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 0 auto 2rem;
      &-text {
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #fff;
        padding: 0.5rem 2rem;
      }

      &-rule {
        position: absolute;
        display: block;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        margin: 0 auto;
        border-top: 3px solid #000;
      }
    }
  }
  &__news {
    display: flex;
    flex-wrap: nowrap;
    margin: 0.75rem 0;
   
    @include respond(tab-land) {
      max-width: 300px;
      margin: 1rem auto;
    }
    &--section {
      display: block;
      @include respond(tab-land) {
        display: flex;
        flex-wrap: wrap;
        justify-items: left;
        justify-content: space-between;
      }
    }
    &--image {
      width: 100%;
      max-width: 30%;
      max-height: 70px;
      height: 70px;
      img{
        object-fit: cover;
        width: 100%;
        height: 70px;
      }
    }
    &--text {
      padding-left: 1rem;
      &-head {
        font-weight: 600;
        color: #000;
      }
      &-details {
        font-size: 0.65rem;
        font-weight: lighter;
        color: #000;
      }
    }
    
  }
  &__ad {
    max-width: 300px;
    position: relative;
    margin: 1rem auto;
    &--section {
      width: 100%;
      @include respond(tab-land) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &--image {
      width: 100%;
    }
    &--text {
      font-size: 1.25rem;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      color: #fff;
      font-weight: 600;
    }
  }
  &__comment {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    &--info {
      font-size: 0.75rem;
      margin-bottom: 1rem;
      &-commenter {
        &-img {
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 10rem;
        }
        &-name {
          font-weight: bolder;
        }
      }
    }
    &--text {
      line-height: 1.75rem;
      font-style: italic;
    }
  }
  &__social {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem;
    &--section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--image {
      background-color: #086cef;
      height: 50px;
      width: 50px;
      margin: 0 auto;
      position: relative;
      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 20px !important;
        max-height: 20px !important;
      }
    }
    &--details {
      padding-left: 0.5rem;
      &-head {
        font-weight: bold;
        margin-bottom: 0.25rem;
      }
      &-text {
        font-weight: lighter;
        font-size: 0.75rem;
      }
    }
  }
  &__scroll {
    text-align: center;
    display: block;
    width: 100%;
    margin: 2rem 0;
    @include respond(tab-land) {
      margin: 1rem 0;
    }
    &--btn {
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 0;
      padding: 0.35rem 0.25rem;
      margin: 0.5rem;
      @include respond(tab-land) {
        margin: 0.25rem;
      }
      &-left {
        -webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
      }
      &-right {
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.blog-color-text-sky {
  color: #086cef;
}
.show-shii {
  visibility: visible;
}
.dont-show-shii {
  visibility: hidden;
}
.read-more-btn {
  height: 0.75rem;
  padding-left: 10px;
}
.blog-btn {
  height: 1.2rem;
  @include respond(tab-land) {
    height: 0.9rem;
  }
}
