.wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.mainsection {
    .dashboard {
      font-family: Arial;
      padding: 1.5rem;

      .dashboard-answers {
          text-align: center;
          
          &_heading {
            font-family: "Baskerville Old Face";
            font-weight: 400;
            font-size: 50px;
            color: #212121;
          }
          h4 {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 50px;
            margin-top: -30px;
          }
      }
      
      &-grid {
        display: grid;
        grid-template-columns: 38.7% 59.7%;
        grid-column-gap: 1.6%;
        &-div {
          background-color: #fff;
          box-shadow: 0px 0px 10px #00000029;
          border-radius: 5px;
          padding: 35px 0 70px 37px;
          &-name {
            color: #000;
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 9px;
          }
          
        }
        &-div2 {
          background-color: #fff;
          padding: 30px 24px 34px 18px;
          box-shadow: 0px 0px 10px #00000029;
          border-radius: 5px;
          &-head {
            color: #000;
            margin-bottom: 15px;
            font-weight: 500;
            opacity: 1;
          }
          p {
            color: #545454;
          }
          hr {
            margin-top: 40px;
            margin-bottom: 30px;
          }
          &-desc {
            color:#545454;
            opacity: 1;
            font-size: 15px;
            margin-bottom: 30px;
          }
          &-question {
            color: #545454;
            span {
              font-weight: 600;
            }
          }
          &-answer {
            color: #000;
            font-weight: bold;
          }
         
        }
      }
    }
   
  }
  