.contact {
  &_jumbotron {
    background-image: url("/assets/files/about/3.webp");
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
     display: flex;
    align-items: flex-end;
    h2 {
      color: #fff !important;
      font-family: "Libre Baskerville", serif;
    }
  }
}
