.forgotPassword{
    width: 600px;
    margin: 100px auto;
    font-family: Arial;
    &_head{
        text-align: center;

        &-image{
            width: 400px;
            margin: 0 auto;
        }
        h2{
            font-family: "Baskerville Old Face" !important;
            font-size: 40px;
            line-height: 80px;
            margin-top: 20px;
            font-weight: 500;
        }
    }
    &_form {
        background-color: #F7F7F7;
        border-radius: 5px;
        padding: 100px 50px;
        text-align: left;
        label{
            display: block;
        }
        input{
            margin-top: 10px;
            width: 350px;
            height: 40px;
            border: 1px solid #333;
            outline: none;
            padding: 0 10px;
            font-size: 16px;
            &:active{
                outline: none;
            }
        }
        &-btn{
            margin-top: 40px;
            button{
                    outline: none;
                border: none;
                background-color: $main-blue;
                color: #fff;
                width: 200px;
                height: 40px;
                transition: .5s;
                &:hover{
                    transform: translateY(-5px);
                    transition: .5s;
                }
            }
        }
    }
}
