html {
  overflow-x: hidden;
}

section#home {
  position: relative;

  div.rev_slider.fullwidthabanner {
    max-height: 680px !important;
    height: 680px !important;
  }
}
.home-body {
  .login {
    display: none !important;
  }
}

.home {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial;
  }
  .text-center {
    text-align: center;
  }
  .resources {
    font-family: Arial;
    padding: 77px 0 78px;
    background-color: #f6f6f6;
    text-align: center;
    .container-fluid {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-header {
      font-family: Arial;
      margin-bottom: 17px;
      font-size: 46px;
      line-height: 55px;
      color: #000;
    }
    &-sub {
      color: #086cee;
      font-size: 26px;
      line-height: 40px;
      margin: 0;
    }

    .btn-div {
      button {
        background-color: $main-blue;
        color: #fff;
        width: 250px;
        height: 60px;
        box-shadow: 0px 8px 18px #0000000f;
        border-radius: 5px;
        font-size: 15px;
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 50px;
      width: 1100px;
      margin: 59px auto 75px;
      &-box {
        background-color: #ffffff;
        box-shadow: 0px 8px 18px #0000000f;
        padding: 24px 22px 22px 28px;
        text-align: left;
        border-radius: 5px;
        &-intro {
          color: #aaaaaa;
          font-size: 15px;
        }
        &-image {
          max-width: 200px;
          max-height: 50px;
        }
        &-topic {
          margin: 15px 0 8px;
          color: #000;
          font-weight: 600;
          font-family: Arial;
          line-height: 28px;
        }
        &-desc {
          letter-spacing: 0px;
          color: #000000;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 20px;
        }
        .arrow {
          background: #086cef;
          border: 1px solid #086cef;
          border-radius: 2px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .home-section {
    background-color: transparent;
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;

    &-top {
      text-align: center;
      h2 {
        font-family: "Baskerville Old Face" !important;
        font-size: 80px;
        line-height: 80px;
        color: #fff;
      }
      .desc {
        font-size: 26px;
        color: #bfbfbf;
      }
      &-input-div {
        height: 100px;
        background-color: rgba(255, 255, 255, 0.19);
        margin-top: 25px;
        display: flex;
        align-items: center;
        padding: 0 45px 0 17px;
        button {
          height: 50px;
          border-radius: 5px;
          color: $main-blue;
          font-size: 16px;
        }
        .btn1 {
          width: 140px;
          background-color: #fff;
          margin-right: 14px;
        }
        .input {
          width: 530px;
          height: 50px;
          background-color: #fff;
          border-radius: 5px;
          margin-right: 16px;
          display: flex;
          align-items: center;
          padding: 0 25px;
          input {
            width: 100%;
            border: none;
            color: $main-blue;
            font-size: 16px;
            &::placeholder {
              color: $main-blue;
              font-size: 16px;
            }
          }
        }
        .btn2 {
          width: 220px;
          background-color: $main-blue;
          margin-right: 14px;
          color: #fff;
        }
        .btn3 {
          width: 200px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          border-radius: 5px;
          color: $main-blue;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      width: 85%;
      margin: 100px auto 0;
      .card-div {
        height: 280px;
        background-color: #fff;
        box-shadow: 0px 8px 18px #0000000f;
        border-radius: 3px;
        .top {
          position: relative;
          padding: 10px 10px 0;
          p {
            position: absolute;
            top: 10px;
            left: 10px;
            color: #efecec;
            font-size: 60px;
            font-weight: 700;
            line-height: 50px;
          }
          img {
            margin-top: 10px;
            height: 100px;
          }
        }
        .bottom {
          width: 80%;
          margin: 0 auto;
          h3 {
            color: $main-blue;
            font-size: 30px;
            font-weight: 700;
            margin-top: 10px;
          }
          p {
            color: #000;
            font-size: 16px;
            margin-bottom: 0;
            line-height: 24px;
          }
        }
      }
    }
  }

  .cta {
    background-color: #000;
    &_body {
      padding: 110px 0 40px 65px;
      .row {
        margin: 0;
      }
      &-1 {
        padding: 0;
        p {
          color: #ffffff;
          font-size: 26px;
          line-height: 20px;
          margin: 0;
        }
        h3 {
          color: #fac207;
          font-size: 42px;
        }
      }
      &-2 {
        padding: 0;
        div {
          display: flex;
          align-items: flex-end;
          border-bottom: 1px solid #fff;
          width: 80%;
          height: 60px;
          padding: 0 10px 15px 10px;
          input {
            width: 80%;
            border: none;
            background: transparent;
            color: #fff;
            font-size: 15px;
            &::placeholder {
              color: #fff;
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .form {
    .container {
      padding: 80px 0 100px;
    }
    button {
      background-color: $main-blue;
      color: #fff;
      width: 250px;
      height: 60px;
      box-shadow: 0px 8px 18px #0000000f;
      border-radius: 5px;
      font-size: 16px;
    }
    &-div1 {
      h2 {
        font-size: 2.5rem;
        color: #000;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 30px;
        color: #000;
      }
    }
    &-div2 {
      .row {
        margin: 0;
      }
      &-formgroup {
        width: 325px;
        height: 80px;
        box-shadow: 0px 8px 16px #00000029;
        margin-left: 0;
        display: flex;
        align-items: center;
        input {
          width: 80%;
          height: 70px;
          border: none;
          font-size: 16px;
          color: #9b9b9b;
          &::placeholder {
            color: #9b9b9b;
          }
          &:focus {
            border: none !important;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
          }
        }
      }
      &-formtextarea {
        width: 670px;
        height: 180px;
        box-shadow: 0px 8px 16px #00000029;
        margin-left: 0;
        padding-top: 17px;
        textarea {
          width: 80%;
          height: 130px;
          border: none;
          font-size: 16px;
          color: #9b9b9b;
          resize: none;
          &::placeholder {
            color: #9b9b9b;
          }
          &:focus {
            border: none !important;
            box-shadow: none !important;
            -webkit-box-shadow: none !important;
          }
        }
      }
    }
  }

  .image-aside {
    height: 900px;
    .side {
      position: absolute;
      top: 7vh;
      left: -9vw;
      height: 200px;
      width: 200px;
      border: 25px solid rgba(168, 203, 250, 0.29);
      border-radius: 50%;
    }
    .container-fluid {
      padding: 140px 0 150px 50px;
    }
    .flex {
      display: flex;
    }
    &-div1 {
      width: 50%;
      padding-top: 100px;
      h2 {
        color: #000000;
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 30px;
      }
      p {
        color: #000000;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 70px;
      }
      a {
        background-color: $main-blue;
        color: #fff;
        padding: 20px 50px;
        border-radius: 3px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
    &-div2 {
      position: relative;
      width: 50%;
      img {
        width: 780px;
        max-width: 780px;
        height: auto;
        position: absolute;
        right: -6rem;
      }
    }
  }

  .image-aside2 {
    margin-top: 200px;
    height: 900px;
    .container-fluid {
      padding: 140px 30px 150px;
    }
    .side {
      position: absolute;
      top: 10vh;
      left: -7vw;
      height: 200px;
      width: 200px;
      border: 25px solid #f6f6f6;
      border-radius: 50%;
    }
    .side2 {
      position: absolute;
      bottom: 17vh;
      right: -7vw;
      height: 200px;
      width: 200px;
      border: 25px solid rgba(168, 203, 250, 0.29);
      border-radius: 50%;
    }
    .flex {
      display: flex;
    }
    &-div1 {
      position: relative;
      width: 50%;
      img {
        width: 750px;
        max-width: 750px;
        height: auto;
      }
    }
    &-div2 {
      width: 50%;
      padding-top: 100px;
      h2 {
        color: #000000;
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 30px;
      }
      p {
        color: #000000;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 100px;
      }
      a {
        background-color: $main-blue;
        color: #fff;
        padding: 20px;
        border-radius: 3px;
        font-size: 16px;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  #search__dropdown{
    cursor: pointer;
  }
  #search__dropdown p{
    padding: 5%;
  }
  #search__dropdown p:hover{
    background-color:grey;
  }
  #team {
    .title {
      color: #000;
      font-size: 46px;
    }
    .desc {
      color: $main-lightblue;
      font-size: 26px;
    }
    .team {
      &-link {
      color: $main-blue;
      font-size: 16px;
      box-shadow: 0px 8px 18px #0000000f;
      border: 2px solid $main-blue;
      padding: 20px 15px;
      border-radius: 3px;
      background-color: transparent;
      transition: .5s;
      
      &:hover {
        color: $main-blue;
        transform: translateY(-5px);
        transition: .5s;
      }
      &-div{
        text-align: center;
        margin: 50px 0 20px;
      }
    }
      &-thumb {
        h4 {
          background-color: #086cee70;
          border-left: 4px solid#086CEE;
          span.small {
            position: relative;
            top: 0;
            right: 0;
          }
        }
      }
      &-bottom {
        &-name {
          color: #000;
          font-size: 15px;
        }
        &-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-div1 {
            p {
              color: #000;
              font-size: 13px;
            }
          }
          &-div2 {
            a {
              color: #fff;
              background-color: $main-blue;
              padding: 10px 7px;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }

  .cities {
    background-image: url("/assets/files/433.png"),
      linear-gradient(rgba(12, 31, 124, 0.75), rgba(1, 16, 91, 0.75));
    background-blend-mode: overlay;
    height: 730px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    .container {
      padding-top: 20px;
    }
    &-header {
      font-size: 46px;
      color: #fff;
    }
    &-desc {
      font-size: 26px;
      margin-bottom: 40px;
    }
    &-grid {
      width: 80%;
      margin: 0 auto 50px;
      a {
        color: #fff;
        display: block;
        text-align: left;
        font-size: 16px;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    &-link {
      color: #fff;
      font-size: 16px;
      box-shadow: 0px 8px 18px #0000000f;
      border: 2px solid #ffffff;
      padding: 20px 15px;
      border-radius: 3px;
      &:hover {
        color: #fff;
      }
    }
  }
}
