#local-agent-top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
    url("/assets/files/page-15-top-img.webp") no-repeat center center/cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Baskerville Old Face" !important;
}

.home-section {
  background-color: transparent;
  position: absolute;
  top: 12vh; 
  left: 0;
  right: 0;

  &-top {

    text-align: center;
    h2 {
      font-family: "Baskerville Old Face" !important;
      font-size: 60px;
      line-height: 80px;
      color: #fff;
    }
    .desc {
      font-family: Arial;
      font-size: 22px;
      color: #bfbfbf;
    }
    &-input-div {

      font-family: Arial;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.19);
      margin: 25px auto 0;
      width: 1000px;
      display: flex;
      align-items: center;
      padding: 0 45px 0 17px;
      &-3{
            display: none;
          }
      button {
        height: 50px;
        border-radius: 5px;
        color: $main-blue;
        font-size: 16px;
      }
      .btn1 {
        width: 140px;
        background-color: #fff;
        margin-right: 14px;
        span{
            margin-left: 10px;
                img{
                  width: 12px;
                height: 12px;
                }
              }
      }
      .input {
        width: 530px;
        height: 50px;
        background-color: #fff;
        border-radius: 5px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        padding: 0 25px;
        input {
          width: 100%;
          border: none;
          color: $main-blue;
          font-size: 16px;
          &::placeholder {
            color: $main-blue;
            font-size: 16px;
          }
        }
      }
      .btn2 {
        width: 220px;
        background-color: $main-blue;
        margin-left: 14px;
        color: #fff;
      }
      .btn3 {
        width: 200px;
        background-color: #fff;
      }
    }
    @include respond(laptop) {
        h2{
          font-size: 40px!important; 
          line-height: normal;
        } 
        .desc {
          font-size: 18px!important;
          width: 70%!important;
          margin: 0 auto;
        }
        &-input-div {
          height: auto;
          width: 100%;
          padding: 20px;
          &-1{
            margin: 30px auto;
          }
          &-2{
            margin: 0 auto 30px;
          }

          
          .input{
            margin-right: 0!important;
          }
        }     
      }
      @include respond(tab-land) {
        &-input-div {
          .dropdown, .input{
            display: none;
          }
          &-3 {
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            background-color: #fff;
            height: 50px;
            margin-top: 30px;
            &-select{
              padding: 0 10px;
              width: 30%;
              select{
              border: none;
              height: 50px;
              }
            }
            input{
              border: none;
              padding: 0 10px;
              margin-left: 20px;
              width: 70%;
            }
          }
          display: block;
          button, .btn3{
            font-size: 14px;
          }
          .btn1{
            margin-right: 0;
          }
          .input{
            width: 70%;
            margin: 20px auto!important;
            input, input::placeholder{
              font-size: 14px;
            }
          }
        }    
      }
      @include respond(tab-port) {
        &-input-div {

          .input{
            width: 60%;
          }
        }    
      }
      @media (max-width: 540px) {
        &-input-div {
          .input{
            width: 50%;
          }
        }    
      }
      @include respond(smart-phone) {
        h2{
          font-size: 30px!important; 
          line-height: normal;
        } 
        .desc {
          font-size: 16px!important;
          width: 70%!important;
          margin: 0 auto;
        }  
        &-input-div {
          &-1{
            display: block;
            width: 100%;
            .dropdown{
              position: relative;
              width: 140px;
              margin: 0 auto 30px;
              
            }
            .input{
              display: inline-flex;
              width: 70%;
            }
          }
        }   
      }
      @include respond(smaller-phone) {
        &-input-div {
          .input{
            width: 90%;
          }
          &-2{
            display: contents;
            .btn2{
              margin: 0 auto 30px;
              width: 200px;
            }
            .btn3 {
              margin: 0 auto 30px;
            }
          }
        }    
      }
      #search__dropdown{
    cursor: pointer;
  }
  #search__dropdown p{
    padding: 5%;
  }
  #search__dropdown p:hover{
    background-color:grey;
    color: #fff;
  }
  }


}

#section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 700px;
}

#section-2 .img {
  flex-grow: 1;
  width: 100%;
}

#section-2 .text {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  // align-items: center;
}

#section-2 .text h3 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #070707;
}

#section-2 .text p {
  text-align: left;
  padding-top: 1rem;
  font-size: 20px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #070707;
}

#section-2 .b-ton-blu {
  color: #fff;
  background: #01105b;
  align-self: left;
  text-align: left;
  font-size: 16px;
  margin: 2rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 35%;
}

#section-2 .b-ton-blu span {
  margin-left: 2rem;
}

#section-2 {
  .mobile-text{
    display: none!important;
  }
  @include respond(small-laptop) {
      margin-top: 900px;
      height: auto;
      .text{
        padding-top: 0;
        h3{
          font-size: 24px;
          line-height: 36px;
        }
        p{
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 50px;
        }
      }
    }

    @include respond(tab-land) {
     display: block;
     .mobile-text{
        display: block;
      }
      .b-ton-blu{
        margin: 0 auto;
      }
      .normal-text{
        display: none;
      }
     .img {
        margin: 0 auto;
        width: 60%;
      }
      .text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        h3{
          font-size: 24px;
          line-height: 32px;
          margin: 20px 0;
          text-align: center!important;
        }
        p{
          font-size: 14px;
          margin-bottom: 40px;
          text-align: center!important;
        }
        a{
          font-size: 14px;
          text-align: center!important;
        }
      }
    }

    @media (max-width: 800px) {
      margin-top: 900px;
      .flex{
        display: block;
        margin-top: 70px;
      }
      &-div1{
        margin: 0 auto;
        width: 60%;
      }
      &-div2{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        h2{
          font-size: 24px;
          line-height: 32px;
          margin: 20px 0;
        }
        p{
          font-size: 14px;
          margin-bottom: 40px;
        }
        a{
          font-size: 14px;
        }
      }
    }
    @include respond(tab-port) {
      .flex{
        margin-top: 120px;
      }
    }
    @include respond(smart-phone) {
      .container-fluid{
        padding: 140px 30px 50px!important;
      }
      .flex{
        margin-top: 170px;
      }
      &-div1{
        width: 70%;
      }
    }
    @include respond(smaller-phone) {
      
      margin-bottom: 50px;
      .flex{
        margin-top: 280px;
      }
      &-div1{
        width: 90%;
      }
      &-div2{
        h2{
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
}


// cities section

#cities-section {
  background-image: url("/assets/files/433.webp"),
    linear-gradient(rgba(1, 16, 91, 0.75), rgba(1, 16, 91, 0.75));
  background-blend-mode: overlay;
  height: 730px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  .container {
    padding-top: 20px;
  }
}

#cities-section h2,
#cities-section p,
#cities-section a {
  color: #fff;
}

#cities-section h2 {
  font-size: 46px;
}

#cities-section p {
  font-size: 26px;
  margin-bottom: 40px;
}

.city-group {
  width: 80%;
  margin: 0 auto 50px;
}

#cities-section .city-row a {
  display: block;
  text-align: left;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

#cities-section .city-row a:hover {
  text-decoration: underline;
  font-size: 16px;
}

@media (max-width: 500px) {
  // #cities-section .city-group {
  //   display: flex !important;
  //   flex-wrap: wrap;
  // }

  // #cities-section .city-row {
  //   flex: 1 1 50%;
  // }
}

#cities-section .cities-link {
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 8px 18px #0000000f;
  border: 2px solid #ffffff;
  padding: 20px 15px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

#cities-section .cities-link span {
  color: #fff;
  font-size: 16px;
  padding-left: 1rem;
}

#cities-section .cities-link:hover {
  transform: scale(1.04);
}

// top rated

.top-rated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0;
}

.top-rated h3 {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #070707;
}

.top-rated p {
  padding-top: 1rem;
  font-size: 20px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #086cee;
}

.top-rated .b-ton-wht {
  color: #01105b;
  background: #d2d2d233;
  align-self: left;
  text-align: left;
  font-size: 16px;
  margin: 2rem 0;
  border: 1px solid #01105b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.top-rated .b-ton-wht span {
  margin-left: 2rem;
}

// resources
.resources {
    font-family: Arial;
    padding: 77px 0 78px;
    background-color: #f6f6f6;
    text-align: center;
    .container-fluid {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-header {
      font-family: Arial;
      margin-bottom: 17px;
      font-size: 46px;
      line-height: 55px;
      color: #000;
    }
    &-sub {
      color: #086cee;
      font-size: 26px;
      line-height: 40px;
      margin: 0;
    }

    .btn-div {
      button {
        background-color: $main-blue;
        color: #fff;
        width: 250px;
        height: 60px;
        box-shadow: 0px 8px 18px #0000000f;
        border-radius: 5px;
        font-size: 15px;
      }
    }
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 50px;
      width: 1100px;
      margin: 59px auto 75px;
      &-box {
        background-color: #ffffff;
        box-shadow: 0px 8px 18px #0000000f;
        padding: 24px 22px 22px 28px;
        text-align: left;
        border-radius: 5px;
        &-intro {
          color: #aaaaaa;
          font-size: 15px;
        }
        &-image {
          max-width: 200px;
          max-height: 50px;
          width: 200px;
          height: 50px;
          object-fit: cover;
        }
        &-topic {
          margin: 15px 0 8px;
          color: #000;
          font-weight: 600;
          font-family: Arial;
          line-height: 28px;
          font-size: 20px;
        }
        &-desc {
          letter-spacing: 0px;
          color: #000000;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 20px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        &-btn{
          height: 40px;
          border-radius: 5px;
          color: $main-blue;
          
        }
        .arrow {
          background: #086cef;
          border: 1px solid #086cef;
          border-radius: 2px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(-90deg);
        }
      }
    }

    @include respond(laptop) {
      &-header {
        font-size: 40px;
        line-height: 50px;
      }
      &-sub {
        font-size: 20px;
        line-height: 26px;
      }
      &-grid{
        grid-column-gap: 20px;
        width: 100%;
        &-box {
          width: 300px;
          margin: 0 auto;
          &-topic {
          font-size: 18px;
          line-height: 24px;
        }
        &-desc {
          font-size: 14px;
        }
        }
      }
    }
    @include respond(small-laptop) {
      &-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
     @include respond(tab-land) {
      &-grid{
        display: block;
        width: 100%;
        &-box {
          width: 70%;
          min-width: 300px;
          margin: 0 auto 30px;
          &:nth-of-type(n+4){
            display: none;
          }
        }
      }
    }
  }

// @media (max-width: 800px) {
//   .resources-grid {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-column-gap: 4%;
//     grid-template-areas: "resources-grid-box ";
//     width: 90%;
//     margin: 50px auto 50px;
//   }
// }

#team {
    .title {
      color: #000;
      font-size: 46px;
    }
    .desc {
      color: $main-lightblue;
      font-size: 26px;
    }
    .team {
      &-link {
      color: $main-blue;
      font-size: 16px;
      box-shadow: 0px 8px 18px #0000000f;
      border: 2px solid $main-blue;
      padding: 20px 15px;
      border-radius: 3px;
      background-color: transparent;
      transition: .5s;
      
      &:hover {
        color: $main-blue;
        transform: translateY(-5px);
        transition: .5s;
      }
      &-div{
        text-align: center;
        margin: 50px 0 20px;
      }
    }
      &-thumb {
        h4 {
          background-color: #086cee70;
          border-left: 4px solid#086CEE;
          span.small {
            position: relative;
            top: 0;
            right: 0;
          }
        }
      }
      &-bottom {
        &-name {
          color: #000;
          font-size: 15px;
        }
        &-flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-div1 {
            p {
              color: #000;
              font-size: 13px;
            }
          }
          &-div2 {
            a {
              color: #fff;
              background-color: $main-blue;
              padding: 10px 7px;
              border-radius: 3px;
            }
          }
        }
      }
    }
    @include respond(tab-land) {
      .title {
        font-size: 22px;
      }
      .desc {
        font-size: 18px;
      }
      .single-member.maxwidth400{
        width: 300px;

        .team-thumb{
          .img-fullwidth{
            width: 300px;
            height: 200px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .cities{
  .city-select{
      display: none;
    }
    @include respond(small-laptop) {
      .city-group{
        width: 100%;
      }
    }
    @include respond(tab-land) {
      height: auto!important;
      .city-group{
        display: none;
      }
      .city-select{
        display: block;
        border: 1px solid #fff;
        width: 60%;
        margin: 0 auto 60px;
        padding: 0 10px;
        background-color: rgba(255,255,255,0.5);
        select{
          width: 100%;
          height: 50px;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
      &-header {
        font-size: 30px!important;
      }
      &-desc {
        font-size: 18px!important;
      }
    }
}

 
