.offshoreTeam{
  color: #000000;

* {
  box-sizing: border-box;
}
p,h2,h1,h3,h4,h5,h6,div{
  font-family: Arial;
}

.bold {
  font-weight: 600;
}

a:hover,
.btn:hover {
  color: orange;
}

.centered {
  text-align: center;
}

.clearfix {
  content: "";
  clear: both;
}

.wrapper {
  padding: 200px 18px;
}

.page-wrapper {
  padding: 100px 18px;
}

.form-wrapper{
  padding: 0 30px 18px
}

.wrapper2 {
  padding-left: 60px;
  padding-right: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

.get-started-btn {
  padding: 15px 60px;
  background: #01105b;
  color: white;
  border-radius: 3px;
  transition: .5s;
  span{
    width: 20px;
    margin-left: 10px;
    img{
      width: 12px;
      height: 12px;
      padding-left: 0;
      transform: rotate(90deg);
    }
  }
  &:hover{
    transform: translateY(-5px);
    color: #fff;
    transition: .5s;
  }
}

.btn-center {
  margin-left: 150px;
}

.card-text {
  margin-bottom: 30px;
}

.bullet{
    list-style-type: disc;
    margin-bottom: 50px;
    li{
      list-style-type: disc!important;
      font-size: 20px;
    }
  }

.background-image {
  .page-heading_large-image {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("https://enrolled-public.s3.amazonaws.com/assets/officialAssets/11.webp");
    background-repeat: no-repeat;
  background-position: center center;
    background-size: cover;
  }
  .page-heading_get-started {
    margin: 20px 120px;
    @media (min-width: 1200px) {
      margin: 20px 500px;
    } 
  }

  .page-heading {
    text-align: center;
  }

  sup {
    font-size: 25px;
    @media (min-width: 1200px) {
      font-size: 40px;
    }
  }

  .page-heading_title {
    color: #ffffff;
    font-family: Baskerville Old Face;
    font-weight: 500;
    line-height: 0.9;
    @media (min-width: 1200px) {
      width: 1000px;
      font-size: 80px;
      margin-left: 70px;
    }
  }

  .page-heading_subtitle {
    font-size: 20px;
    color: white;
    margin: 10px auto;
    @media (min-width: 1200px) {
      width: 800px;
      color: #bfbfbf;
      font-size: 21px;
      margin: 25px auto;
      padding: 0;
    }
  }
}

.enrolled-stats {
  height: 150px;
  background-color: #f6f6f6;
  color: #000000;
  display: flex;
  align-items: center;
}

.enrolled-stats_section {
  h2 {
    color: #086cef;
    font-size: 50px;
  }

  h4 {
    font-weight: 600;
    color: #000000;
    font-size: 26px;
    
  }

  &-tp-mg {
    margin-top: 10px;
  }
}

.create-account {
  .no-top-margin-for-sm-scr {
    margin-top: -50px;
    @media (min-width: 1200px) {
      margin-top: 50px;
    }
  }

  .neg-left-mar {
     margin-left: -100px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .create-account_lg-scr {
    width: 100%;
    @media (min-width: 1200px) {

    }
  }

  .create-account_description {
    text-align: left;
    @media (min-width: 1200px) {
      margin: 150px 0 70px -70px; 
    }
    p {
      font-size: 15px;
      margin-bottom: 30px;
      @media (min-width: 1200px) {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 40px;
      }
    }
  }

  .create-account_description h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px;
    color: #000;
    @media (min-width: 1200px) {
      font-size: 36px;
      font-weight: 600;
      text-align: left;
      line-height: 1.1;
    }
  }

  .btn-positioning {
    margin-left: 110px;
    display: inline-block;
    @media (min-width: 1200px) {
      margin-left: 0px;
    }
  }

  

  @media (min-width: 1200px) {
    .additional-left-mar {
      margin-left: -30px;
      margin-bottom: 0;
    }
  }
}

.video-section {
  
    @media (min-width: 1200px) {
    
    }
  }

  .video-section_div {
   text-align: center;
  }

  .video-section_vid-player {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    @media (min-width: 1200px) {
      height: 450px;
      
    }
  }

  .video-section_div h2 {
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    color: #000;

    @media (min-width: 1200px) {
      font-size: 40px;
      text-align: center;
    }
  }

  .video-section_div h4 {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #000;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
      font-size: 27px;
      text-align: center;
    }
  }

.create-account_div1 {
  height: 100%;
}

.section-paddings {
  padding: 80px 0 100px;
 // padding-right: 10px;
}

.buttons {
  padding: 15px 20px;
  background: #01105b;
  color: #ffffff;
  border-radius: 3px;
  transition: .5s;
  font-size: 18px;
  &:hover{
    transform: translateY(-5px);
    color: #fff;
    transition: .5s;
  }

}

.btn-get-started {
  background-color: inherit;
  border-radius: 3px;
  border: 1px solid #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.top-bottom-margin {
  margin: 20px;
}

.create-account-push-down {
  margin-top: 100px;
}

.create-account2 {
  h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 15px;
    color: #000;
    @media (min-width: 1200px) {
      font-size: 36px;
      font-weight: 600;
      text-align: left;
      line-height: 1.1;
    }
  }
   p {
      font-size: 15px;
      margin-bottom: 30px;
      @media (min-width: 1200px) {
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 40px;
      }
    }

}

.large-screen-display {
  display: none;
}

.small-screen-display {
  margin-top: 90px;
  margin-bottom: 35px;
}

@media (min-width: 1200px) {
  .small-screen-display {
    display: none;
  }
  .large-screen-display {
    display: block;
  }
}

.wrapper2 {
  margin: 0 30px;
}

.enrolled-procedures {
  .enrolled-procedures_steps {
    background: #f6f6f6;
    @media (min-width: 1200px) {
     
      h4 {
        font-size: 22px;
        font-weight: 500;
        color: #000;
        margin-bottom: 60px;
      }
    }
    &-2{
      &_signup {
      font-size: 19px;
      color: #000;
      @media (min-width: 1200px) {
        font-size: 22px;
      }
    }
    &_description {
      font-size: 12px;
      color: #000;
      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }
    }
    &-1_signup {
      font-size: 19px;
      color: #000;
      @media (min-width: 1200px) {
        font-size: 22px;
      }
    }
    &-1_description {
      font-size: 12px;
      color: #000;
      @media (min-width: 1200px) {
        font-size: 14px;
      }
    }
  }

  &_header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
     color: #000;
    @media (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .arrow-div {
    position: absolute;
    top: 60px;
    height: 42px;
    width: 52px;
    margin-left: -50px;
    background: #f6f6f6;
    @media (min-width: 1200px) {
    }
  }

  &_steps-1-img {
    height: 100px;
    width: 100px;
    margin: 0 auto 40px;
    background: transparent radial-gradient(closest-side at 50% 50%, #005492 43%, #035693 44%, #4582AF 53%, #7DA8C7 62%, #ACC7DB 71%, #D0DFEA 80%, #E9F0F6 87%, #F9FBFC 94%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    border-radius: 50px;
    border: #4e87b1 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;

    .radial{
      background: #FFFFFF;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 80px;
    }

    h3 {
      color: #01105b;
      font-weight: 600;
      font-size: 30px;
    }
  }

  p {
    font-size: 15px;
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
  .get-started-button-div{
    display: flex;
    justify-content: center;
    .btn-pos-center {
    margin-bottom: 50px;
    @media (min-width: 1200px) {
      margin-bottom: 70px;
    }
  }
}
  }

  

.enrolled-offers {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
        url("https://enrolled-public.s3.amazonaws.com/assets/images/4.webp");
    background-repeat: no-repeat;
  background-position: center center;
    background-size: cover;
  color: #d6d6d6;
  margin-top: -30px;
  @media (min-width: 1200px) {
   
  }

  &_section{
    h4{
      font-weight: 600;
      margin-bottom: 15px;
    }
    p{
      font-weight: 400;
      color: #fff;
      font-size: 15px;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    color: #ffffff;
  }

  h2 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 50px;
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }

  h5 {
    font-size: 22px;
    padding-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 24px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.enrolled-form {
  background: #f6f6f6;
  margin-bottom: -40px;

  .enrolled-form_title {
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  h2 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #000;
  }

  h4 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #000;
  }

  input,
  select {
    height: 35px;
    width: 350px;
    margin: 5px 60px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 0;
    @media (min-width: 1200px) {
      height: 45px;
      width: 400px;
      margin: 12px 60px;
    }
  }

  label {
    margin-left: 60px;
  }

  .make-up-margin-for-label {
    margin-top: 45px;
  }

  .additional-top-margin {
    margin-top: 20px;
  }

  .additional-left-mar-for-txt-lab {
    margin-left: 90px;
  }

  .optional-message {
    width: 355px;
    margin-left: 75px;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 1px solid grey;
    border-radius: 0;
    @media (min-width: 1200px) {
      width: 955px;
      margin-left: 90px;
    }
  }

  .small-inputs {
    margin-left: -15px;
  }

  .small-inputs_area {
    width: 195px;
  }

  .small-inputs_area-pull-left {
    margin-left: -5px;
  }
}

.btn-pull-center {
  margin-left: 470px;
  margin-bottom: 50px;
}

}
