

.signup,
.login {
  // max-width: 1376px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  &-body {
    margin: 0;
    // base styles for the whole page
    background-color: #f6f6f6;
    line-height: 1.5rem;
    word-spacing: 1px;
    width: 100vw;
    // max-width: 1377px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  @include respond(tab-land) {
    font-size: 12px;
  }
}
.signup {
  width: 70vw;
  margin: 10px auto;
  @include respond(tab-land) {
    width: 100%;
  }
  &__header {
    width: calc(100% + 16px);
    background: #01105b;
    text-align: center;
    margin-top: -8px;
    margin-left: -8px;
    &--img {
      padding: 0.5rem;
      height: 80px;
      width: auto;
      @include respond(tab-land) {
        height: 50px;
      }
    }
  }
  &__head {
    margin-top: 2rem;
    &--link {
      font-size: 1.2rem;
    }
    &--main {
      margin-bottom: 2rem;
      @include respond(tab-land) {
        margin-bottom: 1rem;
      }
      &-head {
        font-size: 3rem;
        font-weight: 400;
        font-family: "Libre Baskerville", serif;
        margin: 1rem 0;
        line-height: 3.5rem;
        @include respond(tab-land) {
          font-size: 2rem;
          line-height: 2.25rem;
          margin: 0.5rem 0;
        }
      }
    }
    &--text {
      @include respond(tab-land) {
        text-align: center;
        padding: 0 30px;
      }
    }
  }

  &__social,
  &__email {
    margin: 50px 0;
    padding: 30px 60px;
    text-align: left;
    @include respond(tab-land) {
      margin: 30px 0;
      padding: 15px;
    }
    &--form {
      .signup-form {
        &__group {
          width: 48%;
          @include respond(tab-land) {
            margin: 0 auto;
            input {
              font-size: 14px;
            }
          }
          
        }
        .special {
          width: 65%;
        }
        &__checkboxs {
          margin: 0 auto !important;
          width: 50% !important;
          @include respond(tab-land) {
            width: 70% !important;
          }
        }
        &__checkbox--group {
          justify-content: center;
        }
      }
    }
    &--head {
      font-weight: 700;
      font-size: 1.2rem;
    }
    &--text {
      margin: 20px 0;
      padding: 0 10px;
    }
    &--btns {
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      justify-content: space-between;
      @include respond(tab-land) {
        display: block;
        text-align: center;
      }
    }
    &--btn {
      @include respond(tab-land) {
        margin-bottom: 1rem;
      }
      &-facebook {
        background: #1dc1ff;
      }
      &-google {
        background: #b20707;
      }
      &-linkedin {
        background: #5082f6;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: #78b3ff;
  }
  &-card {
    box-shadow: 0 0 1rem rgba(#2114140f, 0.1);
    background-color: #fff;
    text-align: center;
  }
  &-btn {
    height: 3rem;
    width: 280px;
    border-radius: 3px;
    border: none;
    color: #fff;
    position: relative;
    @include respond(tab-land) {
      width: 80%;
    }
    &-icon {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
    }
    &-img {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  //==================SIGNUP FORM============//@at-root
}
// ========== LOGin ======= //

//==============FORMS===============//
.signup,
.login {
  &-form {
    margin: 20px 0;
    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__input {
      color: #000;
      font-size: 1.05rem;
      padding: 0.5rem 0.25rem;
      border: none;
      border-bottom: 1px solid #949494;
      width: 100%;
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000, 0.1);
        border-bottom: 1.5px solid #000;

        &:invalid {
          border-bottom: 1.5px solid red;
        }
      }

      &::-webkit-input-placeholder {
        color: #949494;
      }
    }

    &__label {
      font-size: 0.75rem;
      margin-left: 5px;
      display: block;
      transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
    &__group:not(:last-child) {
      margin-bottom: 1rem;
    }
    &__group {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      min-width: 280px;
      //display: inline-block;
    }
    &__checkbox {
      // font-size: 0.65rem;
      // margin: 20px 0;
      &--group {
        margin: 5px 0;
        display: flex;
        align-items: center;
        input {
          margin: 0 10px 0 0;
        }
      }
    }

    &__agreement {
      text-align: center;
    }
    &__submit {
      width: 75%;
      background-color: #01105b;
      border-radius: 5px;
      margin: 20px 0 10px;
      font-size: 1rem;
      @include respond(tab-port) {
        font-size: 14px;
      }

    }
  }
}
.login {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  &__card {
    display: flex;
    height: 100vh;
    @include respond(tab-port) {
      display: block;
      width: 100%;
      height: auto;
    }
    &-left {
      width: 41.5%;
      min-width: 300px;
      padding: 70px 45px;
      background-image: linear-gradient(to bottom, rgba(1, 16, 91, 0.8), rgba(1, 16, 91, 0.8)),
        url("/assets/images/signup/login-bg.webp");
      background-size: cover;
      background-position: top;
      color: #fff;
      text-align: left;

      box-sizing: border-box;
      -moz-box-sizing: border-box;
      @include respond(tab-land) {
        padding: 10px;
      }

      @include respond(tab-port) {
        display: block;
        padding: 20px 40px;
        max-width: 600px;
        width: 100%;
        // text-align: center;
      }
      @include respond(smart-phone) {
        padding: 20px;
      }
    }
    &-right {
      width: 58.5%;
      // min-width: 500px;
      padding: 50px 66px;
      @include respond(tab-port) {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 20px 10px;
      }
    }
  }

  &-right {
    &__footer {
      display: none;
      @include respond(tab-port) {
        display: none;
      }
    }
  }
  &-left {
    &__banner {
      margin-bottom: 80px;
      @include respond(tab-port) {
        margin-bottom: 10px;
      }
      &-img {
        width: 60%;
        @include respond(tab-port) {
          max-width: 300px;
        }
      }
    }
    &__text {
      margin-bottom: 40px;
      @include respond(tab-port) {
        margin-bottom: 20px;
        text-align: center;
      }
      &-head {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
    &__btns {
      @include respond(tab-port) {
        margin-bottom: 20px;
      }
      &-btn {
        margin-bottom: 15px;
        @include respond(tab-land) {
          margin: 15px 0;
          text-align: center;
        }
        .login-btn {
          height: 60px;
          margin-bottom: 30px;
          border-radius: 3px;
          width: 80%;
        }
      }
    }
    &__footer {
      margin-top: 120px;
      @include respond(tab-port) {
        display: none!important;
      }
    }
  }

  &-main {
    text-align: left;
    &__head {
      margin-bottom: 20px;
      @include respond(tab-port) {
        display: none;
      }
      &-main {
        font-size: 3rem;
        font-weight: 400;
        font-family: "Libre Baskerville", serif;
        line-height: 3.5rem;
      }
      &-text {
        margin-top: 15px;
      }
    }
    &__text {
      margin-top: 5rem;
      @include respond(tab-port) {
        margin-top: 1rem;
        text-align: center;
      }
      &-head {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }

  &-btn {
    height: 2.5rem;
    width: 95%;
    border: none;
    color: #fff;
    position: relative;
    @include respond(tab-port) {
      max-width: 300px;
    }
  }
  form {
    margin-top: 5rem;
    width: 90%;
    @include respond(tab-port) {
        width: 90%;
        margin: 2rem auto;
    }
  }
  &-form {
    &__input {
      width: 100%;
      @include respond(tab-land) {
        font-size: 14px;
    }
    }
    &__btn {
      // text-align: center;
      margin: 2rem 0;
      button {
        width: 100%;
      }
    }
    &__submit {
    }
  }
}
.form-error {
  font-size: 0.75rem;
  color: red;
}

.login-center{
  text-align: left;
   @include respond(tab-land) {
    text-align: center;
  }
}

