.singleBlog {
  .blog-bg {
    .jumbo {
      h2 {
        color: #fff !important;
      }
    }
  }
  .tags {
        border-bottom: 1px solid #d3d3d3;
  }
  .btn{
    height: 40px;
    
  }
  .entry-date{
    background-color: $main-blue;
  }
}
