.findEA-locations__group{
    width: auto;
}
.findEA-locations{
    display: flex;
    padding: 0px 3rem 3rem;
    flex-wrap: wrap;
    height: 450px;
    overflow: hidden;
    justify-content: space-evenly;
}