<section class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-5 form-div1">
          <h2>Request a call Back</h2>
          <p>
            Please fill out the form and press the submit button. We will get back to you with
            1-2 business days
          </p>
        </div>
        <form class="col-md-7 form-div2">
          
          <div class="row mb-30">
            <div class="col-md-6 form-div2-formgroup mr-20">
              <input type="text" placeholder="Full Name*" required />
            </div>
            <div class="col-md-6 form-div2-formgroup">
              <input type="email" placeholder="Email*" required />
            </div>
          </div>
          <div class="row mb-30">
            <div class="col-md-6 form-div2-formgroup mr-20">
              <input type="text" placeholder="Subject*" required />
            </div>
            <div class="col-md-6 form-div2-formgroup">
              <input type="tel" placeholder="Phone Number" />
            </div>
          </div>
          <div class="row mb-50">
            <div class="col-md-12 form-div2-formtextarea">
              <textarea placeholder="Message*"></textarea>
            </div>
          </div>
          <button type="submit">Submit Now</button>
        </form>
      </div>
    </div>
  </section>
