<!-- Footer -->
<footer id="footer" class="footer myFooter" data-bg-color="#152029">
  <div class="container-fluid pt-70 pb-40 pl-80 myFooter__top">
    <div class="row">
      <div class="widget dark myFooter__top-img">
        <img alt="" src="/assets/files/logo.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 myFooter__top-section">
        <div class="col-sm-4 myFooter__top-section-flex">
          <p class="transform clearfix">Services</p>
          <div class="link-div">
            <a href="/find-agent">Find a Local Accountant</a>
            <a href="/ea-listings">All Enrolled Agents</a>
            <!-- <a href="#">Accounting Firms</a> -->
            <a href="/ask-ea">Ask a EA</a>
            <a href="/license-verification">License Verification</a>
            <a href="#">Get Our Free App</a>
          </div>
        </div>
        <div class="col-sm-4 myFooter__top-section-flex">
          <p class="transform">Enrolled Agents</p>
          <div class="link-div">
            <a href="/login">Log in</a>
            <a href="/register">Sign Up</a>
            <a href="#">Free Enrolled Agents Listings</a>
            <a href="#">Why Upgrade?</a>
            <a href="#">Frequently Asked Questions</a>
            <a href="/career-center">EA Career Center</a>
          </div>
        </div>
        <div class="col-sm-4 myFooter__top-section-flex">
          <p class="transform">Company</p>
          <div class="link-div">
            <a href="/about-us">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="#">Our Partners</a>
            <a href="#">Advertise with Us</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Use</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 myFooter__top-section2">
        <div class="col-md-8 myFooter__top-section2-sub">
          <p class="myFooter__top-section2-sub-text">Join Our Mailing List</p>
          <form id="newsletter-form" class="myFooter__top-section2-sub-form">
            <input class="myFooter__top-section2-sub-form-input" type="email" id="newsletter-email"
              placeholder="Email Address" />
            <!-- <input class="myFooter__top-section2-sub-form-submit" type="submit"  id="newsletter-email" value="Join" /> -->
            <!-- <button class="myFooter__top-section2-sub-form-submit" onclick="subscribeToNews()" type="submit"   value="Join" >Join</button> -->
          </form>
          <button class="myFooter__top-section2-sub-form-submit" onclick="subscribeToNews()" type="submit"
            id="newsletter-join" value="Join">Join</button>

        </div>
        <div class="col-md-4 myFooter__top-section2-end">
          <div class="myFooter__top-section2-end-arrow">
            <a class="" href="#"><img src="/assets/files/up.svg" alt="scroll-to-top" /></a>
          </div>
          <div class="myFooter__top-section2-end-text">
            <p>Connect With Us</p>
            <div class="myFooter__top-section2-end-text-icons">
              <div class="twitter-div">
                <a href="#">
                  <img src="/assets/files/Twitter.svg" alt="twitter-logo" />
                </a>
              </div>
              <div class="fb-div">
                <a href="#">
                  <img src="/assets/files/Facebook.svg" alt="facebook-logo" />
                </a>
              </div>
              <div class="ig-div">
                <a href="#">
                  <img src="/assets/files/Instagram.svg" alt="instagram-logo" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="footer-bottom myFooter__bottom">
  <div class="pt-20 pb-20">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="m-0">©EnrolledAgent.com | All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>



<%- include("./info.ejs") %>
<script src="/javascripts/newsletter.js"></script>
