<!-- Header --> 
<header id="header" class="header myNav">
  <div class="header-top myNav_header sm-text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div class="widget text-white">
            <ul class="list-inline xs-text-center text-white my-left">
              <li class="m-0 pl-10 pr-10">
                <a href="#" class="text-white"
                  ><i class="fa fa-phone text-theme-colored2"></i> 1-855-22-AGENT</a
                >
              </li>
              <li class="m-0 pl-10 pr-10">
                <a href="mailto:info@enrolledagent.com" class="text-white">
                  <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i>
                  info@enrolledagent.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4">
          <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
            <li class="m-0 pl-10">
              <% if(locals.isAuthenticated)  { %>
                
              <a href="/dashboard" class="text-white"
                ><i class="fa fa-user-o mr-5 text-white"></i> Dashboard</a
              >
             <% } else { %>
              <a href="/login" class="text-white"
                ><i class="fa fa-user-o mr-5 text-white"></i> Log in</a
              >
             <%}%> 
            </li>
            <li class="m-0 pl-0 pr-10">
              <% if(locals.isAuthenticated)  { %>
                
              <a href="/logout" class="text-white"><i class="fa fa-user-o mr-5 text-white"></i> Logout</a>
             <% } else { %>
              <a href="/register" class="text-white"><i class="fa fa-edit mr-5"></i>New Account</a>
             <%}%> 
              
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="header-middle p-0 bg-lightest xs-text-center" id="myNav">
    <div class="container">
      <div class="row menuzord">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a class="menuzord-brand pull-left flip sm-pull-left mb-15" href="/">
            <img src="/assets/files/sharpLogo.png" alt="Enrolled Agent Logo" />
        </a>
        </div>
        <nav class="col-xs-12 col-sm-12 col-md-8 default theme-colored menuzord-responsive" id="menuzord">
          <ul class="row menuzord-menu">
            <li class="myNav-flex-item mr-50">
              <a>Find an Enrolled Agent</a>
              <ul class="dropdown my-dropdown">
                <li>
                  <a class="dropdown-link">Enrolled Agent</a>
                  <ul class="dropdown my-dropdown-child">
                    <li>
                      <a class="dropdown-link-child" href="/find-agent">EA Search</a>
                    </li>
                    <li><a href="/agents/all-states" class="dropdown-link-child">EAs by State</a></li>
                    <li><a class="dropdown-link-child" href="/ea-listings">All EAs</a></li>
                  </ul>
                </li>

                <!-- <li>
                  <a class="dropdown-link">Accounting Firms</a>
                  <ul class="dropdown my-dropdown-child">
                    <li><a class="dropdown-link-child">Accounting Firms Search</a></li>
                    <li><a class="dropdown-link-child">Accounting Firms by State</a></li>
                    <li><a class="dropdown-link-child">All Accounting Firms</a></li>
                  </ul>
                </li> -->

                <li><a href="/resource" class="dropdown-link">Resources</a></li>
                <li><a class="dropdown-link" href="/license-verification">License Verification</a></li>
              </ul>
            </li>
            <li class="myNav-flex-item mr-50"><a href="/new-question">Ask an EA</a></li>
            <li class="myNav-flex-item mr-50"><a href="/blog">News & Articles</a></li>
            <li class="myNav-flex-item">
              <a>Resources</a>
              <ul class="dropdown my-dropdown">
                <p class="category-header-text">View By Category</p>
                <% if (typeof locals !=='undefined' && locals.resourceCategory && locals.resourceCategory.length> 0) { %>
                  <% const {resourceCategory} = locals %>
                  <% let length = resourceCategory.length %>
                    <% for(let i=0; i < Math.min(5, length); i++) { %>
                      <% const  {name, slug}  = resourceCategory[i] %>

                <li><a class="dropdown-link" href="/resource/<%= slug %>"><%= name %></a></li>
                <% }} %>

                <li><a class="dropdown-link" href="/resource">Browse All Categories</a></li>
                <p class="category-header-text m-26">More</p>
                <!-- <li>
                  <a class="dropdown-link" href="/career-center">Enrolled Agent Center</a>
                </li> -->
                <li>
                  <a class="dropdown-link" href="/offshore-team">Offshore Staffing/Hiring</a>
                </li>
                <!-- <li>
                  <a class="dropdown-link" href="/practice-exchange">Practice Exchange / Sales</a>
                </li> -->
                <!-- <li>
                  <a class="dropdown-link" href="/resource">Resources for Accountants</a>
                </li> -->
                <li>
                  <a class="dropdown-link" <% if(locals.isAuthenticated)  { %> href="/new-listing" <% } %> href="/login">Create Your Free EA Listing</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <li>
                  <a href="index-mp-layout1.html">Tax</a>
                  <ul class="dropdown dropdown-left">
                    <li><a href="index-mp-layout1.html">Layout1</a></li>
                    <li><a href="index-mp-layout2.html">Layout2</a></li>
                    <li><a href="index-mp-layout3.html">Layout3</a></li>
                    <li><a href="index-mp-layout4.html">Layout4</a></li>
                    <li><a href="index-mp-layout5.html">Layout5</a></li>
                    <li><a href="index-mp-layout6.html">Layout6</a></li>
                  </ul>
                </li> -->
  </nav>

  <script type="text/javascript" src="/javascripts/navbar.js" defer></script>
</header>
