<head>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Enrolled Agent" />
  <meta charset="UTF-8"><meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta name="keywords"
    content="consulting,finance,advisor,consultant,business,service,insurance,agency"
  />
  <meta name="Enrolled Agent" content="Enrolled Agent" />
  <title>Enrolled Agents</title>

  <link href="/assets/files/favicon.png" rel="shortcut icon" type="image/png" />

  <!-- Stylesheet -->
  <link href="https://enrolled-public.s3.amazonaws.com/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- CSS | menuzord megamenu skins -->
  <link href="https://enrolled-public.s3.amazonaws.com/css/menuzord-megamenu.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://enrolled-public.s3.amazonaws.com/stylesheets/reset.css" />
  <!-- CSS | Main style file -->
  <link href="https://enrolled-public.s3.amazonaws.com/css/style-main.css" rel="stylesheet" type="text/css" />

  <!-- CSS | Custom Margin Padding Collection -->
  <link href="https://enrolled-public.s3.amazonaws.com/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css" />
  <!-- CSS | Responsive media queries -->
  <link href="https://enrolled-public.s3.amazonaws.com/css/responsive.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />

  <!-- <link rel="stylesheet" type="text/css" href="https://enrolled-public.s3.amazonaws.com/stylesheets/style.css" /> -->
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <!-- external javascripts -->
   <script src="https://enrolled-public.s3.amazonaws.com/js/jquery-2.2.4.min.js"></script>
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->
  <script src="https://enrolled-public.s3.amazonaws.com/js/jquery-ui.min.js" async></script>
  <script src="https://enrolled-public.s3.amazonaws.com/js/bootstrap.min.js" async></script>
  <!-- JS | jquery plugin collection for this theme -->
  <script src="https://enrolled-public.s3.amazonaws.com/js/jquery-plugin-collection.js"></script>
 
</head>
