<!-- Header -->
<header id="header" class="header myNav ">
  <div class="header-top myNav_header sm-text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="widget text-white">
            <ul class="list-inline xs-text-center text-white">
              <li class="m-0 pl-10 pr-10">
                <a href="#" class="text-white"
                  ><i class="fa fa-phone text-theme-colored2"></i> 1-855-22-AGENT</a
                >
              </li>
              <li class="m-0 pl-10 pr-10">
                <a href="#" class="text-white">
                  <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i>
                  info@enrolledagent.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
            <li class="m-0 pl-10">
              <a href="/login" class="text-white ajaxload-popup"
                ><i class="fa fa-user-o mr-5 text-white"></i> Log in</a
              >
            </li>
            <li class="m-0 pl-0 pr-10">
              <a href="/register" class="text-white ajaxload-popup"
                ><i class="fa fa-edit mr-5"></i>New Account</a
                Enrolled Agent Start Here
              >
            </li>
            <li class="m-0 pl-0 pr-10">
              <a href="/login" class="text-white ajaxload-popup">
                <i class="fa fa-edit mr-5"></i>Enrolled Agent Start Here</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="header-middle p-0 bg-lightest xs-text-center" id='myNav'>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a class="menuzord-brand pull-left flip sm-pull-left mb-15" href="/"
            ><img src="/assets/files/smallLogo.png" alt=""
          /></a>
        </div>
        <nav class="col-xs-12 col-sm-12 col-md-8 menuzord default theme-colored menuzord-responsive" id="menuzord">
          <ul class="row menuzord-menu ">
              <li class="myNav-flex-item mr-60"><a>Find an Enrolled Agent</a></li>
              <li class="myNav-flex-item mr-60"><a>Ask an EA</a></li>
              <li class="myNav-flex-item mr-60"><a href='/blog'>News & Articles</a></li>
              <li class="myNav-flex-item">
                <a>Resources</a>
                 <ul class="dropdown">
                    <li>
                      <a href="index-mp-layout1.html">Layout1</a>
                      <ul class="dropdown dropdown-left">
                    <li><a href="index-mp-layout1.html">Layout1</a></li>
                    <li><a href="index-mp-layout2.html">Layout2</a></li>
                    <li><a href="index-mp-layout3.html">Layout3</a></li>
                    <li><a href="index-mp-layout4.html">Layout4</a></li>
                    <li><a href="index-mp-layout5.html">Layout5</a></li>
                    <li><a href="index-mp-layout6.html">Layout6</a></li>
                  </ul>
                    </li>
                    <li><a href="index-mp-layout2.html">Layout2</a></li>
                    <li><a href="index-mp-layout3.html">Layout3</a></li>
                    <li><a href="index-mp-layout4.html">Layout4</a></li>
                    <li><a href="index-mp-layout5.html">Layout5</a></li>
                    <li><a href="index-mp-layout6.html">Layout6</a></li>
                  </ul>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
 
  <script type="text/javascript" src="/javascripts/navbar.js"></script>
</header>
