<head>
  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8"><meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta name="description" content="Enrolled Agent" />
  <meta name="keywords"
    content="consulting,finance,advisor,consultant,business,service,insurance,agency"
  />
  <meta name="Enrolled Agent" content="Enrolled Agent" />

  <title>EnrolledAgent.com</title>

  <link href="/assets/files/favicon.webp" rel="shortcut icon" type="image/png" />

  <!-- Stylesheet -->
  <link defer href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 
  <!-- CSS | menuzord megamenu skins -->
  <link defer href="/css/menuzord-megamenu.css" rel="stylesheet" />
  <link  defer rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <!-- CSS | Main style file -->
  <link defer rel="stylesheet" href="/css/style-main.css" type="text/css" />

  <!-- CSS | Custom Margin Padding Collection -->
  <link defer href="/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css" />
  <!-- CSS | Responsive media queries -->
  <link defer href="/css/responsive.css" rel="stylesheet" type="text/css" />

  
  <!-- Revolution Slider 5.x CSS settings -->
  <link defer href="/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
  <link defer  href="/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />

  <!-- CSS | Theme Color -->
  <link async href="/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css" />
  <link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

  <!-- external javascripts -->
  <script  src="/js/jquery-2.2.4.min.js"></script>
  <!-- <script src="/js/jquery-ui.min.js" async></script> -->
  <script  src="/js/bootstrap.min.js" async></script>
  <!-- JS | jquery plugin collection for this theme -->
  <script  src="/js/jquery-plugin-collection.js"></script>

  <!-- Revolution Slider 5.x SCRIPTS -->
  <script defer src="/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
  <script defer src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GR15YSQEDM"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCM38FDVTY"></script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MMHPJG4');</script>
<!-- End Google Tag Manager -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KCM38FDVTY');
  </script>
</head>
