<div class="navbar">
  <div class="navbar_div1">
    <a href="#" class="navbar_div1-links">Find an Enrolled Agent</a>
    <a href="#" class="navbar_div1-links">Ask an EA</a>
    <a href="#" class="navbar_div1-links">News & Articles</a>
    <a href="#" class="navbar_div1-links">Resources</a>
  </div>
  <div class="navbar_div2">
    <div class="navbar_div2-notification">
      <img alt="enrolled-agents" src="/assets/files/bell.svg" />
      <div class="navbar_div2-notification-div"><p>6</p></div>
    </div>
    <img alt="enrolled-agents" class="navbar_div2-divider" src="/assets/files/dots.svg" />
    <div class="navbar_div2-avatar">
      <img alt="enrolled-agents-avatar" src="/assets/files/avatar.png" />
    </div>
    <img
      alt="enrolled-agents"
      class="navbar_div2-dropdown"
      src="/assets/files/down-arrow-small.svg"
    />
  </div>
</div>
