<div class="navbar">
  <div class="navbar_div1">
    <a href="/find-agent" class="navbar_div1-links">Find an Enrolled Agent</a>
    <a href="/new-question" class="navbar_div1-links">Ask an EA</a>
    <a href="/blog" class="navbar_div1-links">News & Articles</a>
    <a href="/resource" class="navbar_div1-links">Resources</a>
  </div>
  <div class="navbar_div2">
    <!-- <div class="navbar_div2-notification">
      <img alt="enrolled-agents" src="/assets/files/bell.svg" />
      <div class="navbar_div2-notification-div"><p>6</p></div>
    </div>
    <img alt="enrolled-agents" class="navbar_div2-divider" src="/assets/files/dots.svg" /> -->
    <div class="navbar_div2-avatar">
      <img alt="enrolled-agents-avatar" src=<%= locals.user.imageUrl || "https://enrolled-public.s3.amazonaws.com/assets/images/avatar.webp" %>  />
    </div>
    <!-- <img
      alt="enrolled-agents"
      class="navbar_div2-dropdown"
      src="/assets/files/down-arrow-small.svg"
    /> -->
  </div>
</div>
