<section class="cta">
  <div class="cta_body">
    <div class="row">
      <div class="col-md-5 cta_body-1">
        <p>Newsletter</p>
        <h3>Subscribe to our mailing list.</h3>
      </div>
      <div class="col-md-7 cta_body-2">
        <div>
          <form id="newsletter-form2" onsubmit="subscribeToNews()">
            <input id="newsletter-email2" type="email" placeholder="Your email Address" />
          </form>

        </div>
        </form>
      </div>
    </div>
</section>

<script>
  const formmmm = document.getElementById('newsletter-form2');

  // Adds a listener for the "submit" event.
  formmmm.addEventListener('submit', function (e) {

    e.preventDefault();

  });
</script>
