<section class="resources">
    <div class="container-fluid">
      <h2 class="resources-header">Resources</h2>
      <p class="resources-sub">Valuable information provided by our sponsors.</p>
      <div class="resources-grid">
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="resources-grid-box">
          <p class="resources-grid-box-intro">Provided By:</p>
          <img class="resources-grid-box-image" src="/assets/files/stanbic.png" alt="stanbic-logo" />
          <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
          <p class="resources-grid-box-desc">
            Save up to 20% on Quickfinder products. Find tax resources for efficiency and
            accuracy, year-round...
          </p>
          <div class="arrow">
            <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
          </div>
        </div>
      </div>
      <div class="btn-div">
        <button>
          See All Resources
          <img src="/assets/files/down-arrow-small.svg" alt="arrow" />
        </button>
      </div>
    </div>
  </section>