<div class="sidebar">
  <div class="sidebar_top">
    <img alt="enrolled-agents-logo" src="/assets/files/logo.png" class="sidebar-logo" />
    <div class="sidebar_top-avatar-div">
      <img alt="enrolled-agents-avatar" src="/assets/files/avatar.png" />
    </div>
    <p class="sidebar_top-name">Welcome, Juliet</p>
    <p class="sidebar_top-email">JulietWills@gmail.com</p>
  </div>
  <div class="sidebar_bottom">
    <div class="sidebar_bottom-item active">
      <a href="#" class="sidebar_bottom-item-link">My Listings</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">Ask an EA</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">Articles</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">My Messages</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">Account Details</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">Help</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="#" class="sidebar_bottom-item-link">Logout</a>
    </div>
  </div>
</div>
