<div class="sidebar">
  <div class="sidebar_top">
    <a href="/">
      <img alt="enrolled-agents-logo" src="/assets/files/logo.png" class="sidebar-logo" />
    </a>
    <div class="sidebar_top-avatar-div">
      <img alt="enrolled-agents-avatar" src=<%= locals.user.imageUrl || "/assets/images/avatar.webp" %>  />
    </div>
    <p class="sidebar_top-name">Welcome, <%= locals.user.firstName  %> </p>
    <p class="sidebar_top-email"><%= locals.user.email  %></p>
  </div>
  <div class="sidebar_bottom">
    <div <% if (page_name === 'dashboard') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item">
      <a href="/dashboard" class="sidebar_bottom-item-link">My Listing</a>
    </div>
    <div <% if (page_name === 'ask') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item" 
      data-toggle="collapse" href="#submenu1" aria-expanded="false">
      <a href="#" class="sidebar_bottom-item-link" >
        Ask an EA
        <span class="dropIcon">
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg" 
            <% if (page_name === 'ask') { %>class="drop drop-active" <% } %> class="drop">
                <path d="M9 1L4.82609 5L1 1" stroke-width="1.5" />
            </svg>
        </span>
      </a>
    </div>
    <div <% if (page_name === 'ask') { %>class="collapse show" <% } %> class="collapse" id="submenu1" aria-expanded="false">
        <div class="sidebar_bottom-item">
            <a href="/dashboard/answer-questions"  <% if (sub_page_name === 'answer') { %>
              class="sidebar_bottom-item-link sub-active" <% } %>
                class="sidebar_bottom-item-link">Answer Tax Questions
            </a>
        </div>
        <div class="sidebar_bottom-item">
            <a href="/dashboard/my-answers"  <% if (sub_page_name === 'myAnswers') { %>
              class="sidebar_bottom-item-link sub-active" <% } %>
                class="sidebar_bottom-item-link">My Answers
            </a>
        </div>
      </div>
    <div <% if (page_name === 'articles') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item" 
      data-toggle="collapse" href="#submenu2" aria-expanded="false">
      <a href="#" class="sidebar_bottom-item-link">Articles
        <span class="dropIcon">
          <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg" 
          <% if (page_name === 'articles') { %>class="drop drop-active" <% } %> class="drop">
              <path d="M9 1L4.82609 5L1 1" stroke-width="1.5" />
          </svg>
        </span>
      </a>
    </div>
    <div <% if (page_name === 'articles') { %>class="collapse show" <% } %> class="collapse" id="submenu2" aria-expanded="false">
        <div class="sidebar_bottom-item">
            <a href="/dashboard/create-article"  <% if (sub_page_name === 'newArticle') { %>
              class="sidebar_bottom-item-link sub-active" <% } %>
                class="sidebar_bottom-item-link">New Article
            </a>
        </div>
        <div class="sidebar_bottom-item">
            <a href="/dashboard/my-articles"  <% if (sub_page_name === 'myArticles') { %>
              class="sidebar_bottom-item-link sub-active" <% } %>
                class="sidebar_bottom-item-link">My Articles
            </a>
        </div>
      </div>
    
      <div <% if (page_name === 'messages') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item">
      <a href="/dashboard/messages" class="sidebar_bottom-item-link">My Messages</a>
    </div>
   
    <div <% if (page_name === 'account') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item">
      <a href="/dashboard/account-settings" class="sidebar_bottom-item-link">Account Details</a>
    </div>
    <div <% if (page_name === 'help') {%>class="sidebar_bottom-item active"<%}%>class="sidebar_bottom-item">
      <a href="/dashboard/help" class="sidebar_bottom-item-link">Help</a>
    </div>
    <div class="sidebar_bottom-item">
      <a href="/logout" class="sidebar_bottom-item-link">Logout</a>
    </div>
  </div>
</div>
