body {
  font-family: "Arial";
}
.signup,
.login {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.signup-body,
.login-body {
  background-color: #f6f6f6;
  line-height: 1.5rem;
  word-spacing: 1px;
  max-width: 1377px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 765px) {
  .signup,
  .login {
    font-size: 12px;
  }
}
.signup {
  width: 80vw;
  margin: 10px auto;
}
@media (max-width: 765px) {
  .signup {
    width: 100%;
  }
}
.signup__header {
  width: calc(100% + 16px);
  background: #01105b;
  text-align: center;
  margin-top: -8px;
  margin-left: -8px;
}
.signup__header--img {
  padding: 0.5rem;
  height: 80px;
  width: auto;
}
@media (max-width: 765px) {
  .signup__header--img {
    height: 50px;
  }
}
.signup__head {
  margin-top: 2rem;
}
.signup__head--link {
  font-size: 1.2rem;
}
.signup__head--main {
  margin-bottom: 2rem;
}
@media (max-width: 765px) {
  .signup__head--main {
    margin-bottom: 1rem;
  }
}
.signup__head--main-head {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  margin: 1rem 0;
  line-height: 3.5rem;
}
@media (max-width: 765px) {
  .signup__head--main-head {
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 0.5rem 0;
  }
}
@media (max-width: 765px) {
  .signup__head--text {
    text-align: justify;
  }
}
.signup__social,
.signup__email {
  margin: 50px 0;
  padding: 30px;
  text-align: left;
}
@media (max-width: 765px) {
  .signup__social,
  .signup__email {
    margin: 30px 0;
    padding: 15px;
  }
}
.signup__social--head,
.signup__email--head {
  font-weight: 700;
  font-size: 1.2rem;
}
.signup__social--text,
.signup__email--text {
  margin: 20px 0;
}
.signup__social--btns,
.signup__email--btns {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
}
@media (max-width: 765px) {
  .signup__social--btns,
  .signup__email--btns {
    display: block;
    text-align: center;
  }
}
@media (max-width: 765px) {
  .signup__social--btn,
  .signup__email--btn {
    margin-bottom: 1rem;
  }
}
.signup__social--btn-facebook,
.signup__email--btn-facebook {
  background: #1dc1ff;
}
.signup__social--btn-google,
.signup__email--btn-google {
  background: #b20707;
}
.signup__social--btn-linkedin,
.signup__email--btn-linkedin {
  background: #5082f6;
}
.signup-link {
  text-decoration: none;
  color: #78b3ff;
}
.signup-card {
  box-shadow: 0 0 1rem rgba(33, 20, 20, 0.1);
  background-color: #fff;
}
.signup-btn {
  height: 3rem;
  width: 210px;
  border: none;
  color: #fff;
  position: relative;
}
@media (max-width: 765px) {
  .signup-btn {
    width: 80%;
  }
}
.signup-btn-icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.signup-btn-img {
  height: 1.25rem;
  width: 1.25rem;
}
.signup-form,
.login-form {
  margin: 20px 0;
}
.signup-form__row,
.login-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.signup-form__input,
.login-form__input {
  color: #000;
  font-size: 1.05rem;
  padding: 0.5rem 0.25rem;
  border: none;
  border-bottom: 1px solid #949494;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.signup-form__input:focus,
.login-form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 1.5px solid #000;
}
.signup-form__input:focus:invalid,
.login-form__input:focus:invalid {
  border-bottom: 1.5px solid red;
}
.signup-form__input::-webkit-input-placeholder,
.login-form__input::-webkit-input-placeholder {
  color: #949494;
}
.signup-form__label,
.login-form__label {
  font-size: 0.75rem;
  margin-left: 5px;
  display: block;
  transition: all 0.3s;
}
.signup-form__input:placeholder-shown + .signup-form__label,
.login-form__input:placeholder-shown + .signup-form__label,
.signup-form__input:placeholder-shown + .login-form__label,
.login-form__input:placeholder-shown + .login-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.signup-form__group:not(:last-child),
.login-form__group:not(:last-child) {
  margin-bottom: 1rem;
}
.signup-form__group,
.login-form__group {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 280px;
}
.signup-form__checkbox,
.login-form__checkbox {
  font-size: 0.65rem;
}
.signup-form__checkbox--group,
.login-form__checkbox--group {
  margin: 5px 0;
}
.signup-form__agreement,
.login-form__agreement {
  text-align: center;
}
.signup-form__submit,
.login-form__submit {
  width: 75%;
  background-color: #01105b;
  border-radius: 5px;
  margin: 20px 0 10px;
  font-size: 1.25rem;
}
.login {
  background-color: #fff;
  margin: 0 auto;
  max-width: 95%;
}
.login__card {
  display: flex;
  margin: 5vh auto;
  height: 90vh;
}
@media (max-width: 600px) {
  .login__card {
    display: block;
    width: 100%;
    height: auto;
  }
}
.login__card-left {
  width: 37.5%;
  min-width: 300px;
  padding: 20px 40px 20px 20px;
  background-image: linear-gradient(to bottom, rgba(1, 16, 91, 0.8), rgba(1, 16, 91, 0.8)),
    url(/assets/images/signup/login-bg.png);
  background-size: cover;
  background-position: top;
  color: #fff;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 765px) {
  .login__card-left {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .login__card-left {
    display: block;
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .login__card-left {
    padding: 20px;
  }
}
.login__card-right {
  width: 62.5%;
  padding: 20px 30px;
}
@media (max-width: 600px) {
  .login__card-right {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 10px;
  }
}
.login-right__footer {
  display: none;
}
@media (max-width: 600px) {
  .login-right__footer {
    display: block;
  }
}
.login-left__banner {
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .login-left__banner {
    margin-bottom: 10px;
  }
}
.login-left__banner-img {
  width: 100%;
}
@media (max-width: 600px) {
  .login-left__banner-img {
    max-width: 300px;
  }
}
.login-left__text {
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .login-left__text {
    margin-bottom: 20px;
  }
}
.login-left__text-head {
  font-weight: 700;
  font-size: 1.2rem;
}
.login-left__btns {
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .login-left__btns {
    margin-bottom: 20px;
  }
}
.login-left__btns-btn {
  text-align: center;
  margin: 15px;
}
@media (max-width: 765px) {
  .login-left__btns-btn {
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .login-left__footer {
    display: none;
  }
}
.login-main {
  text-align: left;
}
.login-main__head {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .login-main__head {
    display: none;
  }
}
.login-main__head-main {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  line-height: 3.5rem;
}
.login-main__text-head {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}
.login-btn {
  height: 2.5rem;
  width: 95%;
  border: none;
  color: #fff;
  position: relative;
}
@media (max-width: 600px) {
  .login-btn {
    max-width: 300px;
  }
}
.login-form__input {
  width: 100%;
}
.login-form__btn {
  text-align: center;
  margin: 2rem 0;
}
.form-error {
  font-size: 0.75rem;
  color: red;
}
body {
  font-family: Arial, Helvetica, serif;
}
* {
  box-sizing: border-box;
}
.bold {
  font-weight: 600;
}
p {
  font-size: 20px;
  font-weight: 300;
}
a:hover {
  color: orange;
}
.centered {
  text-align: center;
}
.clearfix {
  content: "";
  clear: both;
}
.wrapper {
  padding-right: 18px;
  padding-left: 18px;
}
.site-header {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 71px;
  z-index: 2;
  background-color: #01105b;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.page-heading_large-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 898px;
  background: url("/assets/images/bg1.png") top center no-repeat,
    url("/assets/images/bg2.png") top center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
.page-heading {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(20%);
  z-index: 4;
  width: 100%;
  text-align: center;
}
.page-heading_title {
  color: #ffffff;
  font-family: serif;
  font-size: 58px;
}
.page-heading_subtitle {
  color: #bfbfbf;
  padding: 0;
}
.page-heading_find-listing {
  color: #bfbfbf;
}
.nav-links_pull-right {
  float: right;
}
.nav-links_pull-right ul,
.contact-info ul {
  margin: 0;
  padding: 0;
  content: "";
  clear: both;
}
.nav-links_pull-right li,
.contact-info li {
  float: left;
  list-style: none;
  padding-right: 22px;
  padding-top: 20px;
}
.additional-top-padding {
  padding-top: 10px;
}
.nav-links_pull-right a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}
.page-directory {
  position: absolute;
  top: 71px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  opacity: 0.38;
  z-index: 10;
}
.page-directory_enroll-trademark {
  float: left;
  padding-right: 20px;
}
.nav-link2 a {
  font-size: 20px;
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}
.nav-link2_top-padding {
  padding-top: 20px;
}
.page-heading_large-image {
  margin-top: 71px;
}
.wrapper2 {
  padding-left: 60px;
  padding-right: 60px;
}
.container-input_area {
  width: 1046px;
  height: 75px;
  background: #626366;
  margin-top: 29px;
  margin-bottom: 52px;
  padding: 0 158px;
}
.input-style {
  position: relative;
  height: 40px;
  width: 176px;
  margin-top: 17px;
  margin-left: -145px;
  background-color: #ffffff;
  color: grey;
  z-index: 2;
  border: white solid 1px;
  border-radius: 3px;
}
.input-style2 {
  height: 40px;
  width: 241px;
  margin-top: 17px;
  margin-left: -22px;
  background-color: #ffffff;
  color: grey;
  border: white solid 1px;
  border-radius: 3px;
}
.input-style3 {
  height: 40px;
  width: 332px;
  margin-top: 17px;
  margin-left: 38px;
  background-color: #ffffff;
  color: blue;
  border: white solid 1px;
  border-radius: 3px;
}
.btn-div {
  margin-top: 25px;
  width: 100%;
}
.btn-find-list {
  padding: 13px 73px;
  background: darkblue;
  color: #ffffff;
  margin-right: -200px;
  border-radius: 3px;
}
.enrolled-gallery {
  position: relative;
  top: -6em;
  background-color: #f6f6f6;
  padding-bottom: 90px;
}
.card-deck_bg-image:hover {
  background: url("/assets/images/bg1.png") top center no-repeat, #1775fa;
  background-blend-mode: multiply;
  background-size: cover;
  color: #ffffff;
  opacity: 0.7;
}
.card-deck_title {
  font-size: 26px;
  font-weight: 600;
}
.section-title {
  padding: 60px 0;
  font-weight: 600;
}
.create-account {
  position: relative;
  max-width: 100%;
  height: 650px;
  margin-top: -95px;
}
.create-account_div1 {
  height: 100%;
}
.section-paddings {
  padding-top: 80px;
}
.create-account_description {
  margin-top: 50px;
  margin-left: -50px;
  margin-bottom: 20px;
}
.create-account_description h5 {
  font-size: 40px;
  font-weight: 600;
}
.buttons {
  padding: 10px 15px;
  background: #01105b;
  color: #ffffff;
}
.btn-left {
  margin-left: -30px;
}
.btn-get-started {
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
}
.jumbo {
  position: relative;
  top: 0;
  background: #4e5687;
  color: #ffffff;
}
.jumbo-container {
  margin: -30px auto -30px auto;
}
.jumbo-heading {
  font-size: 38px;
}
.create-account2 {
  position: relative;
  top: -32px;
  max-width: 100%;
  height: 650px;
}
.wrapper2 {
  margin-left: 30px;
}
.add-container {
  position: relative;
  top: -35px;
  width: 100%;
  height: 750px;
  background: #f6f6f6;
  text-align: center;
  padding-top: 50px;
}
.add-section_header {
  font-size: 40px;
  font-weight: 600;
}
html {
  overflow-x: hidden;
}
.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  font-family: Arial;
}
.home .text-center {
  text-align: center;
}
.home .resources {
  font-family: Arial;
  padding: 77px 0 78px;
  background-color: #f6f6f6;
  text-align: center;
}
.home .resources .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}
.home .resources-header {
  font-family: Arial;
  margin-bottom: 17px;
  font-size: 46px;
  line-height: 55px;
  color: #000;
}
.home .resources-sub {
  color: #086cee;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}
.home .resources .btn-div button {
  background-color: #01105b;
  color: #fff;
  width: 250px;
  height: 60px;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 5px;
  font-size: 15px;
}
.home .resources-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  width: 1100px;
  margin: 59px auto 75px;
}
.home .resources-grid-box {
  background-color: #ffffff;
  box-shadow: 0px 8px 18px #0000000f;
  padding: 24px 22px 22px 28px;
  text-align: left;
  border-radius: 5px;
}
.home .resources-grid-box-intro {
  color: #aaaaaa;
  font-size: 15px;
}
.home .resources-grid-box-image {
  max-width: 200px;
  max-height: 50px;
}
.home .resources-grid-box-topic {
  margin: 15px 0 8px;
  color: #000;
  font-weight: 600;
  font-family: Arial;
  line-height: 28px;
}
.home .resources-grid-box-desc {
  letter-spacing: 0px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.home .resources-grid-box .arrow {
  background: #086cef;
  border: 1px solid #086cef;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.home .cta {
  background-color: #000;
}
.home .cta_body {
  padding: 110px 0 40px 65px;
}
.home .cta_body .row {
  margin: 0;
}
.home .cta_body-1 {
  padding: 0;
}
.home .cta_body-1 p {
  color: #ffffff;
  font-size: 26px;
  line-height: 20px;
  margin: 0;
}
.home .cta_body-1 h3 {
  color: #fac207;
  font-size: 46px;
}
.home .cta_body-2 {
  padding: 0;
}
.home .cta_body-2 div {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  width: 80%;
  height: 60px;
  padding: 0 10px 15px 10px;
}
.home .cta_body-2 div input {
  width: 80%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
}
.home .cta_body-2 div input::placeholder {
  color: #fff;
  font-size: 15px;
}
.home .form .container {
  padding: 80px 0 100px;
}
.home .form button {
  background-color: #01105b;
  color: #fff;
  width: 250px;
  height: 60px;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 5px;
  font-size: 16px;
}
.home .form-div1 h2 {
  font-size: 40px;
  color: #000;
  margin-bottom: 30px;
}
.home .form-div1 p {
  font-size: 26px;
  line-height: 40px;
  color: #000;
}
.home .form-div2 .row {
  margin: 0;
}
.home .form-div2-formgroup {
  width: 325px;
  height: 80px;
  box-shadow: 0px 8px 16px #00000029;
  margin-left: 0;
  display: flex;
  align-items: center;
}
.home .form-div2-formgroup input {
  width: 80%;
  height: 70px;
  border: none;
  font-size: 16px;
  color: #9b9b9b;
}
.home .form-div2-formgroup input::placeholder {
  color: #9b9b9b;
}
.home .form-div2-formgroup input:focus {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.home .form-div2-formtextarea {
  width: 670px;
  height: 180px;
  box-shadow: 0px 8px 16px #00000029;
  margin-left: 0;
  padding-top: 17px;
}
.home .form-div2-formtextarea textarea {
  width: 80%;
  height: 130px;
  border: none;
  font-size: 16px;
  color: #9b9b9b;
  resize: none;
}
.home .form-div2-formtextarea textarea::placeholder {
  color: #9b9b9b;
}
.home .form-div2-formtextarea textarea:focus {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.home .image-aside {
  height: 900px;
}
.home .image-aside .container-fluid {
  padding: 140px 0 150px 50px;
}
.home .image-aside .flex {
  display: flex;
}
.home .image-aside-div1 {
  width: 50%;
  padding-top: 100px;
}
.home .image-aside-div1 h2 {
  color: #000000;
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 30px;
}
.home .image-aside-div1 p {
  color: #000000;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 70px;
}
.home .image-aside-div1 a {
  background-color: #01105b;
  color: #fff;
  padding: 20px 50px;
  border-radius: 3px;
  font-size: 16px;
}
.home .image-aside-div1 a:hover {
  color: #fff;
}
.home .image-aside-div2 {
  position: relative;
  width: 50%;
}
.home .image-aside-div2 img {
  width: 780px;
  max-width: 780px;
  height: auto;
  position: absolute;
  right: -6rem;
}
.home .image-aside2 {
  height: 900px;
}
.home .image-aside2 .container-fluid {
  padding: 140px 30px 150px;
}
.home .image-aside2 .flex {
  display: flex;
}
.home .image-aside2-div1 {
  position: relative;
  width: 50%;
}
.home .image-aside2-div1 img {
  width: 750px;
  max-width: 750px;
  height: auto;
}
.home .image-aside2-div2 {
  width: 50%;
  padding-top: 100px;
}
.home .image-aside2-div2 h2 {
  color: #000000;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 30px;
}
.home .image-aside2-div2 p {
  color: #000000;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 100px;
}
.home .image-aside2-div2 a {
  background-color: #01105b;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
  font-size: 16px;
}
.home .image-aside2-div2 a:hover {
  color: #fff;
}
.home #team .title {
  color: #000;
  font-size: 46px;
}
.home #team .desc {
  color: #086cef;
  font-size: 26px;
}
.home #team .team-thumb h4 {
  background-color: #086cee70;
  border-left: 4px solid #086cee;
}
.home #team .team-thumb h4 span.small {
  position: relative;
  top: 0;
  right: 0;
}
.home #team .team-bottom-name {
  color: #000;
  font-size: 15px;
}
.home #team .team-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home #team .team-bottom-flex-div1 p {
  color: #000;
  font-size: 13px;
}
.home #team .team-bottom-flex-div2 a {
  color: #fff;
  background-color: #01105b;
  padding: 10px 7px;
  border-radius: 3px;
}
.home .cities {
  background-image: url("/assets/files/433.png"),
    linear-gradient(rgba(12, 31, 124, 0.75), rgba(1, 16, 91, 0.75));
  background-blend-mode: overlay;
  height: 730px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.home .cities .container {
  padding-top: 20px;
}
.home .cities-header {
  font-size: 46px;
  color: #fff;
}
.home .cities-desc {
  font-size: 26px;
  margin-bottom: 40px;
}
.home .cities-grid {
  width: 80%;
  margin: 0 auto 50px;
}
.home .cities-grid a {
  color: #fff;
  display: block;
  text-align: left;
  font-size: 16px;
}
.home .cities-grid a:hover {
  color: #fff;
  text-decoration: underline;
}
.home .cities-link {
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 8px 18px #0000000f;
  border: 2px solid #ffffff;
  padding: 20px 15px;
  border-radius: 3px;
}
.home .cities-link:hover {
  color: #fff;
}
.blog {
  display: flex;
  flex-wrap: nowrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 765px) {
  .blog {
    display: block;
  }
}
.blog__section--main {
  width: 70%;
}
@media (max-width: 765px) {
  .blog__section--main {
    width: 100%;
  }
}
.blog__main {
  width: 100%;
  height: 85vh;
  background-image: url(/assets/images/blog/news-img2.png);
  background-size: cover;
  background-position: top;
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
}
.blog__main:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/assets/images/blog/news-img2.png);
}
.blog__main--items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog__main--article {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.blog__main--article-name {
  font-weight: lighter;
  font-size: 1.25rem;
}
@media (max-width: 765px) {
  .blog__main--article-name {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .blog__main--article-name {
    font-size: 0.75rem;
  }
}
.blog__main--article-head {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0;
}
@media (max-width: 765px) {
  .blog__main--article-head {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0.5rem 0;
  }
}
@media (max-width: 600px) {
  .blog__main--article-head {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
.blog__main--article-body {
  display: none;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0 2rem;
}
@media (max-width: 765px) {
  .blog__main--article-body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 1rem;
  }
}
.blog__main--article-underline {
  width: 30%;
  margin: 0 auto;
  border-top: 2px solid #fff;
}
.blog__articles {
  margin: 3rem 0;
}
.blog__articles--head {
  position: relative;
  margin-bottom: 2rem;
}
.blog__articles--head-item {
  display: inline-block;
  background-color: #fff;
}
.blog__articles--head-head {
  font-weight: 600;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .blog__articles--head-head {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .blog__articles--head-head {
    font-size: 1.5rem;
  }
}
.blog__articles--head-text {
  color: #086cef;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .blog__articles--head-text {
    font-size: 1.25rem;
  }
}
@media (max-width: 450px) {
  .blog__articles--head-text {
    font-size: 1rem;
  }
}
.blog__articles--head-rule {
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  border-top: 3px solid #000;
}
.blog__article {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center;
}
.blog__article--card {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem 0.5rem 3rem;
}
.blog__article--head {
  font-weight: 600;
  margin: 1rem 0;
}
@media (max-width: 600px) {
  .blog__article--head {
    margin: 0.75rem 0;
  }
}
.blog__article--details {
  font-weight: lighter;
  font-size: 0.75rem;
}
.blog__article--body {
  margin: 1.5rem 0;
  line-height: 1.75rem;
}
@media (max-width: 600px) {
  .blog__article--body {
    margin: 0.75rem 0;
  }
}
.blog__article--button {
  position: relative;
}
@media (max-width: 600px) {
  .blog__article--button {
    margin: 1rem 0;
  }
}
.blog__article--button-btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.35rem 0.75rem;
}
.blog__article--button-rule {
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid #000;
}
@media (max-width: 765px) {
  .blog__article--button-rule {
    border-top: 1px solid #000;
  }
}
.blog__sidebar {
  width: 30%;
  padding: 0 1rem;
}
@media (max-width: 765px) {
  .blog__sidebar {
    width: 100%;
  }
}
.blog__sidebar--section {
  position: relative;
  margin: 0 auto;
}
.blog__sidebar--section-head {
  margin-top: 2rem;
}
.blog__sidebar--head {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto 2rem;
}
.blog__sidebar--head-text {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fff;
  padding: 0.5rem 2rem;
}
.blog__sidebar--head-rule {
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  border-top: 3px solid #000;
}
.blog__news {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.75rem 0;
}
@media (max-width: 765px) {
  .blog__news {
    max-width: 300px;
    margin: 1rem auto;
  }
}
.blog__news--section {
  display: block;
}
@media (max-width: 765px) {
  .blog__news--section {
    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    justify-content: space-between;
  }
}
.blog__news--image {
  width: 40%;
}
.blog__news--text {
  padding-left: 1rem;
}
.blog__news--text-head {
  font-weight: 600;
}
.blog__news--text-details {
  font-size: 0.65rem;
  font-weight: lighter;
}
.blog__ad {
  max-width: 300px;
  position: relative;
  margin: 1rem auto;
}
.blog__ad--section {
  width: 100%;
}
@media (max-width: 765px) {
  .blog__ad--section {
    display: flex;
    flex-wrap: wrap;
  }
}
.blog__ad--image {
  width: 100%;
}
.blog__ad--text {
  font-size: 1.25rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  font-weight: 600;
}
.blog__comment {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.blog__comment--info {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.blog__comment--info-commenter-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 10rem;
}
.blog__comment--info-commenter-name {
  font-weight: bolder;
}
.blog__comment--text {
  line-height: 1.75rem;
  font-style: italic;
}
.blog__social {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
}
.blog__social--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog__social--image {
  background-color: #086cef;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: relative;
}
.blog__social--image-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
}
.blog__social--details {
  padding-left: 0.5rem;
}
.blog__social--details-head {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.blog__social--details-text {
  font-weight: lighter;
  font-size: 0.75rem;
}
.blog__scroll {
  text-align: center;
  display: block;
  width: 100%;
  margin: 2rem 0;
}
@media (max-width: 765px) {
  .blog__scroll {
    margin: 1rem 0;
  }
}
.blog__scroll--btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.35rem 0.25rem;
  margin: 0.5rem;
}
@media (max-width: 765px) {
  .blog__scroll--btn {
    margin: 0.25rem;
  }
}
.blog__scroll--btn-left {
  -webkit-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.blog__scroll--btn-right {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.blog-color-text-sky {
  color: #086cef;
}
.show-shii {
  display: block;
}
.dont-show-shii {
  display: none;
}
.read-more-btn {
  height: 0.75rem;
  padding-left: 10px;
}
.blog-btn {
  height: 1.2rem;
}
@media (max-width: 765px) {
  .blog-btn {
    height: 0.9rem;
  }
}
.myNav_header {
  background-color: #01105b;
}
.myNav .header-middle {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.myNav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.myNav-flex-item {
  color: #000;
}
.myFooter {
  font-family: Arial;
  color: #fff;
}
.myFooter__bottom {
  background-color: #000;
  border-top: 1px solid #fff;
  color: #fff;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myFooter__top {
  background-image: url("/assets/files/footerBg.svg");
  background-size: 100% 100%;
  height: 488px;
}
.myFooter__top-img {
  width: 400px;
}
.myFooter__top-section {
  margin: 0;
  padding: 0;
}
.myFooter__top-section-flex {
  display: flex;
  padding: 0;
}
.myFooter__top-section-flex:last-of-type {
  padding-left: 15px;
}
.myFooter__top-section-flex .transform {
  transform: rotate(180deg);
  text-align: end;
  margin-right: 10px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0px;
  writing-mode: vertical-rl;
}
.myFooter__top-section-flex .transform:first-of-type {
  padding-bottom: 15px;
}
.myFooter__top-section-flex .transform-div {
  width: 100px;
  display: flex;
  align-items: baseline;
}
.myFooter__top-section-flex .link-div a {
  display: block;
  color: #fff;
  line-height: 30px;
}
.myFooter__top-section2-sub-text {
  font-size: 15px;
  margin-bottom: 12px;
}
.myFooter__top-section2-sub-form-input {
  width: 300px;
  display: block;
  height: 49px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.16);
  font-size: 12px;
  color: #fff !important;
  padding-left: 15px;
  margin-bottom: 17px;
}
.myFooter__top-section2-sub-form-submit {
  width: 58px;
  height: 38px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #086cef;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.myFooter__top-section2-sub-form-submit:hover {
  background-color: #095ece;
  transition: 0.5s ease-in-out;
}
.myFooter__top-section2-end {
  display: flex;
  flex-direction: column;
}
.myFooter__top-section2-end-arrow {
  align-self: flex-end;
  margin-bottom: 91px;
}
.myFooter__top-section2-end-text {
  align-self: flex-end;
}
.myFooter__top-section2-end-text-icons {
  display: flex;
}
.myFooter__top-section2-end-text-icons div {
  width: 31px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.myFooter__top-section2-end-text-icons .twitter-div {
  margin-right: 11px;
}
.myFooter__top-section2-end-text-icons .twitter-div img {
  width: 12px;
  height: 10px;
}
.myFooter__top-section2-end-text-icons .fb-div {
  margin-right: 11px;
}
.myFooter__top-section2-end-text-icons .fb-div img {
  width: 6px;
  height: 11px;
}
.myFooter__top-section2-end-text-icons .ig-div img {
  width: 12px;
  height: 11px;
}
body {
  font-family: "Arial";
}
.layout {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 61px 1fr;
  grid-template-areas: "sidebar navbar" "sidebar mainsection";
  height: 100vh;
}
.mainsection {
  background-color: #f3f6f8;
  width: 80vw;
  min-height: calc(100vh - 61px);
  grid-area: mainsection;
  background-color: #f7f7f7;
}
.sidebar {
  width: 20vw;
  background-color: #01105b;
  grid-area: sidebar;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.navbar {
  width: 80vw;
  background-color: #fff;
  grid-area: navbar;
  height: 60px;
  box-shadow: 0px 3px 20px #00000029;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.signup,
.login {
  max-width: 800px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.signup-body,
.login-body {
  background-color: #f6f6f6;
  line-height: 1.5rem;
  word-spacing: 1px;
  max-width: 1377px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 765px) {
  .signup,
  .login {
    font-size: 12px;
  }
}
.signup {
  margin: 10px auto;
}
.signup__head--link {
  font-size: 1.2rem;
}
.signup__head--main {
  margin-bottom: 2rem;
}
@media (max-width: 765px) {
  .signup__head--main {
    margin-bottom: 1rem;
  }
}
.signup__head--main-head {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  margin: 1rem 0;
  line-height: 3.5rem;
}
@media (max-width: 765px) {
  .signup__head--main-head {
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 0.5rem 0;
  }
}
@media (max-width: 765px) {
  .signup__head--text {
    text-align: justify;
  }
}
.signup__social,
.signup__email {
  margin: 50px 0;
  padding: 30px;
  text-align: left;
}
@media (max-width: 765px) {
  .signup__social,
  .signup__email {
    margin: 30px 0;
    padding: 15px;
  }
}
.signup__social--head,
.signup__email--head {
  font-weight: 700;
  font-size: 1.2rem;
}
.signup__social--text,
.signup__email--text {
  margin: 20px 0;
}
.signup__social--btns,
.signup__email--btns {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
}
@media (max-width: 765px) {
  .signup__social--btns,
  .signup__email--btns {
    display: block;
    text-align: center;
  }
}
@media (max-width: 765px) {
  .signup__social--btn,
  .signup__email--btn {
    margin-bottom: 1rem;
  }
}
.signup__social--btn-facebook,
.signup__email--btn-facebook {
  background: #1dc1ff;
}
.signup__social--btn-google,
.signup__email--btn-google {
  background: #b20707;
}
.signup__social--btn-linkedin,
.signup__email--btn-linkedin {
  background: #5082f6;
}
.signup-link {
  text-decoration: none;
  color: #78b3ff;
}
.signup-card {
  box-shadow: 0 0 1rem rgba(33, 20, 20, 0.1);
  background-color: #fff;
}
.signup-btn {
  height: 3rem;
  width: 210px;
  border: none;
  color: #fff;
  position: relative;
}
@media (max-width: 765px) {
  .signup-btn {
    width: 80%;
  }
}
.signup-btn-img {
  z-index: 1;
  position: absolute;
}
.signup-form,
.login-form {
  margin: 20px 0;
}
.signup-form__row,
.login-form__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.signup-form__input,
.login-form__input {
  color: #e9dcdc;
  font-size: 1.05rem;
  padding: 0.5rem 0.75rem;
  border: none;
  border-bottom: 1px solid #949494;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.signup-form__input:focus,
.login-form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 1.5px solid #000;
}
.signup-form__input:focus:invalid,
.login-form__input:focus:invalid {
  border-bottom: 1.5px solid red;
}
.signup-form__input::-webkit-input-placeholder,
.login-form__input::-webkit-input-placeholder {
  color: #949494;
}
.signup-form__label,
.login-form__label {
  font-size: 0.75rem;
  margin-left: 5px;
  display: block;
  transition: all 0.3s;
}
.signup-form__input:placeholder-shown + .signup-form__label,
.login-form__input:placeholder-shown + .signup-form__label,
.signup-form__input:placeholder-shown + .login-form__label,
.login-form__input:placeholder-shown + .login-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.signup-form__group:not(:last-child),
.login-form__group:not(:last-child) {
  margin-bottom: 1rem;
}
.signup-form__group,
.login-form__group {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-width: 280px;
}
.signup-form__checkbox,
.login-form__checkbox {
  font-size: 0.65rem;
}
.signup-form__checkbox--group,
.login-form__checkbox--group {
  margin: 5px 0;
}
.signup-form__agreement,
.login-form__agreement {
  text-align: center;
}
.signup-form__submit,
.login-form__submit {
  width: 75%;
  background-color: #01105b;
  border-radius: 5px;
  margin: 20px 0 10px;
  font-size: 1.25rem;
}
.login {
  margin: auto;
  background-color: #fff;
}
.login__card {
  display: flex;
  max-width: 820px;
}
@media (max-width: 600px) {
  .login__card {
    display: block;
    width: 100%;
  }
}
.login__card-left {
  width: 45%;
  max-width: 300px;
  padding: 20px 40px 20px 20px;
  background-image: linear-gradient(to bottom, rgba(1, 16, 91, 0.8), rgba(1, 16, 91, 0.8)),
    url(/assets/images/signup/login-bg.png);
  background-size: cover;
  background-position: top;
  color: #fff;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 765px) {
  .login__card-left {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .login__card-left {
    display: block;
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .login__card-left {
    padding: 20px;
  }
}
.login__card-right {
  width: 55%;
  max-width: 500px;
  padding: 20px 30px;
}
@media (max-width: 600px) {
  .login__card-right {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px 10px;
  }
}
.login-right__footer {
  display: none;
}
@media (max-width: 600px) {
  .login-right__footer {
    display: block;
  }
}
.login-left__banner {
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .login-left__banner {
    margin-bottom: 10px;
  }
}
.login-left__banner-img {
  width: 75%;
}
@media (max-width: 600px) {
  .login-left__banner-img {
    max-width: 300px;
  }
}
.login-left__text {
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .login-left__text {
    margin-bottom: 20px;
  }
}
.login-left__text-head {
  font-weight: 700;
  font-size: 1.2rem;
}
.login-left__btns {
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .login-left__btns {
    margin-bottom: 20px;
  }
}
.login-left__btns-btn {
  text-align: center;
  margin: 15px;
}
@media (max-width: 765px) {
  .login-left__btns-btn {
    margin: 15px 0;
  }
}
@media (max-width: 600px) {
  .login-left__footer {
    display: none;
  }
}
.login-main {
  text-align: left;
}
.login-main__head {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .login-main__head {
    display: none;
  }
}
.login-main__head-main {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  line-height: 3.5rem;
}
.login-main__text-head {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}
.login-btn {
  height: 2.5rem;
  width: 95%;
  border: none;
  color: #fff;
  position: relative;
}
@media (max-width: 600px) {
  .login-btn {
    max-width: 300px;
  }
}
.login-form {
  margin: 0;
}
.login-form__input {
  width: 100%;
}
.login-form__btn {
  text-align: center;
}
body {
  font-family: Arial, Helvetica, serif;
}
* {
  box-sizing: border-box;
}
.bold {
  font-weight: 600;
}
p {
  font-size: 20px;
  font-weight: 300;
}
a:hover {
  color: orange;
}
.centered {
  text-align: center;
}
.clearfix {
  content: "";
  clear: both;
}
.wrapper {
  padding-right: 18px;
  padding-left: 18px;
}
.site-header {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 71px;
  z-index: 2;
  background-color: #01105b;
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.page-heading_large-image {
  position: relative;
  top: 0;
  width: 100%;
  height: 898px;
  background: url("/assets/images/bg1.png") top center no-repeat,
    url("/assets/images/bg2.png") top center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
.page-heading {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(20%);
  z-index: 4;
  width: 100%;
  text-align: center;
}
.page-heading_title {
  color: #ffffff;
  font-family: serif;
  font-size: 58px;
}
.page-heading_subtitle {
  color: #bfbfbf;
  padding: 0;
}
.page-heading_find-listing {
  color: #bfbfbf;
}
.nav-links_pull-right {
  float: right;
}
.nav-links_pull-right ul,
.contact-info ul {
  margin: 0;
  padding: 0;
  content: "";
  clear: both;
}
.nav-links_pull-right li,
.contact-info li {
  float: left;
  list-style: none;
  padding-right: 22px;
  padding-top: 20px;
}
.additional-top-padding {
  padding-top: 10px;
}
.nav-links_pull-right a {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}
.page-directory {
  position: absolute;
  top: 71px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  opacity: 0.38;
  z-index: 10;
}
.page-directory_enroll-trademark {
  float: left;
  padding-right: 20px;
}
.nav-link2 a {
  font-size: 20px;
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}
.nav-link2_top-padding {
  padding-top: 20px;
}
.page-heading_large-image {
  margin-top: 71px;
}
.wrapper2 {
  padding-left: 60px;
  padding-right: 60px;
}
.container-input_area {
  width: 1046px;
  height: 75px;
  background: #626366;
  margin-top: 29px;
  margin-bottom: 52px;
  padding: 0 158px;
}
.input-style {
  position: relative;
  height: 40px;
  width: 176px;
  margin-top: 17px;
  margin-left: -145px;
  background-color: #ffffff;
  color: grey;
  z-index: 2;
  border: white solid 1px;
  border-radius: 3px;
}
.input-style2 {
  height: 40px;
  width: 241px;
  margin-top: 17px;
  margin-left: -22px;
  background-color: #ffffff;
  color: grey;
  border: white solid 1px;
  border-radius: 3px;
}
.input-style3 {
  height: 40px;
  width: 332px;
  margin-top: 17px;
  margin-left: 38px;
  background-color: #ffffff;
  color: blue;
  border: white solid 1px;
  border-radius: 3px;
}
.btn-div {
  margin-top: 25px;
  width: 100%;
}
.btn-find-list {
  padding: 13px 73px;
  background: darkblue;
  color: #ffffff;
  margin-right: -200px;
  border-radius: 3px;
}
.enrolled-gallery {
  position: relative;
  top: -6em;
  background-color: #f6f6f6;
  padding-bottom: 90px;
}
.card-deck_bg-image:hover {
  background: url("/assets/images/bg1.png") top center no-repeat, #1775fa;
  background-blend-mode: multiply;
  background-size: cover;
  color: #ffffff;
  opacity: 0.7;
}
.card-deck_title {
  font-size: 26px;
  font-weight: 600;
}
.section-title {
  padding: 60px 0;
  font-weight: 600;
}
.create-account {
  position: relative;
  max-width: 100%;
  height: 650px;
  margin-top: -95px;
}
.create-account_div1 {
  height: 100%;
}
.section-paddings {
  padding-top: 80px;
}
.create-account_description {
  margin-top: 50px;
  margin-left: -50px;
  margin-bottom: 20px;
}
.create-account_description h5 {
  font-size: 40px;
  font-weight: 600;
}
.buttons {
  padding: 10px 15px;
  background: #01105b;
  color: #ffffff;
}
.btn-left {
  margin-left: -30px;
}
.btn-get-started {
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
}
.jumbo {
  position: relative;
  top: 0;
  background: #4e5687;
  color: #ffffff;
}
.jumbo-container {
  margin: -30px auto -30px auto;
}
.jumbo-heading {
  font-size: 38px;
}
.create-account2 {
  position: relative;
  top: -32px;
  max-width: 100%;
  height: 650px;
}
.wrapper2 {
  margin-left: 30px;
}
.add-container {
  position: relative;
  top: -35px;
  width: 100%;
  height: 750px;
  background: #f6f6f6;
  text-align: center;
  padding-top: 50px;
}
.add-section_header {
  font-size: 40px;
  font-weight: 600;
}
html {
  overflow-x: hidden;
}
section#home {
  position: relative;
}
section#home div.rev_slider.fullwidthabanner {
  max-height: 680px !important;
  height: 680px !important;
}
.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  font-family: Arial;
}
.home .text-center {
  text-align: center;
}
.home .resources {
  font-family: Arial;
  padding: 77px 0 78px;
  background-color: #f6f6f6;
  text-align: center;
}
.home .resources .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}
.home .resources-header {
  font-family: Arial;
  margin-bottom: 17px;
  font-size: 46px;
  line-height: 55px;
  color: #000;
}
.home .resources-sub {
  color: #086cee;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}
.home .resources .btn-div button {
  background-color: #01105b;
  color: #fff;
  width: 250px;
  height: 60px;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 5px;
  font-size: 15px;
}
.home .resources-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  width: 1100px;
  margin: 59px auto 75px;
}
.home .resources-grid-box {
  background-color: #ffffff;
  box-shadow: 0px 8px 18px #0000000f;
  padding: 24px 22px 22px 28px;
  text-align: left;
  border-radius: 5px;
}
.home .resources-grid-box-intro {
  color: #aaaaaa;
  font-size: 15px;
}
.home .resources-grid-box-image {
  max-width: 200px;
  max-height: 50px;
}
.home .resources-grid-box-topic {
  margin: 15px 0 8px;
  color: #000;
  font-weight: 600;
  font-family: Arial;
  line-height: 28px;
}
.home .resources-grid-box-desc {
  letter-spacing: 0px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.home .resources-grid-box .arrow {
  background: #086cef;
  border: 1px solid #086cef;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.home .home-section {
  background-color: transparent;
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
}
.home .home-section-top {
  text-align: center;
}
.home .home-section-top h2 {
  font-family: "Baskerville Old Face" !important;
  font-size: 80px;
  line-height: 80px;
  color: #fff;
}
.home .home-section-top .desc {
  font-size: 26px;
  color: #bfbfbf;
}
.home .home-section-top-input-div {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.19);
  margin-top: 25px;
  display: flex;
  align-items: center;
  padding: 0 45px 0 17px;
}
.home .home-section-top-input-div button {
  height: 50px;
  border-radius: 5px;
  color: #01105b;
  font-size: 20px;
}
.home .home-section-top-input-div .btn1 {
  width: 140px;
  background-color: #fff;
  margin-right: 14px;
}
.home .home-section-top-input-div .input {
  width: 530px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.home .home-section-top-input-div .input input {
  width: 100%;
  border: none;
  color: #01105b;
  font-size: 20px;
}
.home .home-section-top-input-div .input input::placeholder {
  color: #01105b;
  font-size: 20px;
}
.home .home-section-top-input-div .btn2 {
  width: 220px;
  background-color: #01105b;
  margin-right: 14px;
  color: #fff;
}
.home .home-section-top-input-div .btn3 {
  width: 200px;
  background-color: #fff;
}
.home .home-section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  width: 85%;
  margin: 100px auto 0;
}
.home .home-section-grid .card-div {
  height: 280px;
  background-color: #fff;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 3px;
}
.home .home-section-grid .card-div .top {
  position: relative;
  padding: 10px 10px 0;
}
.home .home-section-grid .card-div .top p {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #efecec;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
}
.home .home-section-grid .card-div .top img {
  margin-top: 10px;
  height: 100px;
}
.home .home-section-grid .card-div .bottom {
  width: 80%;
  margin: 0 auto;
}
.home .home-section-grid .card-div .bottom h3 {
  color: #01105b;
  font-size: 40px;
  font-weight: 700;
}
.home .home-section-grid .card-div .bottom p {
  color: #000;
  font-size: 20px;
  margin-bottom: 0;
  line-height: 24px;
}
.home .cta {
  background-color: #000;
}
.home .cta_body {
  padding: 110px 0 40px 65px;
}
.home .cta_body .row {
  margin: 0;
}
.home .cta_body-1 {
  padding: 0;
}
.home .cta_body-1 p {
  color: #ffffff;
  font-size: 26px;
  line-height: 20px;
  margin: 0;
}
.home .cta_body-1 h3 {
  color: #fac207;
  font-size: 46px;
}
.home .cta_body-2 {
  padding: 0;
}
.home .cta_body-2 div {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #fff;
  width: 80%;
  height: 60px;
  padding: 0 10px 15px 10px;
}
.home .cta_body-2 div input {
  width: 80%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
}
.home .cta_body-2 div input::placeholder {
  color: #fff;
  font-size: 15px;
}
.home .form .container {
  padding: 80px 0 100px;
}
.home .form button {
  background-color: #01105b;
  color: #fff;
  width: 250px;
  height: 60px;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 5px;
  font-size: 16px;
}
.home .form-div1 h2 {
  font-size: 40px;
  color: #000;
  margin-bottom: 30px;
}
.home .form-div1 p {
  font-size: 26px;
  line-height: 40px;
  color: #000;
}
.home .form-div2 .row {
  margin: 0;
}
.home .form-div2-formgroup {
  width: 325px;
  height: 80px;
  box-shadow: 0px 8px 16px #00000029;
  margin-left: 0;
  display: flex;
  align-items: center;
}
.home .form-div2-formgroup input {
  width: 80%;
  height: 70px;
  border: none;
  font-size: 16px;
  color: #9b9b9b;
}
.home .form-div2-formgroup input::placeholder {
  color: #9b9b9b;
}
.home .form-div2-formgroup input:focus {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.home .form-div2-formtextarea {
  width: 670px;
  height: 180px;
  box-shadow: 0px 8px 16px #00000029;
  margin-left: 0;
  padding-top: 17px;
}
.home .form-div2-formtextarea textarea {
  width: 80%;
  height: 130px;
  border: none;
  font-size: 16px;
  color: #9b9b9b;
  resize: none;
}
.home .form-div2-formtextarea textarea::placeholder {
  color: #9b9b9b;
}
.home .form-div2-formtextarea textarea:focus {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.home .image-aside {
  height: 900px;
}
.home .image-aside .side {
  position: absolute;
  top: 7vh;
  left: -9vw;
  height: 200px;
  width: 200px;
  border: 25px solid rgba(168, 203, 250, 0.29);
  border-radius: 50%;
}
.home .image-aside .container-fluid {
  padding: 140px 0 150px 50px;
}
.home .image-aside .flex {
  display: flex;
}
.home .image-aside-div1 {
  width: 50%;
  padding-top: 100px;
}
.home .image-aside-div1 h2 {
  color: #000000;
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 30px;
}
.home .image-aside-div1 p {
  color: #000000;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 70px;
}
.home .image-aside-div1 a {
  background-color: #01105b;
  color: #fff;
  padding: 20px 50px;
  border-radius: 3px;
  font-size: 16px;
}
.home .image-aside-div1 a:hover {
  color: #fff;
}
.home .image-aside-div2 {
  position: relative;
  width: 50%;
}
.home .image-aside-div2 img {
  width: 780px;
  max-width: 780px;
  height: auto;
  position: absolute;
  right: -6rem;
}
.home .image-aside2 {
  margin-top: 200px;
  height: 900px;
}
.home .image-aside2 .container-fluid {
  padding: 140px 30px 150px;
}
.home .image-aside2 .side {
  position: absolute;
  top: 10vh;
  left: -7vw;
  height: 200px;
  width: 200px;
  border: 25px solid #f6f6f6;
  border-radius: 50%;
}
.home .image-aside2 .side2 {
  position: absolute;
  bottom: 17vh;
  right: -7vw;
  height: 200px;
  width: 200px;
  border: 25px solid rgba(168, 203, 250, 0.29);
  border-radius: 50%;
}
.home .image-aside2 .flex {
  display: flex;
}
.home .image-aside2-div1 {
  position: relative;
  width: 50%;
}
.home .image-aside2-div1 img {
  width: 750px;
  max-width: 750px;
  height: auto;
}
.home .image-aside2-div2 {
  width: 50%;
  padding-top: 100px;
}
.home .image-aside2-div2 h2 {
  color: #000000;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 30px;
}
.home .image-aside2-div2 p {
  color: #000000;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 100px;
}
.home .image-aside2-div2 a {
  background-color: #01105b;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
  font-size: 16px;
}
.home .image-aside2-div2 a:hover {
  color: #fff;
}
.home #team .title {
  color: #000;
  font-size: 46px;
}
.home #team .desc {
  color: #086cef;
  font-size: 26px;
}
.home #team .team-thumb h4 {
  background-color: #086cee70;
  border-left: 4px solid #086cee;
}
.home #team .team-thumb h4 span.small {
  position: relative;
  top: 0;
  right: 0;
}
.home #team .team-bottom-name {
  color: #000;
  font-size: 15px;
}
.home #team .team-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home #team .team-bottom-flex-div1 p {
  color: #000;
  font-size: 13px;
}
.home #team .team-bottom-flex-div2 a {
  color: #fff;
  background-color: #01105b;
  padding: 10px 7px;
  border-radius: 3px;
}
.home .cities {
  background-image: url("/assets/files/433.png"),
    linear-gradient(rgba(12, 31, 124, 0.75), rgba(1, 16, 91, 0.75));
  background-blend-mode: overlay;
  height: 730px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.home .cities .container {
  padding-top: 20px;
}
.home .cities-header {
  font-size: 46px;
  color: #fff;
}
.home .cities-desc {
  font-size: 26px;
  margin-bottom: 40px;
}
.home .cities-grid {
  width: 80%;
  margin: 0 auto 50px;
}
.home .cities-grid a {
  color: #fff;
  display: block;
  text-align: left;
  font-size: 16px;
}
.home .cities-grid a:hover {
  color: #fff;
  text-decoration: underline;
}
.home .cities-link {
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 8px 18px #0000000f;
  border: 2px solid #ffffff;
  padding: 20px 15px;
  border-radius: 3px;
}
.home .cities-link:hover {
  color: #fff;
}
.mainsection .resources {
  font-family: Arial;
  padding: 77px 0 78px;
  background-color: #f6f6f6;
  text-align: center;
}
.mainsection .resources .container-fluid {
  padding-top: 0;
  padding-bottom: 0;
}
.mainsection .resources-header {
  font-family: Arial;
  margin-bottom: 17px;
  font-size: 46px;
  line-height: 55px;
  color: #000;
}
.mainsection .resources-sub {
  color: #086cee;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}
.mainsection .resources .btn-div button {
  background-color: #01105b;
  color: #fff;
  width: 250px;
  height: 60px;
  box-shadow: 0px 8px 18px #0000000f;
  border-radius: 5px;
  font-size: 15px;
}
.mainsection .resources-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  width: 1100px;
  margin: 59px auto 75px;
}
.mainsection .resources-grid-box {
  background-color: #ffffff;
  box-shadow: 0px 8px 18px #0000000f;
  padding: 24px 22px 22px 28px;
  text-align: left;
  border-radius: 5px;
}
.mainsection .resources-grid-box-intro {
  color: #aaaaaa;
  font-size: 15px;
}
.mainsection .resources-grid-box-image {
  max-width: 200px;
  max-height: 50px;
}
.mainsection .resources-grid-box-topic {
  margin: 15px 0 8px;
  color: #000;
  font-weight: 600;
  font-family: Arial;
  line-height: 28px;
}
.mainsection .resources-grid-box-desc {
  letter-spacing: 0px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.mainsection .resources-grid-box .arrow {
  background: #086cef;
  border: 1px solid #086cef;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.myNav_header {
  background-color: #01105b;
}
.myNav .header-middle {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
.myNav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}
.myNav-flex-item {
  color: #000;
}
.myFooter {
  font-family: Arial;
  color: #fff;
}
.myFooter__bottom {
  background-color: #000;
  border-top: 1px solid #fff;
  color: #fff;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myFooter__top {
  background-image: url("/assets/files/footerBg.svg");
  background-size: 100% 100%;
  height: 488px;
}
.myFooter__top-img {
  width: 400px;
}
.myFooter__top-section {
  margin: 0;
  padding: 0;
}
.myFooter__top-section-flex {
  display: flex;
  padding: 0;
}
.myFooter__top-section-flex:last-of-type {
  padding-left: 15px;
}
.myFooter__top-section-flex .transform {
  transform: rotate(180deg);
  text-align: end;
  margin-right: 10px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0px;
  writing-mode: vertical-rl;
}
.myFooter__top-section-flex .transform:first-of-type {
  padding-bottom: 15px;
}
.myFooter__top-section-flex .transform-div {
  width: 100px;
  display: flex;
  align-items: baseline;
}
.myFooter__top-section-flex .link-div a {
  display: block;
  color: #fff;
  line-height: 30px;
}
.myFooter__top-section2-sub-text {
  font-size: 15px;
  margin-bottom: 12px;
}
.myFooter__top-section2-sub-form-input {
  width: 300px;
  display: block;
  height: 49px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.16);
  font-size: 12px;
  color: #fff !important;
  padding-left: 15px;
  margin-bottom: 17px;
}
.myFooter__top-section2-sub-form-submit {
  width: 58px;
  height: 38px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #086cef;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.myFooter__top-section2-sub-form-submit:hover {
  background-color: #095ece;
  transition: 0.5s ease-in-out;
}
.myFooter__top-section2-end {
  display: flex;
  flex-direction: column;
}
.myFooter__top-section2-end-arrow {
  align-self: flex-end;
  margin-bottom: 91px;
}
.myFooter__top-section2-end-text {
  align-self: flex-end;
}
.myFooter__top-section2-end-text-icons {
  display: flex;
}
.myFooter__top-section2-end-text-icons div {
  width: 31px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inherit;
  justify-content: center;
  align-items: center;
}
.myFooter__top-section2-end-text-icons .twitter-div {
  margin-right: 11px;
}
.myFooter__top-section2-end-text-icons .twitter-div img {
  width: 12px;
  height: 10px;
}
.myFooter__top-section2-end-text-icons .fb-div {
  margin-right: 11px;
}
.myFooter__top-section2-end-text-icons .fb-div img {
  width: 6px;
  height: 11px;
}
.myFooter__top-section2-end-text-icons .ig-div img {
  width: 12px;
  height: 11px;
}
