<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Enrolled Agents" />
  <meta
    name="keywords"
    content="consulting,finance,advisor,consultant,business,service,insurance,agency"
  />
  <meta name="author" content="BamyX IT" />

  <title>Enrolled Agents</title>

  <link href="/images/favicon.png" rel="shortcut icon" type="image/png" />
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
  <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
  <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
  <link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/animate.css" rel="stylesheet" type="text/css" />
  <link href="/css/css-plugin-collections.css" rel="stylesheet" />

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/animate.css" rel="stylesheet" type="text/css" />
  <link href="/css/css-plugin-collections.css" rel="stylesheet" />

  <link href="/css/menuzord-megamenu.css" rel="stylesheet" />
  <link id="menuzord-menu-skins" href="/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />

  <link href="/css/style-main.css" rel="stylesheet" type="text/css" />
  <link href="/css/preloader.css" rel="stylesheet" type="text/css" />

  <link href="/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css" />
  <link href="/css/responsive.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

  <link href="/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
  <link href="/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
  <link href="/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

  <link href="/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css" />
</head>
