 <!-- Page Sidebar Start-->
 <div class="sidebar-wrapper">
    <div class="logo-wrapper"><a href="/"><img class="img-fluid for-light" src="/assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt=""></a>
      <div class="back-btn"><i class="fa fa-angle-left"></i></div>
      <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="/"><img class="img-fluid" src=".assets/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="sidebar-menu">
        <ul class="sidebar-links custom-scrollbar">
          <li class="back-btn"><a href="/"><img class="img-fluid" src="/assets/images/logo/logo-icon.png" alt=""></a>
            <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6 class="lan-1">General</h6>
              <p class="">Dashboard, EA Upload, EA lists</p>
            </div>
          </li>
        
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="/"><i data-feather="home"> </i><span>Dashboard</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="user"></i><span>Enrolled Agents</span></a>
            <ul class="sidebar-submenu">
              <li><a href="/approve-claim-listing">Approve Listing</a></li>
              <li><a href="/enrolled-agents">View All</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="upload-agents-list"><i data-feather="upload"> </i><span>Upload EA List</span></a></li>
          
         
          <li class="sidebar-main-title">
            <div>
              <h6 class="">Blog</h6>
              <p class="">Articles, Categories</p>
            </div>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="book"></i><span >Blog & Articles</span></a>
            <ul class="sidebar-submenu">
              <li><a href="view-articles">View All</a></li>
              <li><a href="create-article">Write New Article</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="book"></i><span >Blog Categories</span></a>
            <ul class="sidebar-submenu">
              <li><a href="view-blog-categories">View All</a></li>
              <li><a href="create-blog-categoriy">Create blog category</a></li>
            </ul>
          </li>
           
          <li class="sidebar-main-title">
            <div>
              <h6 class="">Ask an EA</h6>
              <p class="">Answer Questions, Create question categories</p>
            </div>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="book"></i><span >Question Categories</span></a>
            <ul class="sidebar-submenu">
              <li><a href="view-question-categories">View All</a></li>
              <li><a href="create-question-categoriy">Create question category</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="tax-questions"><i data-feather="money"> </i><span>Tax Questions</span></a></li>
          <li class="sidebar-main-title">
            <div>
              <h6 class="lan-8">Others</h6>
              <p class="lan-9">Ready to use Apps</p>
            </div>
          </li>
          <li class="sidebar-list">
            <label class="badge badge-danger">New</label><a class="sidebar-link sidebar-title" href="#"><i data-feather="box"></i><span>Project                </span></a>
            <ul class="sidebar-submenu">
              <li><a href="projects.html">Project List</a></li>
              <li><a href="projectcreate.html">Create new</a></li>
            </ul>
          </li>
         <li class="sidebar-list">  
            <label class="badge badge-info">Latest             </label><a class="sidebar-link sidebar-title link-nav" href="kanban.html"><i data-feather="monitor"> </i><span>kanban Board</span></a>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="shopping-bag"></i><span>Ecommerce</span></a>
            <ul class="sidebar-submenu">
              <li><a href="product.html">Product</a></li>
              <li><a href="product-page.html">Product page</a></li>
              <li><a href="list-products.html">Product list</a></li>
              <li><a href="payment-details.html">Payment Details</a></li>
              <li><a href="order-history.html">Order History</a></li>
              <li><a href="invoice-template.html">Invoice</a></li>
              <li><a href="cart.html">Cart</a></li>
              <li><a href="list-wish.html">Wishlist</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="pricing.html">Pricing              </a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="mail"></i><span>Email</span></a>
            <ul class="sidebar-submenu">
              <li><a href="email-application.html">Email App</a></li>
              <li><a href="email-compose.html">Email Compose</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="message-circle"></i><span>Chat</span></a>
            <ul class="sidebar-submenu">
              <li><a href="chat.html">Chat App</a></li>
              <li><a href="chat-video.html">Video chat</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="users"></i><span>Users</span></a>
            <ul class="sidebar-submenu">
              <li><a href="user-profile.html">Users Profile</a></li>
              <li><a href="edit-profile.html">Users Edit</a></li>
              <li><a href="user-cards.html">Users Cards</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="bookmark.html"><i data-feather="heart"> </i><span>Bookmarks</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="contacts.html"><i data-feather="list"> </i><span>Contacts</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="task.html"><i data-feather="check-square"> </i><span>Tasks</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="calendar-basic.html"><i data-feather="calendar"> </i><span>Calendar</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="social-app.html"><i data-feather="zap"> </i><span>Social App</span></a></li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="to-do.html"><i data-feather="clock"> </i><span>To-Do</span></a></li>
      
          </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
  </div>
  <!-- Page Sidebar Ends-->