.layout {
  display: grid;
  @include respond(small-laptop) {
    display: flex;
  }
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 61px 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar mainsection";
  height: 100vh;
}

.mainsection {
  background-color: #f3f6f8;
  width: 80vw;
  @include respond(small-laptop) {
    width: 100vw;
    margin-top: 15%;
  }
  // min-height: calc(100vh - 61px);
  height: 100%!important;
  grid-area: mainsection;
  background-color: #f7f7f7;
}

.sidebar {
  width: 20vw;
  background-color: $main-blue;
  grid-area: sidebar;
  height: 100vh;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.navbar {
  width: 80vw;
  &_mobile{
    display: none;
  }
  #navbar_mobile_ul{
    display: none;    
  }

  @include respond(small-laptop) {
    width: 100vw;
    .navbar_mobile{
      display: flex;
      width: 100%;
      justify-content: space-between;
      img {
        height: 30px;
      }
      div{
        float: right;
        display: flex;
        flex-direction: column;
        cursor:pointer;
        margin: 10px 0;
      }
      em {
        width: 20px;
        height: 3px;
        margin: 3.5px 20px 0;
        float: right;
        background: #777;
      }
    }
    .show{
      display:block !important;
    }
    #navbar_mobile_ul{
      display: none;
      position: absolute;
      top: 105%;
      width: 90%;

      li{
        width: 100%;
        display: block;
        position: relative;
        padding: 2px;
        cursor: pointer;
        a {
          width: 100%;
          padding: 10px 20px;
          display: block;
          border-bottom: solid 1px #f0f0f0;
          .indicator {
            width: 60px;
            height: 45px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 22px;
            text-align: center;
            line-height: 43px;
            border-left: solid 1px #f5f5f5;
            display: flex;
            align-items: center;
            i{
              display: none;

            }
            .show{
              display:block;
            }
        }
      }
      }
    }
    .navbar_div1, .navbar_div2{
      display: none;
    }
  }
  background-color: #fff;
  grid-area: navbar;
  height: 60px;
  box-shadow: 0px 3px 20px #00000029;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}