.myNav {
  &_header {
    background-color: $main-blue;
  }
  .header-middle {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  }
  &-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    &-item {
      color: #000;
    }
  }
}
