.myNav {
  &_header {
    background-color: $main-blue;
  } 
  .header-middle {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
    background-color: #fff!important;
    .menuzord-menu {
      .m-26 {
        margin-top: 50px;
      }
      .dropdown-link {
        font-size: 13px !important;
        color: #000 !important;
        font-weight: 400 !important;
      }
      .category-header-text {
        color: $main-blue !important;
        font-size: 14px;
        font-weight: 600;
        padding: 7px 25px 7px 22px;
      }
      li {
        a {
          color: #000 !important;
        }
        &:hover {
          a {
            color: $main-blue !important;
            background-color: #fff;
          }
        }
      }
      .my-dropdown {
        li {
          a {
            color: #000 !important;
          }
          &:hover {
            a.dropdown-link {
              color: #fff !important;
              background-color: $main-blue;
            }
          }
        }
      }
      .my-dropdown-child {
        li {
          a {
            font-size: 13px !important;
            color: #000 !important;
            font-weight: 400 !important;
          }
          &:hover {
            a.dropdown-link {
              color: #fff !important;
              // background-color: $main-blue;
            }
            a.dropdown-link-child {
              color: #fff !important;
              background-color: $main-blue;
            }
          }
        }
      }
    }
  }
  &-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    &-item {
      background-color: #fff;
      z-index: 99;

      a {
        color: #000 !important;
        font-weight: 400 !important;
        font-size: 14px !important;
      }
    }
  }
  #myNav {
    z-index: 1999 !important;
  }

  @include respond(laptop) {
      .header-middle{
        .menuzord{
          padding: 0;
          .col-xs-12, .col-sm-12 {
              float: none!important;
            }
          #menuzord{
            padding-right: 0;
            .myNav-flex-item{
              margin-right: 20px!important;
            }

            
          }
        }
      }
  }

  @media (max-width: 365px) {
    .header-middle{
      min-height: 110px!important;
    }
    .menuzord .showhide {
      float: left !important;
    }
  }

  @include respond(small-laptop) {
      &_header{
        ul.my-left{
          text-align: left!important;
        }
      }
  }
  @include respond(tab-land) {
      &_header{
        display: none;
      }
  }
}
