<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <p>My first paragraph Again</p>

    <%- include('partials/scripts.ejs') %> <%- include('partials/footer.ejs') %>
  </body>
</html>
