<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include("../partials/head.ejs") %>
<meta name="" content=""  />

  <body>
    <%- include("../partials/header.ejs") %>
   
    <script src="https://widget.resourcesforclients.com/newsletter/CU.js?u=8fZwTcd22l4L&n=CU" id="CU" type="text/javascript" async></script>
    <script src="/js/main.js"></script>    
</body>
          
</html>
