<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include("../partials/head.ejs") %>
<meta name="" content=""  />
    <style>
    #TPI-newsletter-container{
            display: flex;
            margin: 50px 0;
            justify-content: center;
            align-items: center;
     }
    </style>
  <body>
    <%- include("../partials/header.ejs") %>
    <script src="https://widget.resourcesforclients.com/newsletter/TPI.js?u=EWQnSrF7zKH2&n=TPI" id="TPI" type="text/javascript" async></script>
    <script src="/js/main.js"></script>  
    
    <%- include("../partials/footer.ejs") %>     
</body>
          
</html>
