.signup,
.login {
  // max-width: 1376px;
  max-width: 800px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  &-body {
    // base styles for the whole page
    background-color: #f6f6f6;
    line-height: 1.5rem;
    word-spacing: 1px;
    max-width: 1377px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.signup {
  margin: 10px auto;
  &__head {
    &--link {
      font-size: 1.2rem;
    }
    &--main {
      margin-bottom: 2rem;
      &-head {
        font-size: 3rem;
        font-weight: 400;
        font-family: 'Libre Baskerville', serif;
        margin: 1rem 0;
      }
    }
  }

  &__social,
  &__email {
    margin: 50px 0;
    padding: 30px;
    text-align: left;
    &--head {
      font-weight: 700;
      font-size: 1.2rem;
    }
    &--text {
      margin: 20px 0;
    }
    &--btns {
      display: flex;
      flex-wrap: wrap;
      justify-items: center;
      justify-content: space-between;
    }
    &--btn {
      &-facebook {
        background: #1dc1ff;
      }
      &-google {
        background: #b20707;
      }
      &-linkedin {
        background: #5082f6;
      }
    }
  }

  &-link {
    text-decoration: none;
    color: #78b3ff;
  }
  &-card {
    box-shadow: 0 0 1rem rgba(#2114140f, 0.1);
    background-color: #fff;
  }
  &-btn {
    height: 3rem;
    width: 210px;
    border: none;
    color: #fff;
    position: relative;
    &-img {
      z-index: 1;
      position: absolute;
    }
  }

  //==================SIGNUP FORM============//@at-root
}
// ========== LOGin ======= //

//==============FORMS===============//
.signup,
.login {
  &-form {
    margin: 20px 0;
    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__input {
      color: #e9dcdc;
      font-size: 1.05rem;
      padding: 0.5rem 0.75rem;
      border: none;
      border-bottom: 1px solid #949494;
      width: 100%;
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000, 0.1);
        border-bottom: 1.5px solid #000;

        &:invalid {
          border-bottom: 1.5px solid red;
        }
      }

      &::-webkit-input-placeholder {
        color: #949494;
      }
    }

    &__label {
      font-size: 0.75rem;
      margin-left: 5px;
      display: block;
      transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
    &__group:not(:last-child) {
      margin-bottom: 1rem;
    }
    &__group {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      min-width: 280px;
      //display: inline-block;
    }
    &__checkbox {
      font-size: 0.65rem;
      // margin: 20px 0;
      &--group {
        margin: 5px 0;
      }
    }

    &__agreement {
      text-align: center;
    }
    &__submit {
      width: 75%;
      background-color: #01105b;
      border-radius: 5px;
      margin: 20px 0 10px;
      font-size: 1.25rem;
    }
  }
}
.login {
  margin: auto;
  background-color: #fff;
  &__card {
    display: flex;
    max-width: 820px;

    &-left {
      width: 45%;
      max-width: 300px;
      // margin-left: 1rem;
      padding: 20px 40px 20px 20px;
      background-image: linear-gradient(
          to bottom,
          rgba(1, 16, 91, 0.8),
          rgba(1, 16, 91, 0.8)
        ),
        url(/assets/images/signup/login-bg.png);
      background-size: cover;
      background-position: top;
      color: #fff;
      text-align: left;
    }
    &-right {
      width: 55%;
      max-width: 500px;
      padding: 20px 30px;
    }
  }

  &-left {
    &__banner {
      margin-bottom: 30px;
      &-img {
        width: 75%;
      }
    }
    &__text {
      margin-bottom: 40px;
      &-head {
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
    &__btns {
      margin-bottom: 50px;
      &-btn {
        text-align: center;
        margin: 15px;
      }
    }
  }

  &-main {
    text-align: left;
    &__head {
      margin-bottom: 20px;
      &-main {
        font-size: 3rem;
        font-weight: 400;
        font-family: 'Libre Baskerville', serif;
        line-height: 3.5rem;
      }
    }
    &__text {
      &-head {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }

  &-btn {
    height: 2.5rem;
    width: 95%;
    border: none;
    color: #fff;
    position: relative;
  }
  &-form {
    margin: 0;
    &__input {
      width: 100%;
    }
    &__btn {
      text-align: center;
    }
    &__submit {
    }
  }
}
