<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <%- include("./partials/head.ejs", {description: 'Read about Enrolled Agent the online market place for tax preparers. We aim to build a space where anyone can choose the licensed tax experts on a single click.'}) %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider layer-overlay overlay-dark-4 about_jumbotron">
          <div class="container pt-120 pb-60 mobile-container">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="text-theme-colored2 font-36">Enrolled Agent - About us</h1>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col">
                  <p class="mb-padding">
                    EnrolledAgent.com is an online marketplace for tax professionals. Our goal is to 
                    create an environment where anyone can access licensed tax professionals with ease. 
                    We also seek to promote the <a href="/">Enrolled Agent</a> brand and be a resource platform for all 
                    tax professionals.
                  </p> 
                  <p class="mt-10 mb-padding">
                    EnrolledAgent.com LLC which owns EnrolledAgent.com is not affiliated with the 
                    Internal Revenue Service or any tax and accounting body.
                  </p>
                </div>
                
              </div>
            </div>
          </div>
        </section>

        <!-- Divider: Funfact -->
        <section class="layer-overlay overlay-theme-colored-9 about-funfact">
          <div class="container pt-40 pb-sm-30">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-white">See Our Awesome Funfacts</h2>
                <div class="diamond-line-centered-theme-colored2 mobile-display"></div>
              </div>
            </div>
            <div class="row mt-30 text-center">
              <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact">
                  <i class="pe-7s-smile mb-20 text-white mobile-display"></i>
                  <h2
                    data-animation-duration="2000"
                    data-value="754"
                    class="animate-number text-white font-42 font-weight-600 mt-0 mb-15"
                  >
                    0
                  </h2>
                  <h5 class="text-white text-uppercase">Happy Clients</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact">
                  <i class="pe-7s-notebook mb-20 text-white mobile-display"></i>
                  <h2
                    data-animation-duration="2000"
                    data-value="6"
                    class="animate-number text-white font-42 font-weight-600 mt-0 mb-15"
                  >
                    0
                  </h2>
                  <h5 class="text-white text-uppercase">Years of Experience</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact">
                  <i class="pe-7s-users mb-20 text-white mobile-display"></i>
                  <h2
                    data-animation-duration="2000"
                    data-value="675"
                    class="animate-number text-white font-42 font-weight-600 mt-0 mb-15"
                  >
                    0
                  </h2>
                  <h5 class="text-white text-uppercase">Enrolled Agents</h5>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact">
                  <i class="pe-7s-study mb-20 text-white mobile-display"></i>
                  <h2
                    data-animation-duration="2000"
                    data-value="1248"
                    class="animate-number text-white font-42 font-weight-600 mt-0 mb-15"
                  >
                    0
                  </h2>
                  <h5 class="text-white text-uppercase">Resources and Articles</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/funfact.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
