<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="category">
      <section class="container-fluid category_jumbotron">
        <div class="row">
          <div class="col-12 category_jumbotron-div">
            <h2>Tax Law Changes</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing</p>
            <a href="#">View All Tax Questions</a>
          </div>
        </div>
      </section>
      <section class="category_grid">
        <div class="category_grid-main">
          <div class="category_grid-main-div">
            <div class="category_grid-main-div-img">
              <img src="/assets/files/13061.png" alt="enrolled-agent" />
            </div>
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title">Post Title Here</h3>
                  <p class="category-post-author">by Anonymous user</p>
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
                error sit voluptatem. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde
                omnis istpoe natus error sit voluptatem.
              </p>
              <a href="#" class="category_grid-main-div-meta-cta">Read More</a>
            </div>
          </div>
          <div class="category_grid-main-div">
            <div class="category_grid-main-div-img">
              <img src="/assets/files/13061.png" alt="enrolled-agent" />
            </div>
            <div class="category_grid-main-div-meta">
              <div class="category_grid-main-div-meta-div">
                <div class="category_grid-main-div-meta-div-date">
                  <p>28 <br />FEB</p>
                </div>
                <div class="category_grid-main-div-meta-div-title">
                  <h3 class="category-post-title">Post Title Here</h3>
                  <p class="category-post-author">by Anonymous user</p>
                </div>
              </div>
              <p class="category_grid-main-div-meta-desc">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus
                error sit voluptatem. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde
                omnis istpoe natus error sit voluptatem.
              </p>
              <a href="#" class="category_grid-main-div-meta-cta">Read More</a>
            </div>
          </div>
        </div>
        <div class="category_grid-side">
          <div class="category_grid-side-archives">
            <h4>Archives</h4>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
            <a href="#">Excepteur sint occaecat</a>
          </div>
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.png" alt="enrolled-agent" />
          </div>
          <div class="category_grid-side-recent">
            <h4>Recent Articles</h4>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
            <div class="category_grid-side-recent-div">
              <a href="#">
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est eopksio laborum.
                </p>
                <p class="category_grid-side-recent-div-bold">Nov, 26, 2020</p>
              </a>
            </div>
          </div>
          <div class="category_grid-side-ads">
            <img src="/assets/files/13061.png" alt="enrolled-agent" />
          </div>
        </div>
      </section>
      <section class="category_nav">
        <div class="category_nav-div">
          <img src="/assets/files/down-arrow-small.svg" alt="previous-button" />
        </div>
        <div class="category_nav-div2">
          <img src="/assets/files/down-arrow-small.svg" alt="next-button" />
        </div>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
