<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
            href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
            rel="stylesheet"
    />
    <%- include("./partials/head.ejs") %>

<body class="">
    <%- include("./partials/header.ejs") %>
    <div class="ccenter">
        <section class="ccenter__main">
            <div class="ccenter__main--items">
                <div class="ccenter__main--head">
                    EnrolledAgent Career Center
                </div>
                <div class="ccenter__main--text">
                    Connecting Talent with Opportunity
                </div>
                <div class="ccenter__main--form">
                    <div class="ccenter__main--form--items">
                        <div class="ccenter__main--form--items-group">
                            <div class="ccenter-form__input">
                                <input type="text" placeholder="Keyword or Job Title" class="ccenter-form__input-input">
                            </div>
                            <div class="ccenter-form__input">
                                <input type="text" placeholder="location" class="ccenter-form__input-input">
                            </div>
                        </div>
                        <div class="ccenter__main--form--items-group">
                            <div class="ccenter-form__input"  style="order: 2">
                                <input type="email" placeholder="Your@mail.com"  class="ccenter-form__input-input">
                            </div>
                            <div class="ccenter-form__checkbox" style="order: 1">
                                <input name="notification" type="checkbox"  class="ccenter-form__checkbox-checkbox">
                                <label for="notification"  class="ccenter-form__label">Send me new jobs for this search</label>
                            </div>
                        </div>
                    </div>
                    <div class="ccenter__main--form--button">
                        <button class="ccenter__main--form--button-btn">
                            Search Jobs
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section class="ccenter__featured-jobs">
            <div class="ccenter__resume">
            <div class="ccenter__resume--head">Resume Review</div>
            <div class="ccenter__resume--image">
                <img src="/assets/images/ccenter/resume.png" alt="" class="ccenter__resume--image-img">
            </div>
            <div class="ccenter__resume--form">
                <div class="resume-file">

                </div>
                <label for="resume-upload" class="ccenter__resume--label">
                    <img src="/assets/images/ccenter/upload.svg" alt="resume review" class="ccenter__resume--label-img">
                </label>
                <input id="resume-upload" type="file" class="ccenter__resume--input">
                <div class="ccenter__resume--button">
                    <button class="ccenter__resume--button-submit  ccenter-btn">Upload Resume</button>
                </div>
            </div>
        </div>
            <div class="ccenter__jobs">
                <div class="ccenter__jobs--head">
                    <div class="ccenter__jobs--head-text">
                        Featured Jobs
                    </div>
                    <div class="ccenter__jobs--head-button">
                        <button class="ccenter__jobs--head-button-btn ccenter-btn">
                            View All Jobs
                            <span class="ccenter-btn-right-angle">
                                <img src="/assets/images/ccenter/right-arrow-black.svg" class="ccenter-btn-right-arrow">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="ccenter__job-card">
                    <div class="ccenter__job-card-top">
                        <div class="ccenter__job-title">Manager I, Consulting</div>
                        <div class="ccenter__job-date">
                            <div class="ccenter__job-date-day">28</div>
                            <div class="ccenter__job-date-month">FEB</div>
                        </div>
                    </div>
                    <div class="ccenter__job-details">
                        <div class="ccenter__job-details-company">Wolters Kluwer United States, Inc.</div>
                        <div class="ccenter__job-details-location">Stamford, CT</div>
                    </div>
                    <div class="ccenter__job-link">
                        <a href="#" class="ccenter__job-link-item ccenter-link">Read more</a>
                    </div>
                </div>
                <div class="ccenter__job-card">
                    <div class="ccenter__job-card-top">
                        <div class="ccenter__job-title">General Manager</div>
                        <div class="ccenter__job-date">
                            <div class="ccenter__job-date-day">28</div>
                            <div class="ccenter__job-date-month">FEB</div>
                        </div>
                    </div>
                    <div class="ccenter__job-details">
                        <div class="ccenter__job-details-company">Wolters Kluwer United States, Inc.</div>
                        <div class="ccenter__job-details-location">Stamford, CT</div>
                    </div>
                    <div class="ccenter__job-link">
                        <a href="#" class="ccenter__job-link-item ccenter-link">Read more</a>
                    </div>
                </div>
                <div class="ccenter__job-card">
                    <div class="ccenter__job-card-top">
                        <div class="ccenter__job-title">Administrative Assistant</div>
                        <div class="ccenter__job-date">
                            <div class="ccenter__job-date-day">28</div>
                            <div class="ccenter__job-date-month">FEB</div>
                        </div>
                    </div>
                    <div class="ccenter__job-details">
                        <div class="ccenter__job-details-company">Wolters Kluwer United States, Inc.</div>
                        <div class="ccenter__job-details-location">Stamford, CT</div>
                    </div>
                    <div class="ccenter__job-link">
                        <a href="#" class="ccenter__job-link-item ccenter-link">Read more</a>
                    </div>
                </div>
                <div class="ccenter__job-card">
                    <div class="ccenter__job-card-top">
                        <div class="ccenter__job-title">Manager I, Consulting</div>
                        <div class="ccenter__job-date">
                            <div class="ccenter__job-date-day">28</div>
                            <div class="ccenter__job-date-month">FEB</div>
                        </div>
                    </div>
                    <div class="ccenter__job-details">
                        <div class="ccenter__job-details-company">Wolters Kluwer United States, Inc.</div>
                        <div class="ccenter__job-details-location">Stamford, CT</div>
                    </div>
                    <div class="ccenter__job-link">
                        <a href="#" class="ccenter__job-link-item ccenter-link">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="ccenter__featured-services">
            <div class="ccenter__featured-services--head">Featured Services</div>
            <div class="ccenter__featured-services--cards">
                <div class="ccenter__service--card">
                    <div class="ccenter__service--card-image">
                        <img src="/assets/images/ccenter/discuss.png" alt="" class="ccenter__service-card--card-image-img">
                    </div>
                    <div class="ccenter__service--card-text">
                        Lorem ipsumun
                    </div>
                </div>
                <div class="ccenter__service--card">
                    <div class="ccenter__service--card-image">
                        <img src="/assets/images/ccenter/discuss.png" alt="" class="ccenter__service-card--card-image-img">
                    </div>
                    <div class="ccenter__service--card-text">
                        Lorem ipsumun
                    </div>
                </div>
                <div class="ccenter__service--card">
                    <div class="ccenter__service--card-image">
                        <img src="/assets/images/ccenter/discuss.png" alt="" class="ccenter__service-card--card-image-img">
                    </div>
                    <div class="ccenter__service--card-text">
                        Lorem ipsumun
                    </div>
                </div>
            </div>
        </section>
        <section class="ccenter__snapshot">
            <div class="ccenter__snapshot--head">
                Career Center Snapshot
            </div>
            <div class="ccenter__snapshot--text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            </div>
            <div class="ccenter__snapshot--details">
                <div class="ccenter__snapshot--card-group">
                    <div class="ccenter__snapshot--card">
                        <div class="ccenter__snapshot--card-icon">
                            <img src="/assets/images/ccenter/user.svg" alt="" class="ccenter__snapshot--card-icon-img">
                        </div>
                        <div class="ccenter__snapshot--card-number">
                            94
                        </div>
                        <div class="ccenter__snapshot--card-text">
                            Employers
                        </div>
                    </div>
                    <div class="ccenter__snapshot--card">
                        <div class="ccenter__snapshot--card-icon">
                            <img src="/assets/images/ccenter/jobseekers.svg" alt="" class="ccenter__snapshot--card-icon-img">
                        </div>
                        <div class="ccenter__snapshot--card-number">
                            254
                        </div>
                        <div class="ccenter__snapshot--card-text">
                            Job Seekers
                        </div>
                    </div>
                </div>
                <div class="ccenter__snapshot--card-group">
                    <div class="ccenter__snapshot--card">
                    <div class="ccenter__snapshot--card-icon">
                        <img src="/assets/images/ccenter/portfolio.svg" alt="" class="ccenter__snapshot--card-icon-img">
                    </div>
                    <div class="ccenter__snapshot--card-number">
                        51113
                    </div>
                    <div class="ccenter__snapshot--card-text">
                        Jobs
                    </div>
                </div>
                    <div class="ccenter__snapshot--card">
                    <div class="ccenter__snapshot--card-icon">
                        <img src="/assets/images/ccenter/file.svg" alt="" class="ccenter__snapshot--card-icon-img">
                    </div>
                    <div class="ccenter__snapshot--card-number">
                        208,716
                    </div>
                    <div class="ccenter__snapshot--card-text">
                        Employers
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="ccenter__cb">
            <div class="ccenter__cb--head">
                <div class="ccenter__cb--head-head">
                    Request a call Back
                </div>
                <div class="ccenter__cb--head-text">
                    Please fill out the form and press the submit button.
                    We will get back to you with 1-2 business days
                </div>
            </div>
            <div class="ccenter__cb--form">
                <div class="ccenter__form--input-group">
                    <input type="text" placeholder="Full Name*" class="ccenter__form--input">
                    <input type="email" placeholder="Email*" class="ccenter__form--input">
                </div>
                <div class="ccenter__form--input-group">
                    <input type="text" placeholder="Subject*" class="ccenter__form--input">
                    <input type="email" placeholder="Phone Number*" class="ccenter__form--input">
                </div>
                <div class="ccenter__form--input-group">
                    <textarea name="message" id=""  class="ccenter__form--textarea" placeholder="Message*"></textarea>
                </div>
                <div class="ccenter__form--input-group">
                    <button class="ccenter__form--button ccenter-btn">
                        Submit Now
                        <span class="ccenter-btn-right-angle">
                            <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
                        </span>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/js/ccenter.js" ></script>
     <script src="/js/custom.js"></script>
</body>
</html>
