<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link
                href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
                rel="stylesheet"
        />
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
    <%- include("./partials/header.ejs") %>
    <!--
        Input ALL YOUR PAGE CONTENT HERE
    -->
        <div class="faqs">This is the FAQs page</div>
    <%- include("./partials/footer.ejs") %>
    </body>
</html>
