<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="">
    <%- include("./partials/header.ejs") %>
    <div class="findEA">
      <div class="findEA-banner">
        <div class="findEA-banner__item">
          <div class="findEA-banner__item--head">Alabama EAs</div>
          <div class="findEA-banner__item--text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </div>
          <div class="findEA-banner__item--button">
            <button class="findEA-banner__item--button-btn findEA-btn">
              Alabama Accounting Firns
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-white.svg"
                  alt=""
                  class="findEA-btn-right-arrow-right"
                />
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="findEA-search">
        <form action="" class="findEA-search__form">
          <div class="form__group">
            <select name="records-per-page" id="" class="form__select findEA-select">
              <option value="10" selected="selected">10</option>
              <option value="20">20</option>
              <option value="20">50</option>
              <option value="20">100</option>
              <option value="20">200</option>
            </select>
            <label for="records-per-page" class="form__label"> records per page</label>
          </div>
          <div class="form__group">
            <label for="search-ea" class="form__label">Search: </label>
            <input name="search-ea" type="text" class="form__input findEA-input" />
          </div>
        </form>
      </div>
      <div class="findEA-locations">
        <div class="findEA-locations__group">
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Alabama Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Alaska Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Arizona Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Arkansas Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              California Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Colorado Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Connecticut Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Delaware Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              D.C. Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Florida Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Georgia Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Hawaii Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Idaho Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Illinois Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Indiana Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Iowa Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Kansas Accountants
            </a>
          </div>
        </div>
        <div class="findEA-locations__group">
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Kentucky Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Louisiana Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Maine Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Maryland Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Massachusetts Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Michigan Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Minnesota Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Mississippi Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Missouri Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Montana Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Nebraska Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Nevada Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              New Hampshire Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              New Jersey Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              New Mexico Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              New York Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              North Carolina Accountants
            </a>
          </div>
        </div>
        <div class="findEA-locations__group">
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              North Dakota Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Ohio Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Oklahoma Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Oregon Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Pennsylvania Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Rhode Island Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              South Carolina Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              South Dakota Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Tennessee Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Texas Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Utah Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Vermont Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Virginia Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Washington Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>

              West Virginia Accountants
            </a>
          </div>
          <div class="findEA-locations__item">
            <a href="#" class="findEA-link">
              <span class="findEA-btn-right-angle">
                <img
                  src="/assets/images/findEA/right-arrow-black.svg"
                  alt=""
                  class="findEA-btn-right-arrow-left"
                />
              </span>
              Wisconsin Accountants
            </a>
          </div>
        </div>
      </div>
      <div class="findEA-pagination">
        <div class="findEA-pagination__button">
          <button class="findEA-btn">View All States</button>
        </div>
        <div class="findEA-pagination__info">showing 1 to 10 of 57 entries</div>
        <div class="findEA-pagination__buttons">
          <button class="findEA-btn findEA-pagination__buttons-btn">
            <span class="findEA-btn-right-angle">
              <img
                src="/assets/images/findEA/left-arrow.svg"
                alt=""
                class="findEA-btn-right-arrow-left"
              />
            </span>
            <span class="findEA-pagination__buttons-txt"> Previous </span>
          </button>
          <button
            class="findEA-btn findEA-pagination__buttons-btn findEA-pagination__buttons-btn-selected"
          >
            1
          </button>
          <button class="findEA-btn findEA-pagination__buttons-btn">2</button>
          <button class="findEA-btn findEA-pagination__buttons-btn">3</button>
          <button class="findEA-btn findEA-pagination__buttons-btn">4</button>
          <button class="findEA-btn findEA-pagination__buttons-btn">5</button>
          <button class="findEA-btn findEA-pagination__buttons-btn">
            <span class="findEA-pagination__buttons-txt"> Next </span>
            <span class="findEA-btn-right-angle">
              <img
                src="/assets/images/findEA/right-arrow.svg"
                alt=""
                class="findEA-btn-right-arrow-right"
              />
            </span>
          </button>
        </div>
      </div>
      <div class="findEA-suggested">
        <div class="findEA-suggested__head">
          <div class="findEA-suggested__head--head">Popular EAs in Alabama</div>
          <div class="findEA-suggested__head--text">Find a local Certified Public Accountant</div>
        </div>
        <div class="findEA-suggested__body">
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
          <div class="findEA-suggested__item">
            <div class="findEA-suggested__item--image">
              <img
                src="/assets/images/findEA/smiler.jpg"
                alt="michael Rosdale"
                class="findEA-suggested__item--image-img"
              />
            </div>
            <div class="findEA-suggested__item--container">
              <div class="findEA-suggested__item--name">Michael Rosdale</div>
              <div class="findEA-suggested__item--location">Florence, AL</div>
              <div class="findEA-suggested__item--rating">
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-filled.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
                <img
                  src="/assets/images/findEA/star-empty.svg"
                  alt="Rating"
                  class="findEA-star-rating"
                />
              </div>
              <div class="findEA-suggested__item--button">
                <button class="findEA-btn findEA-suggested__item--button-btn">View Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/js/ccenter.js"></script>
  </body>
</html>
