<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body class="">
    <div id="wrapper" class="clearfix home">
      <%- include("./partials/header.ejs") %>
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: home -->
        <section id="home">
          <div class="container-fluid p-0">
            <!-- START REVOLUTION SLIDER 5.0.7 -->
            <div
              id="rev_slider_home_wrapper"
              class="rev_slider_wrapper"
              data-alias="news-gallery34"
              style="
                margin: 0px auto;
                background-color: #ffffff;
                padding: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
              "
            >
              <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
              <div
                id="rev_slider_home"
                class="rev_slider fullwidthabanner"
                style="display: none"
                data-version="5.0.7"
              >
                <ul>
                  <!-- SLIDE 1 -->
                  <li
                    data-index="rs-1"
                    data-transition="fade"
                    data-slotamount="default"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="default"
                    data-thumb="/images/bg/bg1.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-saveperformance="off"
                    data-title="Web Show"
                    data-description=""
                  >
                    <!-- MAIN IMAGE -->
                    <img
                      src="/images/bg/bg1.jpg"
                      alt=""
                      data-bgposition="center 30%"
                      data-bgfit="cover"
                      data-bgrepeat="no-repeat"
                      data-bgparallax="10"
                      class="rev-slidebg"
                      data-no-retina
                    />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div
                      class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
                      id="slide-1-layer-1"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['0','0','0','0']"
                      data-width="full"
                      data-height="full"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                      data-start="500"
                      data-basealign="slide"
                      data-responsive_offset="on"
                      style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.35);
                        border-color: rgba(0, 0, 0, 1);
                      "
                    ></div>
                    <!-- LAYER NR. 2 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-1-layer-2"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['170','150','135','135']"
                      data-fontsize="['32','28','22','20']"
                      data-lineheight="['56','50','46','40']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      We Provide Best
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-1-layer-3"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['225','195','175','175']"
                      data-fontsize="['60','52','42','36']"
                      data-lineheight="['70','60','50','45']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      Consulting <span class="text-theme-colored2">Service</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div
                      class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                      id="slide-1-layer-4"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['305','260','225','225']"
                      data-fontsize="['15','15',14',16']"
                      data-lineheight="['22','24','24','24']"
                      data-fontweight="['400','400','400','400']"
                      data-textalign="['center','center','center','center']"
                      data-width="['800','650','600','460']"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap"
                    >
                      We provides you our best business solution and professional services for our
                      clients <br />
                      and always try to achieve our clients trust and satisfaction
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div
                      class="tp-caption rs-parallaxlevel-0"
                      id="slide-1-layer-5"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['370','330','290','290']"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;"
                      data-mask_out="x:0;y:0;"
                      data-start="800"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      data-responsive="off"
                      style="z-index: 5; white-space: nowrap; letter-spacing: 1px"
                    >
                      <a
                        class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15"
                        href="#"
                        >Our Service</a
                      ><a
                        class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30"
                        href="#"
                        >Get a Quote</a
                      >
                    </div>
                  </li>
                  <!-- SLIDE 2 -->
                  <li
                    data-index="rs-2"
                    data-transition="fade"
                    data-slotamount="default"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="default"
                    data-thumb="images/bg/bg2.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-saveperformance="off"
                    data-title="Web Show"
                    data-description=""
                  >
                    <!-- MAIN IMAGE -->
                    <img
                      src="/images/bg/bg2.jpg"
                      alt=""
                      data-bgposition="center center"
                      data-bgfit="cover"
                      data-bgrepeat="no-repeat"
                      data-bgparallax="10"
                      class="rev-slidebg"
                      data-no-retina
                    />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div
                      class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
                      id="slide-2-layer-1"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['0','0','0','0']"
                      data-width="full"
                      data-height="full"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                      data-start="500"
                      data-basealign="slide"
                      data-responsive_offset="on"
                      style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.35);
                        border-color: rgba(0, 0, 0, 1);
                      "
                    ></div>
                    <!-- LAYER NR. 2 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-2-layer-2"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['170','150','135','135']"
                      data-fontsize="['32','28','22','20']"
                      data-lineheight="['56','50','46','40']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      We Provide Best
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-2-layer-3"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['225','195','175','175']"
                      data-fontsize="['60','52','42','36']"
                      data-lineheight="['70','60','50','45']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      Consulting <span class="text-theme-colored2">Service</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div
                      class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                      id="slide-2-layer-4"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['305','260','225','225']"
                      data-fontsize="['15','15',14',16']"
                      data-lineheight="['22','24','24','24']"
                      data-fontweight="['400','400','400','400']"
                      data-textalign="['center','center','center','center']"
                      data-width="['800','650','600','460']"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap"
                    >
                      We provides you our best business solution and professional services for our
                      clients <br />
                      and always try to achieve our clients trust and satisfaction
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div
                      class="tp-caption rs-parallaxlevel-0"
                      id="slide-2-layer-5"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['370','330','290','290']"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;"
                      data-mask_out="x:0;y:0;"
                      data-start="800"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      data-responsive="off"
                      style="z-index: 5; white-space: nowrap; letter-spacing: 1px"
                    >
                      <a
                        class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15"
                        href="#"
                        >Our Service</a
                      ><a
                        class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30"
                        href="#"
                        >Get a Quote</a
                      >
                    </div>
                  </li>
                  <!-- SLIDE 3 -->
                  <li
                    data-index="rs-3"
                    data-transition="fade"
                    data-slotamount="default"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="default"
                    data-thumb="/images/bg/bg3.jpg"
                    data-rotate="0"
                    data-fstransition="fade"
                    data-saveperformance="off"
                    data-title="Web Show"
                    data-description=""
                  >
                    <!-- MAIN IMAGE -->
                    <img
                      src="/images/bg/bg3.jpg"
                      alt=""
                      data-bgposition="center 40%"
                      data-bgfit="cover"
                      data-bgrepeat="no-repeat"
                      data-bgparallax="10"
                      class="rev-slidebg"
                      data-no-retina
                    />
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div
                      class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-1"
                      id="slide-3-layer-1"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['middle','middle','middle','middle']"
                      data-voffset="['0','0','0','0']"
                      data-width="full"
                      data-height="full"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                      data-start="500"
                      data-basealign="slide"
                      data-responsive_offset="on"
                      style="
                        z-index: 5;
                        background-color: rgba(0, 0, 0, 0.35);
                        border-color: rgba(0, 0, 0, 1);
                      "
                    ></div>
                    <!-- LAYER NR. 2 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-3-layer-2"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['170','150','135','135']"
                      data-fontsize="['32','28','22','20']"
                      data-lineheight="['56','50','46','40']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      We Provide Best
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div
                      class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                      id="slide-3-layer-3"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['225','195','175','175']"
                      data-fontsize="['60','52','42','36']"
                      data-lineheight="['70','60','50','45']"
                      data-fontweight="['800','700','700','700']"
                      data-textalign="['center','center','center','center']"
                      data-width="['700','650','600','420']"
                      data-height="none"
                      data-whitespace="normal"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="600"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight: 700"
                    >
                      Consulting <span class="text-theme-colored2">Service</span>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div
                      class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                      id="slide-3-layer-4"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['305','260','225','225']"
                      data-fontsize="['15','15',14',16']"
                      data-lineheight="['22','24','24','24']"
                      data-fontweight="['400','400','400','400']"
                      data-textalign="['center','center','center','center']"
                      data-width="['800','650','600','460']"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                      data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                      data-start="700"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap"
                    >
                      We provides you our best business solution and professional services for our
                      clients <br />
                      and always try to achieve our clients trust and satisfaction
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div
                      class="tp-caption rs-parallaxlevel-0"
                      id="slide-3-layer-5"
                      data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']"
                      data-y="['top','top','top','top']"
                      data-voffset="['370','330','290','290']"
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-transform_idle="o:1;"
                      data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                      data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                      data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                      data-mask_in="x:0px;y:0px;"
                      data-mask_out="x:0;y:0;"
                      data-start="800"
                      data-splitin="none"
                      data-splitout="none"
                      data-responsive_offset="on"
                      data-responsive="off"
                      style="z-index: 5; white-space: nowrap; letter-spacing: 1px"
                    >
                      <a
                        class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15"
                        href="#"
                        >Our Service</a
                      ><a
                        class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30"
                        href="#"
                        >Get a Quote</a
                      >
                    </div>
                  </li>
                </ul>
                <div
                  class="tp-bannertimer tp-bottom"
                  style="height: 5px; background-color: rgba(255, 255, 255, 0.2)"
                ></div>
              </div>
            </div>

            <!-- END REVOLUTION SLIDER -->
            <script type="text/javascript">
              var tpj = jQuery;
              var revapi34;
              tpj(document).ready(function () {
                if (tpj("#rev_slider_home").revolution == undefined) {
                  revslider_showDoubleJqueryError("#rev_slider_home");
                } else {
                  revapi34 = tpj("#rev_slider_home")
                    .show()
                    .revolution({
                      sliderType: "standard",
                      jsFileLocation: "js/revolution-slider/js/",
                      sliderLayout: "fullwidth",
                      dottedOverlay: "none",
                      delay: 5000,
                      navigation: {
                        keyboardNavigation: "on",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        touch: {
                          touchenabled: "on",
                          swipe_threshold: 75,
                          swipe_min_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false,
                        },
                        arrows: {
                          style: "zeus",
                          enable: true,
                          hide_onmobile: true,
                          hide_under: 600,
                          hide_onleave: true,
                          hide_delay: 200,
                          hide_delay_mobile: 1200,
                          tmp:
                            '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                          left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0,
                          },
                          right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0,
                          },
                        },
                        bullets: {
                          enable: true,
                          hide_onmobile: true,
                          hide_under: 600,
                          style: "metis",
                          hide_onleave: true,
                          hide_delay: 200,
                          hide_delay_mobile: 1200,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 30,
                          space: 5,
                          tmp:
                            '<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>',
                        },
                      },
                      viewPort: {
                        enable: true,
                        outof: "pause",
                        visible_area: "80%",
                      },
                      responsiveLevels: [1240, 1024, 778, 480],
                      gridwidth: [1240, 1024, 778, 480],
                      gridheight: [600, 550, 500, 450],
                      lazyType: "none",
                      parallax: {
                        type: "scroll",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
                      },
                      shadow: 0,
                      spinner: "off",
                      stopLoop: "off",
                      stopAfterLoops: -1,
                      stopAtSlide: -1,
                      shuffle: "off",
                      autoHeight: "off",
                      hideThumbsOnMobile: "off",
                      hideSliderAtLimit: 0,
                      hideCaptionAtLimit: 0,
                      hideAllCaptionAtLilmit: 0,
                      debugMode: false,
                      fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                      },
                    });
                }
              }); /*ready*/
            </script>
            <!-- END REVOLUTION SLIDER -->
          </div>
        </section>

        <section class="image-aside2">
          <div class="container-fluid">
            <div class="flex">
              <div class="image-aside2-div1">
                <image src="/assets/files/image-left.png" alt="Enrolled-agent" />
              </div>
              <div class="image-aside2-div2">
                <h2>The simplest way to search and access your next Enrolled Agent on 
                  the go anytime, anywhere.</h2>
                <p>
                  Search our online directory of licensed and verified Enrolled Agents. 
                  See details of the Enrolled Agents and find the one that best suits your needs. 
                  Read reviews from clients attended to in your community. All Enrolled Agents 
                  listed have been vetted to ensure accurate profile and licensure.
                </p>
                <a href="#">Search for Your Enrolled Agent</a>
              </div>
            </div>
          </div>
        </section>


        <!-- Section: Team -->
        <section id="team" class="bg-silver-light">
          <div class="container pb-50">
            <div class="section-title text-center">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="text-uppercase title">Top Rated Enrolled Agents</h2>
                  <p class="desc">Licensed and Verified Enrolled Agents</p>
                </div>
              </div>
            </div>
            <div class="section-content team">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img src="/assets/files/18270627@2x.png" alt="" class="img-fullwidth" />
                      <h4
                        class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0"
                      >
                        Michael Rosedale <span class="text-white font-12 ml-5 small"></span>
                      </h4>

                    </div>
                    <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name">Boca Raton, FL</p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1">
                          <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" />
                          <p>2 Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="#">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img src="/assets/files/2303@2x.png" alt="" class="img-fullwidth" />
                      <h4
                        class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0"
                      >
                        Oliver Queen <span class="text-white font-12 ml-5"></span>
                      </h4>
                    </div>
                    <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name">Boca Raton, FL</p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1">
                          <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" />
                          <p>2 Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="#">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img src="/assets/files/651699-POYZ5I-961@2x.png" alt="" class="img-fullwidth" />
                      <h4
                        class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0"
                      >
                        Oliver Queen <span class="text-white font-12 ml-5"></span>
                      </h4>
                    </div>
                   <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name">Boca Raton, FL</p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1">
                          <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" />
                          <p>2 Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="#">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="single-member maxwidth400 mb-30">
                    <div class="team-thumb">
                      <img src="/assets/files/552945-PK36UT-910@2x.png" alt="" class="img-fullwidth" />
                      <h4
                        class="text-uppercase font-raleway text-white font-20 line-bottom-center m-0"
                      >
                        Oliver Queen <span class="text-white font-12 ml-5"></span>
                      </h4>
                    </div>
                    <div class="team-bottom-part bg-white p-15 team-bottom">
                      <p class="mb-10 team-bottom-name">Boca Raton, FL</p>
                      <div class="team-bottom-flex">
                        <div class="team-bottom-flex-div1">
                          <img src="/assets/files/stars.svg" alt="" class="img-fullwidth" />
                          <p>2 Reviews</p>
                        </div>
                        <div class="team-bottom-flex-div2">
                          <a href="#">View Profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="image-aside">
          <div class="container-fluid">
            <div class="flex">
              <div class="image-aside-div1">
                <h2>Find the right Enrolled Agent for you</h2>
                <p>
                  Would you take your dental work to a mechanic? Then why would you deal with a non
                  licensed tax preparer for tax related issues? That is why we are here, to connect
                  you to a verified Enrolled Agent in your area who can help you in all matters
                  related to your taxes and the Internal Revenue Service. We will connect you for
                  free - 100% free.
                </p>
                <a href="#">Get Started</a>
              </div>
              <div class="image-aside-div2">
                <image src="/assets/files/image-right.png" alt="Enrolled-agent" />
              </div>
            </div>
          </div>
        </section>

        <section class="cities">
          <div class="container">
            <h2 class="cities-header">Popular Cities</h2>
            <p class="cities-desc">Find an EA in one of our most requested areas.</p>
            <div class="row cities-grid">
              <div class="col-md-3">
                <a href="#">Albany</a>
                <a href="#">Asheville</a>
                <a href="#">Atlanta</a>
                <a href="#">Austin</a>
                <a href="#">Baltimore</a>
                <a href="#">Birmingham</a>
                <a href="#">Boston</a>
                <a href="#">Charlotte</a>
                <a href="#">Chicago</a>
                <a href="#">Cincinnati </a>
                <a href="#">Cleveland</a>
                <a href="#">Columbus</a>
                <a href="#">Dallas</a>
                <a href="#">Denver</a>
                <a href="#">Detroit</a>
                <a href="#">El Paso</a>
              </div>
              <div class="col-md-3">
                <a href="#">Fort Lauderdale</a>
                <a href="#">Fort Worth</a>
                <a href="#">Fresno</a>
                <a href="#">Grand Rapids</a>
                <a href="#">Greensboro</a>
                <a href="#">Harrisburg</a>
                <a href="#">Hartford</a>
                <a href="#">Houston</a>
                <a href="#">Indianapolis</a>
                <a href="#">Jacksonville</a>
                <a href="#">Kansas City</a>
                <a href="#">Las Vegas</a>
                <a href="#">Long Beach</a>
                <a href="#">Los Angeles</a>
                <a href="#">Louisville</a>
                <a href="#">Madison</a>
              </div>
              <div class="col-md-3">
                <a href="#">Memphis</a>
                <a href="#">Miami</a>
                <a href="#">Milwaukee</a>
                <a href="#">Minneapolis</a>
                <a href="#">Modesto</a>
                <a href="#">Nashville</a>
                <a href="#">New Orleans</a>
                <a href="#">New York</a>
                <a href="#">Norfolk</a>
                <a href="#">Oklahoma City</a>
                <a href="#">Orlando</a>
                <a href="#">Philadelphia</a>
                <a href="#">Phoenix</a>
                <a href="#">Pittsburgh</a>
                <a href="#">Portland</a>
                <a href="#">Providence</a>
              </div>
              <div class="col-md-3">
                <a href="#">Raleigh</a>
                <a href="#">Richmond</a>
                <a href="#">Sacramento</a>
                <a href="#">Saint Louis</a>
                <a href="#">Saint Paul</a>
                <a href="#">Salem</a>
                <a href="#">Salt Lake City</a>
                <a href="#">San Antonio</a>
                <a href="#">San Diego</a>
                <a href="#">San Francisco</a>
                <a href="#">San Jose</a>
                <a href="#">Seattle</a>
                <a href="#">Tampa</a>
                <a href="#">Tucson</a>
                <a href="#">Virginia Beach</a>
                <a href="#">Washington DC</a>
              </div>
            </div>
            <div class="row">
              <a href="#" class="cities-link">Find More Local EAs</a>
            </div>
          </div>
        </section>

        <section class="form">
          <div class="container">
            <div class="row">
              <div class="col-md-5 form-div1">
                <h2>Request a call Back</h2>
                <p>
                  Please fill out the form and press the submit button. We will get back to you with
                  1-2 business days
                </p>
              </div>
              <form class="col-md-7 form-div2">
                <div class="row mb-30">
                  <div class="col-md-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Full Name*" required />
                  </div>
                  <div class="col-md-6 form-div2-formgroup">
                    <input type="email" placeholder="Email*" required />
                  </div>
                </div>
                <div class="row mb-30">
                  <div class="col-md-6 form-div2-formgroup mr-20">
                    <input type="text" placeholder="Subject*" required />
                  </div>
                  <div class="col-md-6 form-div2-formgroup">
                    <input type="tel" placeholder="Phone Number" />
                  </div>
                </div>
                <div class="row mb-50">
                  <div class="col-md-12 form-div2-formtextarea">
                    <textarea placeholder="Message*"></textarea>
                  </div>
                </div>
                <button type="submit">Submit Now</button>
              </form>
            </div>
          </div>
        </section>

        <section class="cta">
          <div class="cta_body">
            <div class="row">
              <div class="col-md-5 cta_body-1">
                <p>Newsletter dolor sit amet,</p>
                <h3>consetetur sadipscing elitr,</h3>
              </div>
              <div class="col-md-7 cta_body-2">
                <div>
                  <input type="email" placeholder="Your email Address" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="resources">
          <div class="container-fluid">
            <h2 class="resources-header">Resources</h2>
            <p class="resources-sub">Valuable information provided by our sponsors.</p>
            <div class="resources-grid">
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
              <div class="resources-grid-box">
                <p class="resources-grid-box-intro">Provided By:</p>
                <img
                  class="resources-grid-box-image"
                  src="/assets/files/stanbic.png"
                  alt="stanbic-logo"
                />
                <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
                <p class="resources-grid-box-desc">
                  Save up to 20% on Quickfinder products. Find tax resources for efficiency and
                  accuracy, year-round...
                </p>
                <div class="arrow">
                  <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
                </div>
              </div>
            </div>
            <div class="btn-div">
              <button>
                See All Resources
                <img src="/assets/files/down-arrow-small.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </section>
      </div>
      <!-- end main-content -->
      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    <!-- JS | Chart-->
    <script src="/js/chart.js"></script>
    <!-- JS | Custom script for all pages -->
    <script src="/js/custom.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->
    <!-- <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"
    ></script> -->
    <!-- <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/js/revolution-slider/js/extensions/revolution.extension.video.min.js"
    ></script> -->
  </body>
</html>
