<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="">
    <style>
      .modal {
        z-index: 100001 !important;
      }
    </style>
    <%- include("./partials/header.ejs") %>
    <div class="lvc8n">
      <div class="lvc8n-banner">
        <div class="lvc8n-banner__item">
          <div class="lvc8n-banner__head">
            <div class="lvc8n-banner__head--head">EA License Verification</div>
            <div class="lvc8n-banner__head--text">
              Is your Tax-Preparer certified to practice in your State?
            </div>
          </div>
          <!-- <div class="lvc8n-banner__body">
            <p class="lvc8n-banner__body--text">
              Excepturi sint occaecati cupiditate non provident, similique sunt
              in culpa qui officia deserunt mollitia animi, id est laborum et
              dolorum fuga. Et harum quidem rerum facilis est et expedita
              distinctio. Nam libero tempore, cum soluta nobis est eligendi
              optio cumque nihil impedit quo minus id quod maxime placeat facere
              possimus, omnis voluptas assumenda est, omnis dolor repellendus.
              Temporibus autem quibusdam et aut officiis debitis aut rerum
              necessitatibus saepe eveniet ut et voluptates repudiandae sint et
              molestiae non recusandae. Itaque earum rerum hic tenetur a
              sapiente delectus, ut aut reiciendis voluptatibus maiores alias
              consequatur aut perferendis doloribus asperiores repellat.
            </p>
            <p class="lvc8n-banner__body--text">
              Excepturi sint occaecati cupiditate non provident, similique sunt
              in culpa qui officia deserunt mollitia animi, id est laborum et
              dolorum fuga.
            </p>
          </div> -->
        </div>
      </div>
      <div class="lvc8n-info">
        Order Details EA Verification Service Verify an accountants license in
        any state. &#36;49.00
      </div>
      <form id="license-form">
        <div class="lvc8n-contact container">
          <div class="lvc8n-contact__head">
            <div class="lvc8n-contact__head--head">
              Your Contact Information
            </div>
            <div class="lvc8n-contact__head--text">
              Provide your basic details so that we can respond with your
              verification status
            </div>
          </div>
          <div class="lvc8n-contact__form">
            <div class="form__row">
              <div class="form__group">
                <input
                  type="text"
                  name="first-name"
                  class="form__input"
                  placeholder="First Name*"
                  id="firstName"
                  required
                />
                <label for="first-name" class="form__label"
                  >First Name<span>*</span></label
                >
              </div>
              <div class="form__group">
                <input
                  type="text"
                  id="lastName"
                  class="form__input"
                  placeholder="Last Name*"
                  required
                />
                <label for="last-name" class="form__label"
                  >Last Name<span>*</span></label
                >
              </div>
            </div>
            <div class="form__row">
              <div class="form__group">
                <input
                  type="email"
                  id="email"
                  class="form__input"
                  placeholder="Email Address*"
                  required
                />
                <label for="email" class="form__label"
                  >Email Address<span>*</span></label
                >
              </div>
              <div class="form__group">
                <input
                  type="tel"
                  id="phone"
                  class="form__input"
                  placeholder="Phone Number*"
                  required
                />
                <label for="phone-number" class="form__label"
                  >Phone number<span>*</span></label
                >
              </div>
            </div>
            <div class="form__row">
              <div class="form__group form__group-inner">
                <input
                  type="text"
                  id="city"
                  class="form__input form__input-small form__input-small-left"
                  placeholder="City*"
                  required
                />
                <label for="city" class="form__label">City<span>*</span></label>
                <input
                  type="text"
                  id="zipCode"
                  class="form__input form__input-small"
                  placeholder="Zip Code*"
                  required
                />
                <label for="zip-code" class="form__label"
                  >Zip Code<span>*</span></label
                >
              </div>
              <div class="form__group">
                <input
                  type="text"
                  id="state"
                  class="form__input"
                  placeholder="State*"
                  required
                />
                <label for="phone-number" class="form__label"
                  >State<span>*</span></label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="lvc8n-contact container">
          <div class="lvc8n-contact__head">
            <div class="lvc8n-contact__head--head">EA Information</div>
            <div class="lvc8n-contact__head--text">
              Give the details of the Enrolled Agent you wish to verify. You do
              not need to fill all fields, any information you have is enough.
            </div>
          </div>
          <div class="lvc8n-contact__form">
            <div class="form__row">
              <div class="form__group">
                <input
                  type="text"
                  name="agent-first-name"
                  class="form__input"
                  id="agent-firstName"
                  placeholder="First Name*"
                />
                <label for="agent-first-name" class="form__label"
                  >First Name<span>*</span></label
                >
              </div>
              <div class="form__group">
                <input
                  type="text"
                  id="agent-lastName"
                  class="form__input"
                  placeholder="Last Name*"
                />
                <label for="agent-last-name" class="form__label"
                  >Last Name<span>*</span></label
                >
              </div>
            </div>
            <div class="form__row">
              <div class="form__group">
                <input
                  type="email"
                  id="agent-email"
                  class="form__input"
                  placeholder="Email Address"
                />
                <label for="agent-email" class="form__label"
                  >Email Address</label
                >
              </div>
              <div class="form__group">
                <input
                  type="text"
                  id="agent-phone"
                  class="form__input"
                  placeholder="Phone Number"
                />
                <label for="agent-phone-number" class="form__label"
                  >Phone number</label
                >
              </div>
            </div>
            <div class="form__row">
              <div class="form__group form__group-inner">
                <input
                  type="text"
                  id="agent-city"
                  class="form__input form__input-small form__input-small-left"
                  placeholder="City*"
                />
                <label for="agent-city" class="form__label"
                  >City<span>*</span></label
                >
                <input
                  type="text"
                  id="agent-zipCode"
                  class="form__input form__input-small"
                  placeholder="Zip Code"
                />
                <label for="agent-zip-code" class="form__label">Zip Code</label>
              </div>
              <div class="form__group">
                <input
                  type="text"
                  id="agent-state"
                  class="form__input"
                  placeholder="State"
                  required
                />
                <label for="phone-number" class="form__label">State</label>
              </div>
            </div>
            <div class="form__row">
              <div class="form__group">
                <input
                  type="text"
                  id="agent-license"
                  class="form__input"
                  placeholder="License Number"
                />
                <label for="license" class="form__label">License Number</label>
              </div>
              <div class="form__group">
                <select
                  name="state"
                  id="preferred-contact"
                  class="form__select"
                  required
                >
                  <option value="" disabled selected>
                    Preferred Contact Method*
                  </option>
                  <option value="email">Email</option>
                  <option value="phone">Phone Call</option>
                  <option value="text">Text Message</option>
                </select>
              </div>
            </div>
            <div class="form__row">
              <div class="form__group form__group-full-width">
                <label for="" class="form__textarea-label"
                  >Optional Message</label
                >
                <textarea
                  name=""
                  id="optionalMessage"
                  class="form__textarea"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="lvc8n-contact__button">
          <button class="lvc8n-btn lvc8n-contact__button-btn" id="submit-btn">
            Continue to Payment
          </button>
        </div>
      </form>
      <!-- <div class="lvc8n-contact__disclaimer">
        <span style="font-weight: bold">Note:</span>
        CPA directory's public CPA search should not be used for license verification purposes. Many
        CAPs have opted out of the publicly accessible directory for various reasons including those
        of privacy. Agencies and individuals that wish to verify a CPA's license should use this CPA
        license verification service.
      </div> -->
    </div>

    <%- include("./partials/footer.ejs") %>

    <div
      class="modal fade bd-example-modal-lg"
      id="paymentModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Continue with payment
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="payment-form" class="sr-payment-form">
            <div class="sr-combo-inputs-row">
              <div class="card-payment-details">
                <input
                  type="text"
                  name="fullName"
                  id="fullName"
                  placeholder="Full Name"
                />
                <input
                  type="text"
                  name="address"
                  id="address"
                  placeholder="Address"
                  class="ml-30"
                />
              </div>
              <div class="sr-input sr-card-element" id="card-element"></div>
            </div>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
            <button id="submit" type="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span><span id="order-amount"></span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
      integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/javascripts/funfact.js"></script>
    <script
      type="text/javascript"
      src="/javascripts/license-verification.js"
    ></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
