<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="">
    <%- include("./partials/header.ejs") %>
    <div class="lvc8n">
      <div class="lvc8n-banner">
        <div class="lvc8n-banner__item">
          <div class="lvc8n-banner__head">
            <div class="lvc8n-banner__head--head">EA License Verification</div>
            <div class="lvc8n-banner__head--text">
              Is Your Accountant a CPA Licensed to Practice in Your State?
            </div>
          </div>
          <div class="lvc8n-banner__body">
            <p class="lvc8n-banner__body--text">
              Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
              deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
              est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
              cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
              assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
              debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
              molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut
              reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
              repellat.
            </p>
            <p class="lvc8n-banner__body--text">
              Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
              deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
          </div>
        </div>
      </div>
      <div class="lvc8n-info">
        Order Details EA Verification Service Verify an accountants license in any state. &#36;49.00
      </div>
      <div class="lvc8n-contact">
        <div class="lvc8n-contact__head">
          <div class="lvc8n-contact__head--head">Your Contact Information</div>
          <div class="lvc8n-contact__head--text">
            Provide your basic details so that we can respond with your verification status
          </div>
        </div>
        <div class="lvc8n-contact__form">
          <div class="form__row">
            <div class="form__group">
              <input type="text" name="first-name" class="form__input" placeholder="First Name*" />
              <label for="first-name" class="form__label">First Name*</label>
            </div>
            <div class="form__group">
              <input type="text" id="last-name" class="form__input" placeholder="Last Name*" />
              <label for="last-name" class="form__label">Last Name*</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <input type="email" id="email" class="form__input" placeholder="Email Address*" />
              <label for="email" class="form__label">Email Address*</label>
            </div>
            <div class="form__group">
              <input
                type="text"
                id="phone-number"
                class="form__input"
                placeholder="Phone Number*"
              />
              <label for="phone-number" class="form__label">Phone number*</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group form__group-inner">
              <input
                type="text"
                id="city"
                class="form__input form__input-small form__input-small-left"
                placeholder="City*"
              />
              <label for="city" class="form__label">City*</label>
              <input
                type="text"
                id="zipcode"
                class="form__input form__input-small"
                placeholder="Zip Code*"
              />
              <label for="zip-code" class="form__label">Zip Code*</label>
            </div>
            <div class="form__group">
              <select name="state" id="state" class="form__select">
                <option value="" disabled selected>Select a State</option>
                <option value="state1">State 1</option>
                <option value="state2">State 2</option>
                <option value="state3">State 3</option>
                <option value="state4">State 4</option>
                <option value="state5">State 5</option>
              </select>
              <!--                            <label for="state" class="form__label">Phone number*</label>-->
            </div>
          </div>
        </div>
      </div>
      <div class="lvc8n-contact">
        <div class="lvc8n-contact__head">
          <div class="lvc8n-contact__head--head">EA Information</div>
          <div class="lvc8n-contact__head--text">
            Provide any amount of details you can about CPA whos license you wish to verify. Most
            fields are optional.
          </div>
        </div>
        <div class="lvc8n-contact__form">
          <div class="form__row">
            <div class="form__group">
              <input
                type="text"
                name="agent-first-name"
                class="form__input"
                placeholder="First Name*"
              />
              <label for="agent-first-name" class="form__label">First Name*</label>
            </div>
            <div class="form__group">
              <input
                type="text"
                id="agent-last-name"
                class="form__input"
                placeholder="Last Name*"
              />
              <label for="agent-last-name" class="form__label">Last Name*</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <input
                type="email"
                id="agent-email"
                class="form__input"
                placeholder="Email Address*"
              />
              <label for="agent-email" class="form__label">Email Address*</label>
            </div>
            <div class="form__group">
              <input
                type="text"
                id="agent-phone-number"
                class="form__input"
                placeholder="Phone Number*"
              />
              <label for="agent-phone-number" class="form__label">Phone number*</label>
            </div>
          </div>
          <div class="form__row">
            <div class="form__group form__group-inner">
              <input
                type="text"
                id="agent-city"
                class="form__input form__input-small form__input-small-left"
                placeholder="City*"
              />
              <label for="agent-city" class="form__label">City*</label>
              <input
                type="text"
                id="agent-zipcode"
                class="form__input form__input-small"
                placeholder="Zip Code*"
              />
              <label for="agent-zip-code" class="form__label">Zip Code*</label>
            </div>
            <div class="form__group">
              <select name="state" id="agent-state" class="form__select">
                <option value="" disabled selected>Select a State</option>
                <option value="state1">State 1</option>
                <option value="state2">State 2</option>
                <option value="state3">State 3</option>
                <option value="state4">State 4</option>
                <option value="state5">State 5</option>
              </select>
              <!--                            <label for="state" class="form__label">Phone number*</label>-->
            </div>
          </div>
          <div class="form__row">
            <div class="form__group">
              <input type="text" id="license" class="form__input" placeholder="License Number" />
              <label for="license" class="form__label">License Number</label>
            </div>
            <div class="form__group">
              <select name="state" id="agent-state" class="form__select">
                <option value="" disabled selected>Preferred Contact Method</option>
                <option value="state1">email</option>
                <option value="state2">Phone</option>
                <option value="state5">wapp</option>
              </select>
              <!--                            <label for="state" class="form__label">Phone number*</label>-->
            </div>
          </div>
          <div class="form__row">
            <div class="form__group form__group-full-width">
              <label for="" class="form__textarea-label">Optional Message</label>
              <textarea name="" class="form__textarea"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="lvc8n-contact__button">
        <button class="lvc8n-btn lvc8n-contact__button-btn">Continue to Payment</button>
      </div>
      <div class="lvc8n-contact__disclaimer">
        <span style="font-weight: bold">Note:</span>
        CPA directory's public CPA search should not be used for license verification purposes. Many
        CAPs have opted out of the publicly accessible directory for various reasons including those
        of privacy. Agencies and individuals that wish to verify a CPA's license should use this CPA
        license verification service.
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/js/ccenter.js"></script>
  </body>
</html>
