<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%- include("./partials/head.ejs") %>
    <title>Claim Your Listing</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="listings">
      <div class="background-image">
        <div class="page-heading_large-image"></div>
        <div class="page-heading wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-heading_title">Claim Your Listing</h1>
                <h3 class="page-heading_subtitle">
                  Place your expertise in the presence of thousands of
                  prospective clients by claiming your listing. Attract local
                  customers looking for your services.
                </h3>
              </div>
            </div>
          </div>
          <div class="container container-input_area">
            <div class="row">
              <div class="col-md-1">
                <select name="" id="select-state" class="input-style">
                  <option value="zip-code">Zip Code</option>
                  <option value="zip-code1">Zip-Code1</option>
                  <option value="zip-code2">Zip-Code2</option>
                </select>
                <!-- <input type="text" placeholder="Zip Code" class="input-style">-->
              </div>
              <div class="col-md-3">
                <select name="" id="select_state" class="input-style2">
                  <option value="State">Select a State</option>
                  <option value="State1">State1</option>
                  <option value="State2">State2</option>
                </select>
                <!--<input type="text" placeholder="Select a State" class="input-style2">-->
              </div>
              <div class="col-md-5">
                <input
                  type="text"
                  placeholder="Enter Your Zip Code"
                  class="input-style3"
                />
              </div>
              <div class="col-md-3 btn-div">
                <a class="btn-find-list" href="">Find My List</a>
              </div>
            </div>
          </div>
          <h3 class="page-heading_find-listing">
            Cant find any listing? <a href="">Get listed here</a>
          </h3>
        </div>
      </div>
      <div class="enrolled-gallery">
        <div class="container">
          <div class="wrapper">
            <h1 class="section-title centered bold">
              Why claim your free listing?
            </h1>
          </div>
          <div class="card-deck wrapper card-flex">
            <div class="card centered card-deck_bg-image">
              <img
                src="/assets/files/services.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title card-deck_title">Expand Your Practice</h5>
                <p class="card-text">
                  Several people need the services of an Enrolled Agent. Connect
                  with potential clients by claiming your listing.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            <div class="card centered card-deck_bg-image">
              <img
                src="/assets/files/services.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title card-deck_title">No Charges</h5>
                <p class="card-text centered">
                  Display your expertise to thousands of potential clients for
                  free.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            <div class="card centered card-deck_bg-image">
              <img
                src="/assets/files/services.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title card-deck_title">Social Proof</h5>
                <p class="card-text">
                  Day by Day, potential clients check reviews from other users
                  before making decisions, establish trust with reviews.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-account">
        <div class="card mb-3 create-account_div1">
          <div class="wrapper section-paddings">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img
                  src="/assets/images/Group 5593.png"
                  class="card-img"
                  alt="..."
                />
              </div>
              <div class="col-md-7">
                <div class="card-body create-account_description">
                  <h5 class="card-title bold">
                    Prospective clients in your terrain seek services just like
                    yours.
                  </h5>
                  <p class="card-text">
                    In few simple steps, you can sit and relax while your
                    clients patronize you. Make it easy for clients to reach you
                    by displaying the tax services you render in few clicks. By
                    setting up your profile, you promote your business and gain
                    more clients.
                  </p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
                <a class="buttons btn-left" href="">Ceate My Free Account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron jumbotron-fluid jumbo">
        <div class="container jumbo-container centered">
          <h5 class="jumbo-heading bold">
            Boost your listings by answering questions and earning credibility.
          </h5>
          <p class="lead">
            Our ‘Ask an EA’ feature is your gateway to the very top. Earn
            reputation points by responding to basic tax questions from the
            community, this increases your profile's ranking, and visibility on
            our site and mobile app. Exclusive offers and incentives are also
            available for highly credible agents.
          </p>
          <a class="buttons btn-get-started" href="">Get Started</a>
        </div>
      </div>
      <div class="create-account2">
        <div class="card mb-3 create-account_div1">
          <div class="wrapper2 section-paddings">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card-body create-account_description">
                  <h5 class="card-title bold">
                    Increase your visibility with our premium listings.
                  </h5>
                  <p class="card-text">
                    Standing out in the crowd is no child's play. Your profile
                    serves as a representative of you to potential clients in
                    your absence. Our premium membership gives you an edge by
                    putting your profile top of list for clients looking for
                    your services. Asides that, you are entitled to several
                    opportunities which include: discounted continuing
                    education, affinity program, etc.
                  </p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
                <a class="buttons btn-left" href="">Create My Free Account</a>
              </div>
              <div class="col-md-5">
                <img
                  src="/assets/images/Group 5596.png"
                  class="card-img"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-container">
        <div class="container">
          <div class="col-sm-12">
            <h5 class="add-section_header bold">Your listing, your way.</h5>
            <p>Every EA listed has the right to advertise on the web.</p>
            <div class="add-image">
              <img src="/assets/images/PC with Adds signs.webp" alt="" />
            </div>
            <p>
              *include your company bio, services offered, supported languages,
              and more, all free, forever.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/custom.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
