<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%- include("./partials/head.ejs") %>
    <title>Claim Your Listing</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="listings">
      <div class="background-image">
        <div class="page-heading_large-image"></div>
        <div class="page-heading wrapper">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="page-heading_title">Claim Your Listing</h1>
                <h3 class="page-heading_subtitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Volu ullam assumenda
                  molestiae, dolor si.
                </h3>
              </div>
            </div>
          </div>
          <div class="container container-input_area">
            <div class="row">
              <div class="col-md-1">
                <select name="" id="select-state" class="input-style">
                  <option value="zip-code">Zip Code</option>
                  <option value="zip-code1">Zip-Code1</option>
                  <option value="zip-code2">Zip-Code2</option>
                </select>
                <!-- <input type="text" placeholder="Zip Code" class="input-style">-->
              </div>
              <div class="col-md-3">
                <select name="" id="select_state" class="input-style2">
                  <option value="State">Select a State</option>
                  <option value="State1">State1</option>
                  <option value="State2">State2</option>
                </select>
                <!--<input type="text" placeholder="Select a State" class="input-style2">-->
              </div>
              <div class="col-md-5">
                <input type="text" placeholder="Enter Your Zip Code" class="input-style3" />
              </div>
              <div class="col-md-3 btn-div">
                <a class="btn-find-list" href="">Find My List</a>
              </div>
            </div>
          </div>
          <h3 class="page-heading_find-listing">
            Cant find any listing? <a href="">Get listed here</a>
          </h3>
        </div>
      </div>
      <div class="enrolled-gallery">
        <div class="container">
          <div class="wrapper">
            <h1 class="section-title centered bold">Lorem ipsum, dolor sit amet consectetur</h1>
          </div>
          <div class="card-deck wrapper card-flex">
            <div class="card centered card-deck_bg-image">
              <img src="/assets/files/services.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title card-deck_title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque excepturi veniam
                  officia beatae et neque fugit quidem at sit, sint earum aut, aperiam vol.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            <div class="card centered card-deck_bg-image">
              <img src="/assets/files/services.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title card-deck_title">Lorem Ipsum</h5>
                <p class="card-text centered">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae soluta
                  expedita voluptates illum officia, vero tempora veniam adipisci voluptas mai.
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
            <div class="card centered card-deck_bg-image">
              <img src="/assets/files/services.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title card-deck_title">Lorem Ipsum</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati
                  earum magni, dolor ratione incidunt mollitia at rem quas iure molestiae ei
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-account">
        <div class="card mb-3 create-account_div1">
          <div class="wrapper section-paddings">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="/assets/images/Group 5593.png" class="card-img" alt="..." />
              </div>
              <div class="col-md-7">
                <div class="card-body create-account_description">
                  <h5 class="card-title bold">Lorem Isum dolor sit ammet, consectetur sadip.</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo
                    recusandae dolores facere aperiam assumenda molestias facilis inventore!
                    Provident delectus voluptatem doloremque. Vitae fuga accusantium animi
                    consequatur nisi sed debitis? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Repudiandae, animi ex quia laborum mollitia similique quas
                    incidunt fugit illum dicta esse placeat minima optio ab voluptatum pariatur
                    tenetur expedita doloremque.
                  </p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
                <a class="buttons btn-left" href="">Ceate My Free Account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="jumbotron jumbotron-fluid jumbo">
        <div class="container jumbo-container centered">
          <h5 class="jumbo-heading bold">
            Answer questions, earn credibility and boost your listings.
          </h5>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quidem, delectus fugit
            sequi non quod ipsam maiores laboriosam magnam voluptate, unde commodi qui aperiam, ea
            blanditiis libero dicta deserunt est. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Vero, temporibus possimus ex libero iure recusandae ad labore voluptates aperiam
            saepe autem omnis iusto?
          </p>
          <a class="buttons btn-get-started" href="">Get Started</a>
        </div>
      </div>
      <div class="create-account2">
        <div class="card mb-3 create-account_div1">
          <div class="wrapper2 section-paddings">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card-body create-account_description">
                  <h5 class="card-title bold">Lorem Isum dolor sit ammet, consectetur sadip.</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo
                    recusandae dolores facere aperiam assumenda molestias facilis inventore!
                    Provident delectus voluptatem doloremque. Vitae fuga accusantium animi
                    consequatur nisi sed debitis? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Repudiandae, animi ex quia laborum mollitia similique quas
                    incidunt fugit illum dicta esse placeat minima optio ab voluptatum pariatur
                    tenetur expedita doloremque.
                  </p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
                <a class="buttons btn-left" href="">Create My Free Account</a>
              </div>
              <div class="col-md-5">
                <img src="/assets/images/Group 5596.png" class="card-img" alt="..." />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-container">
        <div class="container">
          <div class="col-sm-12">
            <h5 class="add-section_header bold">Your listing, your way.</h5>
            <p>
              EnrolledAgent.com gives every certified public accountant with Enrolled Agent a simple
              and free way to advertise on the web.
            </p>
            <div class="add-image">
              <img src="/assets/images/PC with Adds signs.png" alt="" />
            </div>
            <p>
              *include your company bio, services offered, supported languages, and more, all free,
              forever.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
     <script src="/js/custom.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>
