<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="page-15">
    <%- include("./partials/header.ejs") %>

    <section id="local-agent-top">
      <div class="container">
        <div class="row home-section-top">
          <h2>Find A Local Enrolled Agent</h2>
          <p class="desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
          <div class="row home-section-top-input-div">
            <div class="dropdown">
              <button
                class="btn btn1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Zip Code
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p id="zip">Zip Code</p>
                <p id="state">State</p>
              </div>
            </div>
            <div class="input">
              <input type="text" placeholder="Enter zip code" id="zipInput" />
            </div>
            <button class="btn2" id="submitBtn">Find</button>
            <!-- <button class="btn3">Advanced Search</button> -->
          </div>
        </div>
      </div>
    </section>

    <section id="section-2">
      <div class="img">
        <img src="/assets/files/section-2-img.png" alt="" />
      </div>
      <div class="text">
        <h3>Lorem ipsum dolor sit amet, consetetur sadip</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
          accusamundefined nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusamundefined
        </p>

        <a href="" class="btn b-ton-blu">Become An Expert <span>></span></a>
      </div>
    </section>

    <!-- popular cities section -->
    <section id="cities-section">
      <div class="container">
        <h2>Popular Cities</h2>
        <p>Find an EA in one of our most requested areas.</p>
        <div class="row city-group">
          <div class="col-md-3 col-sm-6 city-row">
            <a href="#">Albany</a>
            <a href="#">Asheville</a>
            <a href="#">Atlanta</a>
            <a href="#">Austin</a>
            <a href="#">Baltimore</a>
            <a href="#">Birmingham</a>
            <a href="#">Boston</a>
            <a href="#">Charlotte</a>
            <a href="#">Chicago</a>
            <a href="#">Cincinnati </a>
            <a href="#">Cleveland</a>
            <a href="#">Columbus</a>
            <a href="#">Dallas</a>
            <a href="#">Denver</a>
            <a href="#">Detroit</a>
            <a href="#">El Paso</a>
          </div>
          <div class="col-md-3 col-sm-6 city-row">
            <a href="#">Fort Lauderdale</a>
            <a href="#">Fort Worth</a>
            <a href="#">Fresno</a>
            <a href="#">Grand Rapids</a>
            <a href="#">Greensboro</a>
            <a href="#">Harrisburg</a>
            <a href="#">Hartford</a>
            <a href="#">Houston</a>
            <a href="#">Indianapolis</a>
            <a href="#">Jacksonville</a>
            <a href="#">Kansas City</a>
            <a href="#">Las Vegas</a>
            <a href="#">Long Beach</a>
            <a href="#">Los Angeles</a>
            <a href="#">Louisville</a>
            <a href="#">Madison</a>
          </div>
          <div class="col-md-3 col-sm-6 city-row">
            <a href="#">Memphis</a>
            <a href="#">Miami</a>
            <a href="#">Milwaukee</a>
            <a href="#">Minneapolis</a>
            <a href="#">Modesto</a>
            <a href="#">Nashville</a>
            <a href="#">New Orleans</a>
            <a href="#">New York</a>
            <a href="#">Norfolk</a>
            <a href="#">Oklahoma City</a>
            <a href="#">Orlando</a>
            <a href="#">Philadelphia</a>
            <a href="#">Phoenix</a>
            <a href="#">Pittsburgh</a>
            <a href="#">Portland</a>
            <a href="#">Providence</a>
          </div>
          <div class="col-md-3 col-sm-6 city-row">
            <a href="#">Raleigh</a>
            <a href="#">Richmond</a>
            <a href="#">Sacramento</a>
            <a href="#">Saint Louis</a>
            <a href="#">Saint Paul</a>
            <a href="#">Salem</a>
            <a href="#">Salt Lake City</a>
            <a href="#">San Antonio</a>
            <a href="#">San Diego</a>
            <a href="#">San Francisco</a>
            <a href="#">San Jose</a>
            <a href="#">Seattle</a>
            <a href="#">Tampa</a>
            <a href="#">Tucson</a>
            <a href="#">Virginia Beach</a>
            <a href="#">Washington DC</a>
          </div>
        </div>
        <div class="row text-center">
          <a href="#" class="cities-link">Find More Local EAs <span>></span></a>
        </div>
      </div>
    </section>

    <section class="top-rated">
      <h3>Top Rated Enrolled Agents</h3>
      <p>Licensed And Verified Enrolled Agents</p>

      <a href="" class="btn b-ton-wht">Become An Expert <span>></span></a>
    </section>

    <section class="resources">
      <div class="container-fluid">
        <h2 class="resources-header">Resources</h2>
        <p class="resources-sub">Valuable information provided by our sponsors.</p>
        <div class="resources-grid">
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
          <div class="resources-grid-box">
            <p class="resources-grid-box-intro">Provided By:</p>
            <img
              class="resources-grid-box-image"
              src="/assets/files/stanbic.png"
              alt="stanbic-logo"
            />
            <h3 class="resources-grid-box-topic">Build Your Perfect Quickfinder Library</h3>
            <p class="resources-grid-box-desc">
              Save up to 20% on Quickfinder products. Find tax resources for efficiency and
              accuracy, year-round...
            </p>
            <div class="arrow">
              <a href="#"><img src="/assets/files/down-arrow-small.svg" alt="arrow" /></a>
            </div>
          </div>
        </div>
        <div class="btn-div">
          <button>
            See All Resources
            <img src="/assets/files/down-arrow-small.svg" alt="arrow" />
          </button>
        </div>
      </div>
    </section>

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
    <script type="text/javascript" src="/javascripts/findAgent.js"></script>
    <script src="/js/custom.js"></script>

    <script>
      // function search() {
      //   const input = document.getElementById("search").value;
      //   window.location = `/ea-listings/?search=${input}`;
      // }
      // function onload() {
      //   const input = document.getElementById("search");
      //   const urlParams = new URLSearchParams(window.location.search);
      //   const _search = urlParams.get("search");
      //   input.value = _search;
      //   input.addEventListener("keyup", function (event) {
      //     // Number 13 is the "Enter" key on the keyboard
      //     if (event.keyCode === 13) {
      //       search();
      //     }
      //   });
      //   // console.log(_search)
      // }
    </script>
  </body>
</html>
