<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" src="/style.css" />
    <title>Enrolled Agents</title>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <p class="login" id="login">My first paragraph.again</p>
    <button class="btn">click</button>
    <img src="/assets/endsars.jpeg" />

    <%- include('partials/scripts.ejs') %> <%- include('partials/footer.ejs') %>

    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
