<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

    <p class="login" id="login">My first paragraph.again</p>
    <button class="btn">click</button>
    <img src="/assets/endsars.jpeg" />

    <%- include('partials/scripts.ejs') %> <%- include('partials/footer.ejs') %>

    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
