<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body class="signup-body">
    <%- include('partials/header.ejs') %>

    <div class="login">
      <div class="login__card">
        <div class="login__card-left">
          <div class="login-left__banner">
            <img
              src="/assets/images/signup/banner-logo-white.png"
              alt="Enrolled agents banner"
              class="login-left__banner-img"
            />
          </div>
          <div class="login-left__text">
            <div class="login-left__text-head">Social Login</div>
            <div class="login-left__text-main">
              Signup using your favorite social platform
            </div>
          </div>
          <div class="login-left__btns">
            <div class="login-left__btns-btn">
              <button class="signup__social--btn-facebook login-btn">
                <span
                  ><img
                    src="/assets/images/signup/facebook.svg"
                    height="14px"
                    width="14px"
                    alt="facebook logo" /></span
                >Facebook Login
              </button>
            </div>
            <div class="login-left__btns-btn">
              <button class="signup__social--btn-google login-btn">
                <span
                  ><img
                    src="/assets/images/signup/google.svg"
                    height="14px"
                    width="14px"
                    alt="Google plus logo" /></span
                >Google Login
              </button>
            </div>
            <div class="login-left__btns-btn">
              <button class="signup__social--btn-linkedin login-btn">
                <span
                  ><img
                    src="/assets/images/signup/linkedin.svg"
                    height="14px"
                    width="14px"
                    alt="facebook logo" /></span
                >Linkedin Login
              </button>
            </div>
          </div>
          <div class="login-left__footer">
            Need an account?
            <a href="/signup" class="login-left__footer-link signup-link"
              >Signup for free</a
            >
          </div>
        </div>
        <div class="login__card-right">
          <div class="login-main">
            <div class="login-main__head">
              <div class="login-main__head-main">Log In</div>
              <div class="login-main__head-text">
                Sign Into EnrolledAgent.com
              </div>
            </div>
            <div class="login-main__text">
              <div class="login-main__text-head">Standard Login</div>
              <form class="login-form__main signup-form">
                <div class="login-form__group">
                  <input
                    type="email"
                    id="email"
                    class="login-form__input"
                    placeholder="Email Address"
                  />
                  <label for="lastname" class="signup-form__label"
                    >Email Address</label
                  >
                </div>

                <div class="signup-form__group">
                  <input
                    type="password"
                    id="password"
                    class="login-form__input"
                    placeholder="Password"
                  />
                  <label for="password" class="signup-form__label"
                    >Password</label
                  >
                </div>
                <div class="signup-form__row">
                  <div class="signup-form__checkbox">
                    <div class="signup-form__checkbox--group">
                      <input
                        type="checkbox"
                        id="terms"
                        class="signup-form__checkbox"
                      />
                      <label for="terms" class="signup-form__checkbox--label"
                        >Remember me.</label
                      >
                    </div>
                  </div>
                  <div class="signup-form__link">
                    <a href="#" class="signup-link">forgot your password</a>
                  </div>
                </div>
                <div class="login-form__btn">
                  <button class="login-form__submit signup-btn" type="submit">
                    Sign in
                  </button>
                </div>
              </form>
              <div class="login-right__footer">
                Need an account?
                <a href="/signup" class="login-left__footer-link signup-link"
                  >Signup for free</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
