<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="account">
    <%- include("./partials/header.ejs") %>
    <section id="acct-top">
      <div class="container">
        <h2>Need a certified Tax Expert?</h2>
        <h5>
Is your Tax- Preparer a professional licensed at the Federal level by the IRS in the United States.
        </h5>
        <p>
          We are here to provide you with the best set of Tax Experts at no cost.<br />
          You can also get a free consultation from your Tax-Preparer or any of the firms 
          listed on our Website. Provide us with the necessary information by filling the form below. 
          With the information provided, we can help you discover an Enrolled Agent who's just right 
          for you.
        </p>
      </div>
    </section>

    <section id="acct-form" class="container">
      <div class="acct-form-top">
        <h3>Your Contact Information</h3>
        <p>
          Provide your basic contact details, so that we can respond with your
          verification results.
        </p>
      </div>

      <div class="main-form">
        <div class="first-flex">
          <input
            type="text"
            name="first-name"
            id="f-name"
            placeholder="First Name*"
          />
          <input
            type="text"
            name="last-name"
            id="l-name"
            placeholder="Last Name*"
          />
        </div>
        <div class="second-flex">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email Address"
          />
          <input
            type="number"
            name="phone-number"
            id="p-number"
            placeholder="Phone Number*"
          />
        </div>
        <div class="third-flex">
          <div class="inner-flex">
            <input type="text" name="city" id="city" placeholder="City*" />
            <input type="number" name="" id="" placeholder="zip Code*" />
          </div>
          <div class="state-flex">
            <input
              type="text"
              name="state"
              id="state"
              placeholder="Select a State"
            />
          </div>
        </div>
        <div class="fourth-flex">
          <input
            type="text"
            name="help"
            id="help"
            placeholder="I Need Help With"
          />
          <input
            type="text"
            name="text"
            id="text-class"
            placeholder="Tax Classification"
          />
        </div>
        <small>Relevant Details about Your Needs</small>
        <div class="text-area">
          <textarea name="text" id="text"></textarea>
          <input
            type="text"
            name="input-method"
            id="method"
            placeholder="Preferred Input Method"
          />
          <p>
            <input type="radio" name="radio" id="radio" />
            I am comfortable working virtually with a tax professional
          </p>
        </div>

        <div class="b-tons">
          <a href="" class="b-ton">Connect Me With a Local EA</a>
        </div>
      </div>
    </section>

    <section id="last-section" class="container">
      <p>
        Why is this service free?
        <br />
        Our aim is to connect you to certified Tax Experts in your locality who are licensed to operate.
      </p>

     <p>
        Why should you go for an EA?
        <br />
       Enrolled Agents brings extensive knowledge and experience to the table. In addition to their 
       education, they are well versed in tax planning and preparation. Our EAs are well established 
       in handling individual income tax returns and corporate tax returns. All EAs in our network 
       are certified. As a requirement, they undergo a thorough verification process to establish 
       the validity of their practice.
      </p> 
    </section>

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
