<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%- include("./partials/head.ejs") %>
    <title>Claim Your Listing</title>
  </head>
  <body class="offshoreTeam">
    <%- include("./partials/header.ejs") %>
    <div class="background-image">
      <div class="page-heading_large-image">
      <div class="page-heading wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="page-heading_title">Build An Offshore Team with Entegrity<sup>TM</sup></h1>
              <h3 class="page-heading_subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Volu ullam assumenda
                molestiae, individut dolor si.
              </h3>
            </div>
            <div class="page-heading_get-started">
              <a href="#offshore-form" class="btn get-started-btn" >Get Started</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="enrolled-stats">
      <div class="container enrolled-stats_section">
        <div class="row enrolled-stats_section-tp-mg">
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="94" class="animate-number">0</h2>
            <h4>Employers</h4>
          </div>
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="257" class="animate-number">0</h2>
            <h4>Job Seekers</h4>
          </div>
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="51113" class="animate-number">0</h2>
            <h4>Jobs</h4>
          </div>
        </div>        
      </div>
    </div>
    <div class="create-account">
      <div class="create-account_lg-scr">
        <div class="mb-3 create-account_div1">
          <div class="wrapper section-paddings">
            <div class="row no-top-margin-for-sm-scr">
              <div class="col-md-7 neg-left-mar">
                <img src="/assets/images/Group 6040.png" class="card-img" alt="..." />
              </div>
              <div class="col-md-5 pr-0">
                <div class="card-body create-account_description">
                  <h5 class="card-title bold">Lorem Isum dolor sit amet, consectetur sadip.</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo
                    recusandae dolores facere aperiam assumenda molestias facilis inventore! Provident
                    delectus voluptatem doloremque. Vitae fuga accusantium animi consequatur nisi sed
                    debitis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae,
                    animi ex quia laborum mollitia similique quas incidunt fugit illum dicta esse
                    placeat minima optio ab voluptatum pariatur tenetur expedita doloremque.
                  </p>
                  <a class="buttons btn-positioning" href="#offshore-form">Learn How to Grow Your Team</a>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
              <div class="container video-section">
                <div class="video-section_div">
                  <h2 class="video-section_heading centered">Lorem Ipsum dolor Sit amen, consectetur sadip</h2>
                  <h4 class="video-section_subheading centered">Lorem ipsum dolor sit amet, consectetur elit sad diam nonumy</h4>
                </div>
                <div class="video-section_vid-player embed-responsive embed-responsive-1by4">
                  <iframe class="embed-vid embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
              </div>
              <!--only display only for smaller screen-->
              <div class="create-account small-screen-display">
                <div class="create-account_lg-scr">
                  <div class="mb-3 create-account_div1">
                    <div class="wrapper section-paddings">
                      <div class="row">
                        <div class="col-md-5">
                          <img src="/assets/images/Group 5707.png" class="card-img" alt="..." />
                        </div>
                        <div class="col-md-7">
                          <div class="card-body create-account_description">
                            <h5 class="card-title bold">Lorem Isum dolor sit ammet, consectetur sadip.</h5>
                            <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo
                              recusandae dolores facere aperiam assumenda molestias facilis inventore! Provident
                              delectus voluptatem doloremque. Vitae fuga accusantium animi consequatur nisi sed
                              debitis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae,
                              animi ex quia laborum mollitia similique quas incidunt fugit illum dicta esse
                              placeat minima optio ab voluptatum pariatur tenetur expedita doloremque.
                            </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                          <a class="buttons btn-center" href="#offshore-form">Get More Information</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Only display for only larger Screens-->
              <div class="create-account-push-down">
                <div class="create-account2 large-screen-display">
                  <div class="mb-3 create-account_div1">
                    <div class="wrapper2 section-paddings">
                      <div class="row">
                        <div class="col-md-6 pr-0 pl-30">
                          <div class="card-body create-account_description additional-left-mar">
                            <h5 class="card-title bold">Lorem Isum dolor sit amet, consectetur sadip.</h5>
                            <p class="card-text">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla explicabo
                              recusandae dolores facere aperiam assumenda molestias facilis inventore! Provident
                              delectus voluptatem doloremque. Vitae fuga accusantium animi consequatur nisi sed
                              debitis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae,
                              animi ex quia laborum mollitia similique quas incidunt fugit illum dicta esse
                              placeat minima optio ab voluptatum pariatur tenetur expedita doloremque.
                            </p>
                            <a class="buttons btn-pull-left" href="#offshore-form">Get More Information</a>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <img src="/assets/images/Group 5707.png" class="card-img" alt="..." />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>             
            
  
    <div class="enrolled-procedures">
      <div class="enrolled-procedures_steps">
        <div class="container">
          <div class="col-sm-12 centered">
            <h2 class="enrolled-procedures_header bold">Lorem Ipsum.</h2>
            <h4>Lorem Ipsum dolor sit amet, consectetur sadipscing</h4>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-1 centered">
                <div class="enrolled-procedures_steps-1-img">
                  <div class="radial">
                    <h3>01</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-1_signup bold">Signup</h3>
                <p class="enrolled-procedures_steps-1_description">You specify your specific staff needs<br /> and skill requirements</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-1 centered">
                <div class="arrow-div">
                  <img src="/assets/images/right arrow.png" alt="" class="arrow-icon_image">
                </div>
                <div class="enrolled-procedures_steps-1-img">
                 <div class="radial">
                    <h3>02</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-2_signup bold">Screening</h3>
                <p class="enrolled-procedures_steps-2_description">You specify your specific staff needs <br /> and skill requirements</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-3 centered">
                <div class="arrow-div">
                  <img src="/assets/images/right arrow.png" alt="" class="arrow-icon_image">
                </div>
                <div class="enrolled-procedures_steps-1-img">
                  <div class="radial">
                    <h3>03</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-1_signup bold">Screening</h3>
                <p class="enrolled-procedures_steps-1_description">You specify your specific staff needs<br /> and skill requirements</p>
            </div>
          </div>
        </div>
          <div class="get-started-button-div">
            <a href="#offshore-form" class="btn get-started-btn btn-pos-center top-bottom-margin">Get Started</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="enrolled-offers">
      <div class="enrolled-offers_headings">
        <h2 class="enrolled-offers_headings-1 centered">Lorem Ipsum</h2>
        <h5 class="enrolled-offers_headings-2 centered">Lorem ipsum dolor sit amet, consetetur sadipscing</h5>
      </div>
      <div class="container">
        <div class="row mb-50">
          <div class="col-sm-6">
            <div class="enrolled-offers_section centered">
              <h4>Reduced Costs</h4>
              <p>Dedicated staff works under your management</p>
              <p>Rates starting at $9/hour</p>
              <p>75% Savings in labor costs</p>
              <p>Zero payroll Taxes/Benefits/Paid vacation</p>
              <p>Zero Overhead or Office Rentals</p>
              <p>Free from Compliance Headaches</p>
              <p>Direct Recruitment: No Agency Fees</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="enrolled-offers_section centered">
              <h4>Flexible Hiring Options</h4>
              <p>Long Term</p>
              <p>Short Term</p>
              <p>Full Time</p>
              <p>Part Time</p>
              <p>Seasonal</p>
              <p>Project Based</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form action="" id="offshore-form">
      <div class="enrolled-form">
        <div class="container">
          <div class="enrolled-form_title centered">
            <h2 class="enrolled-form_title1">Lorem Ipsum</h2>
            <h4 class="enrolled-form_title2">Lorem Ipsum dolor sit amet, consetetur sadipscing</h4>
          </div>
          <div class="row form-wrapper">
            <div class="col-md-6">
                <input type="text" placeholder="First Name*" id="firstName" required />
                <input type="email" placeholder="Email Address*" id="email" required />
                <div class="small-inputs">
                  <div class="col-md-6">
                    <input type="text" placeholder="City*" required id="city" 
                    class="small-inputs_area" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" placeholder="Zip Code*" required id="zipCode" 
                    class="small-inputs_area small-inputs_area-pull-left" />
                  </div>
                </div>
                <label for="staffNeeded">Staff Needed*</Select></label>
                <select class="form-control" id="staffNeeded" required>
                  <option disabled selected>Nothing Selected</option>
                  <option value="Data Entry Specialist">Data Entry Specialist</option>
                  <option value="Bookkeeper">Bookkeeper</option>
                  <option value="Staff Accountant">Staff Accountant</option>
                  <option value="Tax Associate">Tax Associate</option>
                  <option value="Audit Associate">Audit Associate</option>
                  <option value="ax Senior">Tax Senior</option>
                  <option value="Accounts Senior">Accounts Senior</option>
                  <option value="Manager">Manager</option>
                </select>
                <select id="businessSize" class="form-control additional-top-margin" required>
                  <option disabled selected>Size of Your Business</option>
                  <option value="1-5">1-5</option>
                  <option value="6-10">6-10</option>
                  <option value="11-20">11-20</option>
                  <option value="21+">21+</option>
                </select>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Last Name*" id="lastName" required />
              <input type="text" placeholder="Phone Number*" id="phone" required />
              <input type="text" required placeholder="State*" id="state"/>
              <select id="contactMethod" class="form-control make-up-margin-for-label" required>
                <option disabled selected>Prefered Contact Method</option>
                <option value="phone">Phone Call</option>
                <option value="email">Email</option>
                <option value="text">Text Message</option>
              </select>
              <select id="timeline" class="form-control additional-top-margin" required>
                <option disabled selected>How soon are you planning to hire</option>
                <option value="Less than 1 month">Less than 1 month</option>
                <option value="1 to 3 months">1 to 3 months</option>
                <option value="More than 3 months">More than 3 months</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="optionalMessage" class="additional-left-mar-for-txt-lab">Optional Message</label>
            <textarea class="form-control optional-message" id="optionalMessage" rows="8"></textarea>
          </div>
          <button class="btn get-started-btn btn-pull-center" type="submit">Get Started</button>      
        </div>
      </div>
    </form>        
    <%- include("./partials/footer.ejs") %>
    
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
    integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
    crossorigin="anonymous"></script>
    <script src="/javascripts/funfact.js"></script>
          <script type="text/javascript" src="/javascripts/offshore.js"></script>
     <script src="/js/custom.js"></script>
  </body>
</html>
