<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%- include("./partials/head.ejs") %>
    <title>Offshore Team</title>
  </head>
  <body class="offshoreTeam">
    <%- include("./partials/header.ejs") %>
    <div class="background-image">
      <div class="page-heading_large-image">
      <div class="page-heading page-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="page-heading_title">Build An Offshore Team with Entegrity<sup>TM</sup></h1>
              <h3 class="page-heading_subtitle">Remote teams have become more common. Let us help you 
                identify skilled remote staff members to help fit your business needs
              </h3>
            </div>
            <div class="page-heading_get-started">
              <a href="#offshore-form" class="btn get-started-btn text-center" >Get Started <span class="">
              <img src="/assets/images/ccenter/right-arrow-white.svg" class="ccenter-btn-right-arrow">
          </span></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="enrolled-stats">
      <div class="container enrolled-stats_section">
        <div class="row enrolled-stats_section-tp-mg">
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="94" class="animate-number">0</h2>
            <h4>Employers</h4>
          </div>
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="257" class="animate-number">0</h2>
            <h4>Job Seekers</h4>
          </div>
          <div class="col-xs-4 centered">
            <h2 data-animation-duration="2000" data-value="51113" class="animate-number">0</h2>
            <h4>Jobs</h4>
          </div>
        </div>        
      </div>
    </div>
    <div class="create-account">
      <div class="create-account_lg-scr">
        <div class="mb-3 create-account_div1">
          <div class="wrapper section-paddings">
            <div class="row no-top-margin-for-sm-scr">
              <div class="col-md-6 neg-left-mar">
                <img src="https://enrolled-public.s3.amazonaws.com/assets/images/Group+6040.webp" class="card-img" alt="Enrolled-agent" />
              </div>
              <div class="col-md-1 pr-0"></div>
              <div class="col-md-4 pr-0">
                <div class="card-body create-account_description">
                  <p class="card-text"> The pandemic has certainly changed the modus operandi of 
                    work across the globe. Organizations are left with no choice but to adopt new 
                    practices for remote work. In line with this, organizations are learning to 
                    recruit and train workforces to produce excellent result even in a virtual office. 
                    Be a part of those that have built offshore accounting teams to promote their 
                    organization in this new era- an era of remote work.
                  </p>
                  <a class="buttons btn-positioning" href="#offshore-form">Learn How to Grow Your Team</a>
                </div>
              </div>
              <div class="col-md-1 pr-0"></div>
              </div>
          </div>
        </div>
      </div>
    </div>
              <div class="container video-section">
                <div class="video-section_div">
                  <h2 class="video-section_heading centered">An Offshore Staffing Solution that is Simple and Affordable.</h2>
                  <h4 class="video-section_subheading centered">Hire a competent, dependable staff for as little as $9 per hour with Entigrity™</h4>
                </div>
                <div class="video-section_vid-player embed-responsive embed-responsive-1by4">
                  <iframe class="embed-vid embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
              </div>
              <!--only display only for smaller screen-->
              <div class="create-account small-screen-display">
                <div class="create-account_lg-scr">
                  <div class="mb-3 create-account_div1">
                    <div class="wrapper section-paddings">
                      <div class="row">
                        <div class="col-md-5">
                          <img src="https://enrolled-public.s3.amazonaws.com/assets/images/Group+5707.webp" class="card-img" alt="..." />
                        </div>
                        <div class="col-md-7">
                          <div class="card-body create-account_description">
                            <h5 class="card-title bold">Invest in infrastructure that allows your firm to be successful.</h5>
                            <p class="card-text"> By working with an offshore accounting team , your 
                              firm will benefit from much more than just cost savings. Engaging an 
                              offshore accounting team delivers flexible hiring options, easy 
                              scalability, high staff retention, required US accounting knowledge and 
                              software skills, a larger talent pool, and increased profitability.
                            </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                          </div>
                          <a class="buttons btn-center" href="#offshore-form">Get More Information</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Only display for only larger Screens-->
              <div class="create-account-push-down">
                <div class="create-account2 large-screen-display">
                  <div class="mb-3 create-account_div1">
                    <div class="wrapper2 section-paddings">
                      <div class="row">
                        <div class="col-md-1 pr-0 pl-30"></div>
                        <div class="col-md-5 pr-0 pl-30">
                          <div class="card-body create-account_description additional-left-mar">
                            <h5 class="card-title bold">Invest in infrastructure that allows your firm to be successful.</h5>
                            <p class="card-text">Here are some of the things you stand to gain collaborating with 
                              an offshore accounting team:
                            </p>
                              <ul class="bullet">
                                <li>Flexible hiring options</li>
                                <li>High staff retention</li>
                                <li>Easy scalability</li>
                                <li>Increased profitability, etc.</li>
                              </ul>
                            
                            <a class="buttons btn-pull-left" href="#offshore-form">Get More Information</a>
                          </div>
                        </div>
                        <div class="col-md-1 pr-0 pl-30"></div>
                        <div class="col-md-5">
                          <img src="/assets/images/Group 5707.webp" class="card-img" alt="..." />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>             
            
  
    <div class="enrolled-procedures">
      <div class="enrolled-procedures_steps">
        <div class="container">
          <div class="col-sm-12 centered">
            <h2 class="enrolled-procedures_header bold">Get started with your new team in 3 easy steps.</h2>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-1 centered">
                <div class="enrolled-procedures_steps-1-img">
                  <div class="radial">
                    <h3>01</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-1_signup bold">Signup</h3>
                <p class="enrolled-procedures_steps-1_description">You specify your specific staff needs and skill requirements.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-1 centered">
                <div class="arrow-div">
                  <img src="/assets/images/right arrow.png" alt="" class="arrow-icon_image">
                </div>
                <div class="enrolled-procedures_steps-1-img">
                 <div class="radial">
                    <h3>02</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-2_signup bold">Screening</h3>
                <p class="enrolled-procedures_steps-2_description">Meet your team virtually with a video interview and online practical skills test.
</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="enrolled-procedures_steps-3 centered">
                <div class="arrow-div">
                  <img src="/assets/images/right arrow.png" alt="" class="arrow-icon_image">
                </div>
                <div class="enrolled-procedures_steps-1-img">
                  <div class="radial">
                    <h3>03</h3>
                  </div>
                </div>
                <h3 class="enrolled-procedures_steps-1_signup bold">Selection</h3>
                <p class="enrolled-procedures_steps-1_description">You choose the team members who are a good fit for your practice.</p>
            </div>
          </div>
        </div>
          <div class="get-started-button-div">
            <a href="#offshore-form" class="btn get-started-btn btn-pos-center top-bottom-margin">Get Started</a>
          </div>
          
        </div>
      </div>
    </div>
    <div class="enrolled-offers">
      <div class="enrolled-offers_headings">
        <h2 class="enrolled-offers_headings-1 centered">Benefits of working with a remote staff.</h2>
        <h5 class="enrolled-offers_headings-2 centered">You choose the team members who are a good fit for your practice.</h5>
      </div>
      <div class="container">
        <div class="row mb-50">
          <div class="col-sm-6">
            <div class="enrolled-offers_section centered">
              <h4>Reduced Costs</h4>
              <p>Zero Payroll Taxes/Benefits/Paid Vacation</p>
              <p>Free from Compliance Headaches</p>
              <p>Zero Overhead or Office Rentals</p>
              <p>Rates starting at $9/hour</p>
              <p>Direct Recruitment: No Agency Fees</p>
              <p>Dedicated staff works under your management</p>
              <p>75% Savings in labor costs</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="enrolled-offers_section centered">
              <h4>Flexible Hiring Options</h4>
              <p>Full Time</p>
              <p>Part Time</p>
              <p>Seasonal</p>
              <p>Short Term</p>
              <p>Long Term</p>
              <p>Project Based</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <form action="" id="offshore-form">
      <div class="enrolled-form">
        <div class="container">
          <div class="enrolled-form_title centered">
            <h2 class="enrolled-form_title1">Be sure to contact us for more information.</h2>
            <h4 class="enrolled-form_title2">Get in touch with us for more details about offshore hiring.</h4>
          </div>
          <div class="row form-wrapper">
            <div class="col-md-6">
                <input type="text" placeholder="First Name*" id="firstName" required />
                <input type="email" placeholder="Email Address*" id="email" required />
                <div class="small-inputs">
                  <div class="col-md-6">
                    <input type="text" placeholder="City*" required id="city" 
                    class="small-inputs_area" />
                  </div>
                  <div class="col-md-6">
                    <input type="text" placeholder="Zip Code*" required id="zipCode" 
                    class="small-inputs_area small-inputs_area-pull-left" />
                  </div>
                </div>
                <label for="staffNeeded">Staff Needed*</Select></label>
                <select class="form-control correction" id="staffNeeded" required>
                  <option disabled selected>Nothing Selected</option>
                  <option value="Data Entry Specialist">Data Entry Specialist</option>
                  <option value="Bookkeeper">Bookkeeper</option>
                  <option value="Staff Accountant">Staff Accountant</option>
                  <option value="Tax Associate">Tax Associate</option>
                  <option value="Audit Associate">Audit Associate</option>
                  <option value="ax Senior">Tax Senior</option>
                  <option value="Accounts Senior">Accounts Senior</option>
                  <option value="Manager">Manager</option>
                </select>
                <select id="businessSize" class="form-control additional-top-margin correction" required>
                  <option disabled selected>Size of Your Business</option>
                  <option value="1-5">1-5</option>
                  <option value="6-10">6-10</option>
                  <option value="11-20">11-20</option>
                  <option value="21+">21+</option>
                </select>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Last Name*" id="lastName" required />
              <input type="text" placeholder="Phone Number*" id="phone" required />
              <input type="text" required placeholder="State*" id="state"/>
              <select id="contactMethod" class="form-control make-up-margin-for-label" required>
                <option disabled selected>Prefered Contact Method</option>
                <option value="phone">Phone Call</option>
                <option value="email">Email</option>
                <option value="text">Text Message</option>
              </select>
              <select id="timeline" class="form-control additional-top-margin" required>
                <option disabled selected>How soon are you planning to hire</option>
                <option value="Less than 1 month">Less than 1 month</option>
                <option value="1 to 3 months">1 to 3 months</option>
                <option value="More than 3 months">More than 3 months</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="optionalMessage" class="additional-left-mar-for-txt-lab">Optional Message</label>
            <textarea class="form-control optional-message" id="optionalMessage" rows="8"></textarea>
          </div>
          <button class="btn get-started-btn btn-pull-center" type="submit" id="submit-btn">Get Started</button>      
        </div>
      </div>
    </form>        
    <%- include("./partials/footer.ejs") %>
    
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
    integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
    crossorigin="anonymous"></script>
    <script src="/javascripts/funfact.js"></script>
          <script type="text/javascript" src="/javascripts/offshore.js"></script>
     <script src="/js/main.js"></script>
  </body>
</html>
