<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  

  <body id="page-15">
      <%- include("./partials/header.ejs") %>

      <section id="local-agent-top">
        <div class="local-agent-text container">
          <h1>Find A Local Enrolled Agent</h1>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
          <div class="form-flex">
            <div class="col-md-4">
              <input type="text" name="zip-code" id="zip-code" placeholder="Enter Your zip Code">
              <!-- <select name="cars" id="zip-code" >
                <option value="volvo">Order by</option>
                <option value="saab">Zip Code</option>
                <option value="mercedes">State</option>
                <option value="audi">Rating</option>
              </select> -->
            </div>
            <div class="col-md-4">
              <input type="text" name="last name" id="last-name">
            </div>
            <div class="col-md-4">
              <input type="button" value="Find an enrolled agent">
            </div>
          
          </div>
        </div>

      </section>

      <section id="section">
        
      </section>-2




            <!-- footer section -->
         <%- include("./partials/footer.ejs") %>
    </body>
</html>