<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  

  <body id="page-15">
      <%- include("./partials/header.ejs") %>

    <h1>
        hello world
    </h1>


            <!-- footer section -->
         <%- include("./partials/footer.ejs") %>
    </body>
</html>