<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="practice">
      <section class="container-fluid practice_jumbotron">
        <div class="row">
          <div class="col-12 practice_jumbotron-div">
            <h2>EA Practice Exchange</h2>
            <p>The easiest way to buy or sell an accounting practice.</p>
          </div>
        </div>
      </section>
      <section class="container practice_body">
        <p class="practice_body-details"> Are you looking to purchase an existing practice or firm? <br>
          We've got you covered! <br> With the assistance of our Brokers, you will be able to get the 
          best practice available for sale; one that suits your business goals.<br /> Find the right practice 
          by browsing through our existing practice listing below for free. Provide us with your details, 
          and one of our Brokers will contact you with more information
        </p>
        <div class="practice_body-div">
          <div class="practice_body-div-content">
            <div class="practice_body-div-content-img">
              <img src="/assets/files/13061.webp" alt="enrolled-agent" />
            </div>
            <div class="practice_body-div-content-details">
              <h3>Excepteur sint occaecat cupidatat</h3>
              <p class="practice_body-div-content-details-text">
                <span>Status:</span> New
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Annual Revenue:</span> $123,456
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Asking Price:</span> New
              </p>
              <p class="practice_body-div-content-details-small">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                perspiciatis unde omnis istpoe natus error sit voluptatem.
              </p>
              <a class="practice_body-div-content-details-link"
                >Get More Information</a
              >
            </div>
          </div>
          <div class="practice_body-div-content">
            <div class="practice_body-div-content-img">
              <img src="/assets/files/13061.webp" alt="enrolled-agent" />
            </div>
            <div class="practice_body-div-content-details">
              <h3>Excepteur sint occaecat cupidatat</h3>
              <p class="practice_body-div-content-details-text">
                <span>Status:</span> New
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Annual Revenue:</span> $123,456
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Asking Price:</span> New
              </p>
              <p class="practice_body-div-content-details-small">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                perspiciatis unde omnis istpoe natus error sit voluptatem.
              </p>
              <a class="practice_body-div-content-details-link"
                >Get More Information</a
              >
            </div>
          </div>
          <div class="practice_body-div-content">
            <div class="practice_body-div-content-img">
              <img src="/assets/files/13061.webp" alt="enrolled-agent" />
            </div>
            <div class="practice_body-div-content-details">
              <h3>Excepteur sint occaecat cupidatat</h3>
              <p class="practice_body-div-content-details-text">
                <span>Status:</span> New
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Annual Revenue:</span> $123,456
              </p>
              <p class="practice_body-div-content-details-text">
                <span>Asking Price:</span> New
              </p>
              <p class="practice_body-div-content-details-small">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est eopksio laborum. Sed ut
                perspiciatis unde omnis istpoe natus error sit voluptatem.
              </p>
              <a class="practice_body-div-content-details-link"
                >Get More Information</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="practice_cta">
        <h2 class="practice_cta-title">Ready to sell your practice?</h2>
        <p class="practice_cta-desc">
          We can match you up with qualified buyers looking to purchase an
          established accounting
          <br />
          practice. <a href="/register">Create a free account</a> to list your
          practice.
        </p>
        <a href="#" class="practice_cta-link">Sell My Practice</a>
      </section>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/main.js"></script>
  </body>
</html>
