<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    ol, li {
      list-style-type: decimal!important;
    }
    li {
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider layer-overlay overlay-dark-4 about_jumbotron">
          <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-theme-colored2 font-36">Privacy Policy</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col">
                  <p>Enrolled Agent, LLC, the owner of EnrolledAgent.com, respects the privacy 
                    of users on the Internet and has developed this Privacy Policy to protect 
                    user privacy on its website. The purpose of this statement is to explain the 
                    types of information EnrolledAgent.com obtains about Enrolled Agent’s listed 
                    on this website, how the information is obtained, how it is used, how it may 
                    be disclosed to others, and how Enrolled Agents can restrict its use or 
                    disclosure.
                  </p>
                  <p class="mt-20">The use of EnrolledAgent.com and our directory services 
                    constitutes your acceptance of our Privacy Policy. If you register, log in, 
                    post reviews or comments, participate in forums, blogs, register for courses, 
                    purchase products, or submit personally identifiable information in any manner, 
                    you are consenting to the use of such data in accordance with this Privacy Policy.
                  </p>
                  <h3 class="mt-20">Personally Identifiable Information</h3>
                  <p class="mt-20">Only the Enrolled Agent’s name, firm affiliation, city, state, 
                    and ZIP code are disclosed in a basic listing. This basic information is provided 
                    to allow for a user to accurately identity an Enrolled Agent and review his or 
                    her services. EnrolledAgent.com is not responsible for the accuracy of any 
                    information. All other information found in listings available to users through 
                    our website is supplied voluntarily and knowingly made accessible to the public 
                    by the Enrolled Agent’s themselves who have updated their professional listings. 
                    With the exception of a name and state, Enrolled Agent’s interacting with our 
                    website may delete other information, or modify information found in their 
                    professional listings on EnrolledAgent.com. This includes their firm affiliation, 
                    address, telephone number, email address, credentials or other personally 
                    identifiable information. Enrolled Agent’s that update their listings constitute 
                    their acceptance that EnrolledAgent.com may share such information with users of 
                    this website, its partners and agents for purposes related to the 
                    EnrolledAgent.com's products and services, including for the purpose of contacting 
                    them via email about products and services that may be of interest to them. 
                    Users may visit our website without telling us who they are or revealing any 
                    personally identifiable information about themselves.
                  </p>
                  <h3 class="mt-20">Using the Information</h3>
                  <p class="mt-20">Personally identifiable information is information about you 
                    such as name, postal address, email address, company name, credit card number, 
                    birth date, social security number, etc. Generally, we may use your personally 
                    identifiable information in the following ways:
                  </p>
                  <ol class="mt-20">
                    <li>To communicate with you about your account or the website.</li>
                    <li>To pre-populate online forms for your convenience.</li>
                    <li>To personalize various aspects of the website.</li>
                    <li>To build quality and useful services by analyzing user trends and by 
                      measuring demographics and interests.
                    </li>
                    <li>To provide you with prompt and effective customer service.</li>
                    <li>To support the operation of the website (i.e., billing, account maintenance) 
                      and troubleshoot.
                    </li>
                    <li>To send you newsletters, promotional messages, product announcements or other 
                      communications that we feel may be of interest to you, although you may opt out 
                      of receiving these communications (see "Opting Out" below).
                    </li>
                    <li>In other ways that you either expressly consent to or instruct us to undertake.</li>
                  </ol>
                  <h3 class="mt-20">Disclosing the Information</h3>
                  <p class="mt-20">We may disclose personally identifiable information about you to third parties 
                    without asking for explicit consent from you as follows:
                  </p>
                  <ol class="mt-20">
                    <li>We will perform research on our end users' demographics, interests, and 
                      behavior based on the information we collect, for example during registration, 
                      from our server log files and from user surveys. We do this to better understand 
                      and serve our users. This research is compiled and analyzed on an aggregated 
                      basis. We may share this aggregated data with current or potential advertisers, 
                      business partners, investors and other third parties interested in our business.
                    </li>
                    <li>EnrolledAgent.com does not sell any of your personally identifiable 
                      information to third parties. However, if you have not opted out of receiving 
                      postal mail from EnrolledAgent.com or third parties, EnrolledAgent.com may rent 
                      your name, postal address and phone number to third parties, which the third 
                      parties may use one time only to mail you information. These third parties will 
                      have no continuing right to use your name or postal address. We do not sell or 
                      rent your email addresses to third parties. All emails you receive are deployed 
                      directly by EnrolledAgent.com on behalf of third parties.
                    </li>
                    <li>We share website usage information about visitors to the website who have 
                      received a targeted email promotional campaign from us with a third-party 
                      advertising company for the sole purpose of targeting future email campaigns 
                      and upgrading visitor information used in reporting statistics.
                    </li>
                    <li>To allow third parties to provide website features and services. These 
                      third parties are not allowed to use personally identifiable information 
                      except for the purpose of providing these services.
                    </li>
                    <li>To our contractors, consultants and professional advisors so they can 
                      provide a service to us. For example, from time to time we may use third 
                      parties to help us collect information about our users. In those cases, 
                      we will prohibit the third parties from using the information they collect 
                      for any purpose other than providing the service to us.
                    </li>
                    <li>As we believe necessary to comply with the law and protect the rights, 
                      property or safety of others.
                    </li>
                    <li>If you engage in illegal activity and we respond to a subpoena, 
                      warrant or other court order.
                    </li>
                    <li>In connection with the sale or transfer of EnrolledAgent.com or 
                      substantially all of its assets, we will share your data with the acquiring 
                      party or transferee.
                    </li>
                    <li>Due to circumstances beyond our control.</li>
                  </ol>
                  <h3 class="mt-20">Opting Out</h3>
                  <p class="mt-20">As part of the member registration process, you will supply us 
                    with your postal address, phone number and email address, and you will be 
                    registered to receive periodic communications from EnrolledAgent.com or from 
                    other reputable companies affiliated with EnrolledAgent.com. If you do not wish 
                    to receive such communications from EnrolledAgent.com or from the reputable 
                    companies affiliated with EnrolledAgent.com, you can:
                  </p>
                  <ol class="mt-20">
                    <li>Opt out of receiving future emailed messages by following the "unsubscribe" 
                      instructions at the bottom of any emailed message you receive from 
                      EnrolledAgent.com.
                    </li>
                    <li>Individuals who no longer maintain their Enrolled Agent license can request 
                      to have their names removed from the directory. These individuals who wish to 
                      be removed from the directory may do so by sending an email request using the 
                      form on the contact page found on this website, or by writing to Enrolled Agent, 
                      LLC. <br /> In your request please state clearly that you no longer are licensed 
                      as of a certain date.
                    </li>
                    <li>If you receive communications from EnrolledAgent.com or third parties 
                      selected by EnrolledAgent.com by regular mail, you can opt out of receiving 
                      future such communications by contacting EnrolledAgent.com's customer service.
                    </li>
                  </ol>
                  <p class="mt-20">Please allow ten days for your opt-out election to take effect. 
                    Please note that even if you opt out of receiving the types of communications 
                    described above, we may still from time to time communicate with you about your 
                    account or operation of the website; these communications will not be promotional 
                    in nature. For example, if our service is temporarily suspended for maintenance 
                    we might send users an email. You cannot opt out of receiving these communications.
                  </p>
                  <h3 class="mt-20">Non-Personally Identifiable Information</h3>
                  <p class="mt-20">EnrolledAgent.com does collect and use some non-personally 
                    identifiable, generic information about our users as a mean of measuring the 
                    effectiveness of our website. EnrolledAgent.com's servers identify certain user 
                    information in the normal course of operation, but such information does not 
                    reveal a user's personal identity. We collect this information only in the 
                    aggregate and use it to evaluate and improve our website and to provide targeted 
                    information that may be of interest to users of our website. The following are 
                    examples of non-personally identifiable generic information.
                  </p>
                  <h3 class="mt-20">IP Addresses</h3>
                  <p class="mt-20">An IP address is a number that is automatically assigned to a 
                    user's computer whenever that user is using the World Wide Web. Website servers 
                    can automatically identify individual computers by their IP address. 
                    EnrolledAgent.com collects IP addresses for the purposes of system administration 
                    and to report aggregate information. EnrolledAgent.com does not link IP addresses 
                    to any personally identifiable information.
                  </p>
                  <h3 class="mt-20">Cookies</h3>
                  <p class="mt-20">Cookies are pieces of information that are used for record-keeping 
                    purposes. Cookies allow EnrolledAgent.com to save certain information about a user, 
                    such as a password or individual preferences, in order to facilitate and enhance 
                    the user's future activities on the website. EnrolledAgent.com will not use cookies 
                    to retrieve information from a user's computer other than that voluntarily supplied 
                    by the user. Except as otherwise provided in this statement, EnrolledAgent.com shall 
                    not use information transferred through cookies for any promotional or marketing 
                    purposes.
                  </p>
                  <h3 class="mt-20">Computer Settings</h3>
                  <p class="mt-20">Settings, technical and other information from your computer, 
                    such as your operating system, browser version, connectivity, various communication 
                    parameters and other information related to the operation and interaction of 
                    EnrolledAgent.com may be collected by EnrolledAgent.com. Except as otherwise provided 
                    in this statement, EnrolledAgent.com will use such information solely in order to 
                    provide technically appropriate formatting of information provided by EnrolledAgent.com 
                    and access to EnrolledAgent.com. The collection of this information will not include 
                    any personally identifiable information about you or any individual user.
                  </p>
                  <h3 class="mt-20">Information Provided by Children</h3>
                  <p class="mt-20">EnrolledAgent.com is not targeted at children and do not collect 
                    or use any personally identifiable data from children.
                  </p>
                  <h3 class="mt-20">Disclosure Pursuant to Legal Process</h3>
                  <p class="mt-20">EnrolledAgent.com shall, pursuant to applicable law, regulation or 
                    legal process, such as a search warrant, subpoena or court order, allow access 
                    to all available and relevant information in order to comply with such process 
                    and protect EnrolledAgent.com's rights and property. EnrolledAgent.com may also 
                    allow access to this information in special emergencies where physical safety is 
                    at risk.
                  </p>
                  <h3 class="mt-20">Other Websites</h3>
                  <p class="mt-20">EnrolledAgent.com is committed to protecting user privacy and 
                    expects the same from our partners, co-sponsors and suppliers. EnrolledAgent.com, 
                    however, is not responsible for the content or the privacy practices of other 
                    websites, including websites reached through a link on EnrolledAgent.com. Other 
                    websites may have different privacy policies, or no policy. Users should review 
                    the privacy policies of any website before providing personal information.
                  </p>
                  <p class="mt-20">Should EnrolledAgent.com modify its practices regarding the 
                    collection or use of information obtained from users in the future, this privacy 
                    statement will be amended to reflect such modifications.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
 
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/custom.js"></script>
  </body>
</html>
