<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    ol,
    li {
      list-style-type: decimal !important;
    }
    li {
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section
          class="inner-header divider layer-overlay overlay-dark-4 privacy_jumbotron"
        >
          <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-theme-colored2 font-36">Privacy Policy</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col private-terms">
                  <h3 class="mt-20">Introduction</h3>
                  <p>
                    At EnrolledAgent.com LLC (“we”, “us”, or “our”), we take your privacy seriously, and we are committed to ensuring the overall privacy and security of every personal information you give us, or we collect from you. As a result, we have prepared this Privacy Notice to explain to you how we collect, use, disclose, process, store, and handle your personal information provided to us or acquired in respect of your visit to, use, access of our website, or use of our service, and how you can exercise your privacy rights. Through this Privacy Notice, we also explain the types of information EnrolledAgent.com LLC obtains about Enrolled Agents (EA) listed on this website, how the information is obtained, how it is used, how it may be disclosed to others, how EAs can restrict its use or disclosure, and exercise their privacy rights. You can always contact Enrolledagent.com LLC at C/O: Kenneth Omoruyi, 100 Church St., New York, NY 10007.
                  </p>
                  <p class="mt-20">
                    When you use of EnrolledAgent.com website, and our directory services you are affirming that you have read this Privacy Notice and are aware of the terms. Any personal information you share while using our direct.
                  </p>
                  <h3 class="mt-20">Personally Identifiable Information</h3>
                  <p class="mt-20">
                    As regards EAs, we only disclose EA's name, firm affiliation, city, state, and ZIP code in our basic listing. This basic information is provided to allow for a user or potential customer to accurately identify an EA and review his or her services, and other relevant information before deciding on engaging such EA. Although, we try our best, EnrolledAgent.com is not responsible for the accuracy of any information in our directory. All other information found in listings available to users through our website is supplied voluntarily and knowingly made accessible to the public by the EAs themselves who have updated their professional listings. With the exception of a name and state, which cannot be deleted for public interest purposes and to avoid misrepresentation, generally, EAs interacting with our website may delete or modify other information found in their professional listings on EnrolledAgent.com. This includes their firm affiliation, address, telephone number, email address, credentials, or other personally identifiable information. When EAs update their listings, they accept that their personal information would be shared with users/potential customers. Enrolledagent.com LLC may share such information with users of this website, its partners and agents for purposes related to the EnrolledAgent.com’s products and services, including to contact them via email about products and services that may be of interest to them. 
                  </p>
                  <h3 class="mt-20">Purpose of processing collected personal data</h3>
                  <p class="mt-20">
                    Personally identifiable information is information about you such as name, postal address, email address, company name, credit card number, birth date, social security number, etc. Generally, we may use your personally identifiable information in the following ways:
                  </p>
                  <ol class="mt-20 ml-30">
                    <li>
                      We collect your zip code on our website to determine appropriate EA suggestions for you, and also suggest other financial resources that might be of interest.
                    </li>
                    <li>To communicate with you about your account or the website.</li>
                    <li>To pre-populate online forms for your convenience.</li>
                    <li>
                      To personalize various aspects of the website.
                    </li>
                    <li>
                      To build quality and useful services by analyzing user trends and by measuring demographics and interests.
                    </li>
                    <li>
                      To provide you with prompt and effective customer service.
                    </li>
                    <li>
                      To support the operation of the website (i.e., billing, account maintenance) and troubleshoot.
                    </li>
                    <li>
                      To send you newsletters, promotional messages, product announcements or other communications that we feel may be of interest to you, although you may opt out of receiving these communications (see "Opting Out" below).
                    </li>
                    <li>
                      In other ways that you either expressly consent to or instruct us to undertake.
                    </li>
                  </ol>

                  <h3 class="mt-20">Sources of Personal Information</h3>
                  <p class="mt-20">
                    Below are the sources of the personal information we use:
                  </p>
                  <ol class="mt-20 ml-30">
                    <li>
                      Users/clients provide information directly and voluntarily to us.
                    </li>
                    <li>
                      EAs provide their information to us.
                    </li>
                    <li>
                      Some other information about EAs is collected from public Internal Revenue Service (IRS) website.
                    </li>
                  </ol>
                  <h3 class="mt-20">Disclosing your Personal Information</h3>
                  <p class="mt-20">
                    We may disclose personally identifiable information about you to third parties without asking for explicit consent from you as follows:
                  </p>
                  <ol class="mt-20 ml-30">
                    <li>
                      We will perform research on our end users' demographics, interests, and behavior based on the information we collect, for example during registration, from our server log files and user surveys. We do this to better understand and serve our users. This research is compiled and analyzed on an aggregated basis. We may share this aggregated data with current or potential advertisers, business partners, investors and other third parties interested in our business.
                    </li>
                    <li>
                      We share website usage information about visitors to the website who have received a targeted email promotional campaign from us with a third-party advertising company for the sole purpose of targeting future email campaigns and upgrading visitor information used in reporting statistics.
                    </li>
                    <li>
                      To allow third parties to provide website features and services. These third parties are not allowed to use personally identifiable information except to provide these services.
                    </li>
                    <li>
                      To our contractors, consultants, and professional advisors so they can provide a service to us. For example, from time to time we may use third parties to help us collect information about our users. In those cases, we will prohibit the third parties from using the information they collect for any purpose other than providing the service to us.
                    </li>
                    <li>
                      As we believe necessary to comply with the law and protect the rights, property, or safety of others.
                    </li>
                    <li>
                      If you engage in illegal activity and we respond to a subpoena, warrant or other court order.
                    </li>
                    <li>
                      In connection with the sale or transfer of EnrolledAgent.com LLC or substantially all of its assets, we will share your data with the acquiring party or transferee.
                    </li>
                    <li>
                      We shall, under applicable law, regulation, or legal process, such as a search warrant, subpoena or court order, allow access to all available and relevant information we hold in order to comply with such process and protect our rights and property. We may also allow access to this information in special emergencies where physical safety is at risk.
                    </li>
                  </ol>
                  
                  
                  <h3 class="mt-20">International transfer</h3>
                  <p class="mt-20">
                    Currently, EnrolledAgent.com LLC do not transfer any data internationally, and all data are maintained in the United States. However, in an instance where we intend to transfer data internationally, we shall use an appropriate cross-border mechanism such as a standard contract carrying terms focused on the security of your data, non-transference to another jurisdiction, etc.
                  </p>
                  <h3 class="mt-20">Data Retention</h3>
                  <p class="mt-20">
                    For every personal information we collect or maintain aside from the EAs information which is a part of our service, the storage will be encrypted and stored for 5 years.
                  </p>
                  <h3 class="mt-20">Profiling or automated decision-making of users or EAs</h3>
                  <p class="mt-20">
                    No. 
                  </p>
                  <h3 class="mt-20">Legal basis for processing</h3>
                  <p class="mt-20">
                    For users of our service, the legal basis for processing your personal information is contract by virtue of you reading and agreeing to our terms and conditions. We process your personal information because it is necessary for the performance of the contract. For other services like receiving marketing information from us, and accessing your location, the basis for processing is consent, which you can retrieve at any time.
                  </p>
                  <p class="mt-20">
                    For EAs, the legal basis for processing your personal information is public interest. That is why we collect your publicly available information from the IRS so that users can know who a licensed EA is and who is not in order to prevent false representations by impostor. When you provide additional personal information to us, the basis for processing is consent, and contract as detailed in our terms and conditions. 
                  </p>
                  <h3 class="mt-20">Your Privacy Rights</h3>
                  <p class="mt-20">
                    Both EAs and our service users have the following rights:
                  </p>
                  <p class="mt-20 ml-10" >
                    a. <b class="bold">the right to be informed:</b> you have the right to receive fair processing information about any or all personal information processed by us, including the recipients or categories of recipients to whom your personal information has been or will be disclosed, transfers to recipients in third countries or international organizations, and the appropriate safeguards relating to such transfers. We have tried to provide that information through this Privacy Notice for example.
                  </p>
                  <p class="mt-20 ml-10" >
                    b. <b class="bold">the right of access:</b> you possess the right to request and be given access to your personal information that we hold about you.
                  </p>
                  <p class="mt-20 ml-10" >
                    c. <b class="bold">the right to rectification:</b> you have the right to ensure that any or all inaccurate or incomplete information with us is rectified.
                  </p>
                  <p class="mt-20 ml-10" >
                    d. <b class="bold">the right to erasure:</b> you may request that any or all your information with us is deleted when there is no compelling reason for its continued processing.
                  </p>
                  <p class="mt-20 ml-10" >
                    e. <b class="bold">the right to restrict processing:</b> you have the right to restrict the processing of your personal information as prescribed by law.
                  </p>
                  <p class="mt-20 ml-10" >
                    f. <b class="bold">the right to data portability:</b> you may request to receive, free of charge, a copy of your personal information in our custody in a structured, commonly used, and machine-readable format or have us transmit the information directly to another entity (if this is technically feasible).
                  </p>
                  <p class="mt-20 ml-10" >
                    g. <b class="bold">the right to object:</b>  you possess the right to object to the processing of your personal information generally. Each objection request would be treated peculiarly.
                  </p>
                  <p class="mt-20 ml-10" >
                    h. <b class="bold">the right to lodge a complaint with a Supervisory Authority:</b> you can lodge a complaint about our privacy practices, or the exercise of any of your rights concerning your personal information as stated in this Privacy Notice, with your local Supervisory Authority, such as Federal Trade Commission (FTC) in the United States. 
                  </p>
                  <p class="mt-20 ml-10" >
                    i. <b class="bold">the right to withdraw consent:</b>  where consent is the legal basis for processing, you can withdraw your consent to our processing of your personal information at any time by contacting us via the channel outlined in this Privacy Notice.
                  </p>
                  <p class="mt-20 ml-10" >
                    j. <b class="bold">the right to opt-out of the sale of your personal information:</b> we currently do not sell your data, if we ever plan to do so, we shall inform you, and you can exercise the right to opt-out of the sale of your data.
                  </p>

                  <p class="mt-20">Please send all requests to exercise your privacy rights to: privacy@enrolledagent.com or 1-855-22-AGENT</p>
                 
                 
                  <h3 class="mt-20">Opting Out</h3>
                  <p class="mt-20">
                    As part of the member registration process, you will supply us with your postal address,
                     phone number and email address, and you will be asked to register to receive periodic communications from us or other reputable companies affiliated with us.
                      If you do not wish to receive such communications from us, you simply do not need to register or make the necessary selection. 
                    However, where you make such selection, you can:
                  </p>
                  <ol class="mt-20 ml-30">
                    <li>
                      Opt out of receiving future emailed messages by following the "unsubscribe" instructions at the bottom of any emailed message you receive from us.
                    </li>
                    <li>
                      Individuals who no longer maintain their EA license can request to have their names removed from our directory. These individuals who wish to be removed from the directory may do so by sending an email request using the form on the contact page found on this website, or by writing us directly (using the mailing address provided above). In your request, please state clearly that you no longer are licensed as of a certain date.
                    </li>
                    <li>
                      If you receive communications from us or third parties selected by us by regular mail, you can opt out of receiving future such communications by contacting us directly.
                    </li>
                  </ol>

                  
                  <h3 class="mt-20">Non-Personally Identifiable Information</h3>
                  <p class="mt-20">
                    EnrolledAgent.com LLC does collect and use some non-personally identifiable, generic information about our users as a mean of measuring the effectiveness of our website. 
                    Our servers identify certain user information in the normal course of operation, but such information does not reveal a user's identity.
                     We collect this information only in the aggregate and use it to evaluate and improve our website and to provide targeted information that may be of interest to users of our website.
                     The following are examples of non-personally identifiable generic information.
                  </p>

                  <h4 class="mt-20">
                    <em style="font-style: italic;">
                     Cookies
                    </em>
                  </h4>
                  <p class="mt-20">
                   Cookies are pieces of information that are used for record-keeping purposes. Cookies allow us to save certain information about a user, such as a password or individual. We will not use cookies to retrieve information from a user's computer other than that voluntarily supplied by the user. 
                  </p>
                  <h4 class="mt-20">
                    <em style="font-style: italic;">
                     Computer Settings
                    </em>
                  </h4>
                  <p class="mt-20">
                    Settings, technical and other information from your computer or other device, such as your operating system, browser version, connectivity, various communication parameters and other information related to the operation and interaction of EnrolledAgent.com may be collected by us. Except as otherwise provided in this statement, we will use such information solely in order to provide technically appropriate formatting of information provided by our website and access to it. The collection of this information will not include any personally identifiable information about you or any individual user.
                  </p>

                  <h3 class="mt-20">Information Provided by Children</h3>
                  <p class="mt-20">
                    Our website is not targeted at children and do not collect or use any personally identifiable data from children.
                  </p>
                  <h3 class="mt-20">Other Websites</h3>
                  <p class="mt-20">
                    We are committed to protecting user privacy and expects the same from all of our partners, co-sponsors, and suppliers. We, however, is not responsible for the content or the privacy practices of other websites, including websites reached through a link on our website. Other websites may have different privacy policies, or no policy. Users should review the privacy policies of any website before providing personal information to them.
                  </p>

                  <h3 class="mt-20">Contact us</h3>
                  <p class="mt-20">
                    EnrolledAgent.com LLC,<br/>
                    100 Church Street,<br/>
                    New York, <br/>
                    NY 10007.<br/>
                    USA<br/>
                  </p>
                  <p class="mt-20">
                    USA<br/>
                    Email: privacy@enrolledagent.com <br/>
                    Phone: 1-855-22-AGENT
                  </p>

                  <h3 class="mt-20">Versioning</h3>
                  <p class="mt-20">
                    We may change, modify, amend, or update this Privacy Notice occasionally. Whenever we effect these changes, we will notify you by posting a notice at the top of our Privacy Notice page on our website. You are advised to periodically visit our Privacy Notice to ensure that you are aware of any subsequent changes.
                  </p>
                  <p class="mt-20">
                    Privacy Notice v.1.0<br/>
                    March 21, 2021<br/>
                    Copyrights © 2021 EnrolledAgent.com LLC. All rights reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/main.js"></script>
  </body>
</html>
