<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="google-signin-client_id"
        content="741006543327-25ja66l3saja40lp120i7oii1020d5i4.apps.googleusercontent.com">
    <link href="/assets/files/favicon.png" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap" rel="stylesheet" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reset Password</title>
</head>

<body class="signup-body">
    <div class="login">
        <div class="login__card">
            <div class="login__card-left">
                <div class="login-left__banner">
                    <a href="/">
                        <img src="/assets/images/signup/banner-logo-white.png" alt="Enrolled agents banner"
                            class="login-left__banner-img" />
                    </a>
                </div>
                <div class="login-left__text">
                    <div class="login-left__text-head">Social Login</div>
                    <div class="login-left__text-main">Signup using your favorite social platform</div>
                </div>
                <div class="login-left__btns">
                    <div class="login-left__btns-btn">
                        <button class="signup__social--btn-facebook login-btn" onclick="facebookLogin()">
                            <span class="signup-btn-icon"><img src="/assets/images/signup/facebook.svg"
                                    class="signup-btn-img" height="14px" width="14px"
                                    alt="facebook logo" /></span>Facebook Login
                        </button>
                    </div>
                    <div class="login-left__btns-btn">
                        <!-- <div id="my-signin2"></div> -->
                        <button class="signup__social--btn-google login-btn" onclick="googleLogin()" id="my-signin2b">
                            <span class="signup-btn-icon"><img src="/assets/images/signup/google.svg"
                                    class="signup-btn-img" height="14px" width="14px"
                                    alt="Google plus logo" /></span>Google Login
                        </button>
                    </div>
                    <div class="login-left__btns-btn">
                        <button class="signup__social--btn-linkedin login-btn" onclick="linkedinLogin()">
                            <span class="signup-btn-icon"><img src="/assets/images/signup/linkedin.svg"
                                    class="signup-btn-img" height="14px" width="14px"
                                    alt="facebook logo" /></span>Linkedin Login
                        </button>
                    </div>
                </div>
                <!-- <div id="my-signin2"></div> -->
                <!-- <div class="g-signin2m" data-onsuccess="onSignIn" data-scope="https://www.googleapis.com/auth/plus.login"
          data-accesstype="offline" data-redirecturi="https://cb808aa1b6d6.ngrok.io/google/callback"></div>
        <div class="login-left__footer"> -->

                Need an account?
                <a href="/register" class="login-left__footer-link signup-link">Signup for free</a>
            </div>

            <div class="login__card-right">
                <div class="login-main">
                    <div class="login-main__head">
                        <div class="login-main__head-main">Reset Password</div>
                    </div>

                    <div class="login-main__text">
                        <div class="login-main__text-head">Enter your new password</div>
                        <form class="login-form__main signup-form" id='password-reset-form'>


                            <div class="signup-form__group">
                                <input type="password" id="password" class="login-form__input" placeholder="Password"
                                    onblur="validateNonEmpty('password')" />

                                <label for="password" class="signup-form__label">Password</label>
                                <span class="form-error" id="password-validator"></span>
                            </div>
                            <div class="signup-form__group">
                                <input type="password" id="confirm-password" class="login-form__input"
                                    placeholder="Confirm Password" onblur="validateNonEmpty('confirm-password')" />

                                <label for="password" class="signup-form__label">Password</label>
                                <span class="form-error" id="confirm-password-validator"></span>
                            </div>
                            <div class="signup-form__row">
                                <!-- <div class="signup-form__checkbox">
                                    <div class="signup-form__checkbox--group">
                                        <input type="checkbox" id="terms" class="signup-form__checkbox" />
                                        <label for="terms" class="signup-form__checkbox--label">Remember me.</label>
                                    </div>
                                </div> -->
                                <div class="signup-form__link">
                                    <a href="/login" class="signup-link">Back to Login</a>
                                </div>
                            </div>
                            <div class="login-form__btn">
                                <button class="login-form__submit signup-btn" type="button" id="reset-password-btn"
                                    onclick="validateResetForm()">
                                    Reset Password
                                </button>
                                <button id="reset-submit-btn" type="submit" style="display: none"></button>
                            </div>
                    </div>
                    </form>
                    <div class="login-right__footer">
                        Need an account?
                        <a href="/signup" class="login-left__footer-link signup-link">Signup for free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>

        function googleLogin() {
            window.location = 'google/callback'
        }
        function facebookLogin() {
            window.location = 'facebook/callback'
        }
        function linkedinLogin() {
            window.location = 'linkedin/callback'
        } 
    </script>

    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript" src="/js/signup-form-validator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
        integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
        crossorigin="anonymous"></script>

    <%- include("./partials/info.ejs") %>

        <script type="text/javascript" src="/javascripts/resetPassword.js"></script>

</body>

</html>
