<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>

  <body class="signup-body">
    <div class="signup">
      <div class="signup__head">
        <div class="signup__head--link">
          <a href="/" class="signup-link">Enrolled Agents</a>
        </div>
        <div class="signup__head--main">
          <div class="signup__head--main-head">Create an Account</div>
          <div class="signup__head--main-body">
            Are you an Enrolled Agent Looking to Advertise Your Practice for Free?
          </div>
        </div>
        <div class="signup__head--text">
          Claim your place in the nations largest directory of licensed and verified Enrolled
          Agents. Creating your free account allows you to find and claim your listing, update your
          contact details, and more. Your account provides you with free tools to help grow your
          practice, stay in compliance, and build your online reputation.
        </div>
      </div>
      <div class="signup__social signup-card">
        <div class="signup__social--head">Social Signup</div>
        <div class="signup__social--text">
          There is no need to provide any details when you sign up using your favorite social
          platform. Choose the social login you want to use and follow the prompts to sign up for an
          free account in just a few clicks.
        </div>
        <div class="signup__social--btns">
          <div>
            <button class="signup__social--btn-facebook signup-btn">
              <span
                ><img
                  src="/assets/images/signup/facebook.svg"
                  height="14px"
                  width="14px"
                  alt="facebook logo" /></span
              >Facebook Login
            </button>
          </div>
          <div>
            <button class="signup__social--btn-google signup-btn">
              <span
                ><img
                  src="/assets/images/signup/google.svg"
                  height="14px"
                  width="14px"
                  alt="Google plus logo" /></span
              >Google Login
            </button>
          </div>
          <div>
            <button class="signup__social--btn-linkedin signup-btn">
              <span
                ><img
                  src="/assets/images/signup/linkedin.svg"
                  height="14px"
                  width="14px"
                  alt="facebook logo" /></span
              >Linkedin Login
            </button>
          </div>
        </div>
      </div>
      <div class="signup__email signup-card">
        <div class="signup__email--head">Email Signup</div>
        <div class="signup__email--text">
          Sign up for a free EnrolledAgent.com account to claim your profile, update your listing,
          and get found by people looking for an Enrolled Agent just like you. Already have an
          account?
          <a href="/login" class="signup-link">Login to your account</a>
        </div>
        <form class="signup__email--form">
          <div class="signup-form">
            <div class="signup-form__row">
              <div class="signup-form__group">
                <input
                  type="text"
                  id="firstname"
                  class="signup-form__input"
                  placeholder="First Name"
                />
                <label for="firstname" class="signup-form__label"> First Name</label>
              </div>

              <div class="signup-form__group">
                <input
                  type="text"
                  id="lastname"
                  class="signup-form__input"
                  placeholder="Last Name"
                />
                <label for="lastname" class="signup-form__label"> Last Name</label>
              </div>
            </div>

            <div class="signup-form__row">
              <div class="signup-form__group">
                <input
                  type="email"
                  id="email"
                  class="signup-form__input"
                  placeholder="Email Address"
                />
                <label for="lastname" class="signup-form__label"> Email Address</label>
              </div>
              <div class="signup-form__group"></div>
            </div>

            <div class="signup-form__row">
              <div class="signup-form__group">
                <input
                  type="password"
                  id="password"
                  class="signup-form__input"
                  placeholder="Password"
                />
                <label for="password" class="signup-form__label"> Password</label>
              </div>

              <div class="signup-form__group">
                <input
                  type="password"
                  id="confirmPassword"
                  class="signup-form__input"
                  placeholder="Confirm Password"
                />
                <label for="confirmPasword" class="signup-form__label"> Confirm Password</label>
              </div>
            </div>
            <div class="signup-form__agreement">
              <div class="signup-form__checkbox">
                <div class="signup-form__checkbox--group">
                  <input type="checkbox" id="terms" class="signup-form__checkbox" />
                  <label for="terms" class="signup-form__checkbox--label"
                    >I agree to the terms of use and privacy policy.</label
                  >
                </div>
                <div class="signup-form__checkbox--group">
                  <input type="checkbox" id="newsletter" class="signup-form__checkbox" checked />
                  <label for="newsletter" class="signup-form__checkbox--label"
                    >Subscribe to our newsletter</label
                  >
                </div>
              </div>
              <button class="signup-form__submit signup-btn" type="submit">
                Create a Free Account
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- <p class="login" class="login" id="login">My first paragraph.again</p>
    <button class="btn">click</button>
    <img src="/assets/endsars.jpeg" /> -->

    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
