<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="/assets/files/favicon.png"
      rel="shortcut icon"
      type="image/png"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Register | Enrolled Agents</title>
  </head>

  <body class="signup-body">
    <div class="signup__header">
      <img
        src="/assets/images/signup/banner-logo-white.png"
        alt="logo"
        class="signup__header--img"
        height="50"
      />
    </div>
    <div class="signup">
      <div class="signup__head">
        <div class="signup__head--link">
          <a href="/" class="signup-link">Enrolled Agents</a>
        </div>
        <div class="signup__head--main">
          <div class="signup__head--main-head">Create an Account</div>
          <div class="signup__head--main-body">
           Do you desire to showcase your expertise as an Enrolled Agent for free?

          </div>
        </div>
        <div class="signup__head--text">
 Secure your place in the nation’s largest directory of licensed Enrolled Agents. Creating a free account Secure your place in the nation’s largest directory of licensed Enrolled Agents. Creating a free account affords you the ability to: claim your listing; update your contact details, etc. You also get to access free tools that will aid you expand your practice, stay in compliance, and build your online reputation.
        </div>
      </div>
      <div class="signup__social signup-card">
        <div class="signup__social--head">Social Signup</div>
        <div class="signup__social--text">
         You can sign up for free using your favourite social platform.
        </div>
        <div class="signup__social--btns">
          <div class="signup__social--btn">
            <button
              class="signup__social--btn-facebook signup-btn"
              onclick="facebookLogin()"
            >
              <span class="signup-btn-icon"
                ><img
                  src="/assets/images/signup/facebook.svg"
                  class="signup-btn-img"
                  alt="facebook logo" /></span
              >Facebook Login
            </button>
          </div>
          <div class="signup__social--btn">
            <button
              class="signup__social--btn-google signup-btn"
              onclick="googleLogin()"
            >
              <span class="signup-btn-icon"
                ><img
                  src="/assets/images/signup/google.svg"
                  class="signup-btn-img"
                  alt="Google plus logo" /></span
              >Google Login
            </button>
          </div>
          <div class="signup__social--btn">
            <button
              class="signup__social--btn-linkedin signup-btn"
              onclick="linkedinLogin()"
            >
              <span class="signup-btn-icon"
                ><img
                  src="/assets/images/signup/linkedin.svg"
                  class="signup-btn-img"
                  alt="facebook logo" /></span
              >Linkedin Login
            </button>
          </div>
        </div>
      </div>
      <div class="signup__email signup-card">
        <div class="signup__email--head">Email Signup</div>
        <div class="signup__email--text">
          Sign up for a free EnrolledAgent.com account to claim your profile,
          update your listing, and get found by people looking for an Enrolled
          Agent just like you. Already have an account?
          <a href="/login" class="signup-link">Login to your account</a>
        </div>
        <form class="signup__email--form" id="signup-form">
          <div class="signup-form">
            <div class="signup-form__row">
              <div class="signup-form__group">
                <span class="form-error" id="firstname-validator"></span>
                <input
                  type="text"
                  id="firstname"
                  class="signup-form__input"
                  onblur="validateNonEmpty('firstname')"
                  placeholder="First Name"
                />
                <label for="firstname" class="signup-form__label">
                  First Name</label
                >
              </div>

              <div class="signup-form__group">
                <span class="form-error" id="lastname-validator"></span>
                <input
                  type="text"
                  id="lastname"
                  class="signup-form__input"
                  onblur="validateNonEmpty('lastname')"
                  placeholder="Last Name"
                />
                <label for="lastname" class="signup-form__label">
                  Last Name</label
                >
              </div>
            </div>

            <div class="signup-form__row">
              <div class="signup-form__group special">
                <span class="form-error" id="email-validator"></span>
                <input
                  type="email"
                  id="email"
                  class="signup-form__input"
                  onblur="validateEmail('email')"
                  placeholder="Email Address"
                />
                <label for="lastname" class="signup-form__label">
                  Email Address</label
                >
              </div>
              <div class="signup-form__group"></div>
            </div>

            <div class="signup-form__row">
              <div class="signup-form__group">
                <span class="form-error" id="password-validator"></span>
                <input
                  type="password"
                  id="password"
                  class="signup-form__input"
                  placeholder="Password"
                  onblur="validateNonEmpty('password')"
                />
                <label for="password" class="signup-form__label">
                  Password</label
                >
              </div>

              <div class="signup-form__group">
                <span class="form-error" id="confirmPassword-validator"></span>
                <input
                  type="password"
                  id="confirmPassword"
                  class="signup-form__input"
                  placeholder="Confirm Password"
                  onblur="validateConfirmPassword('confirmPassword')"
                />
                <label for="confirmPassword" class="signup-form__label">
                  Confirm Password</label
                >
              </div>
            </div>
            <div class="signup-form__agreement">
              <div class="signup-form__checkboxs">
                <div class="signup-form__checkbox--group">
                  <input
                    type="checkbox"
                    id="terms"
                    class="signup-form__checkbox"
                  />
                  <label for="terms" class="signup-form__checkbox--label"
                    >I agree to the terms of use and privacy policy.</label
                  >
                </div>
                <div class="signup-form__checkbox--group">
                  <input
                    type="checkbox"
                    id="newsletter"
                    class="signup-form__checkbox"
                    checked
                  />
                  <label for="newsletter" class="signup-form__checkbox--label"
                    >Subscribe to our newsletter</label
                  >
                </div>
              </div>
              <button
                class="signup-form__submit signup-btn"
                type="submit"
                id="signup-btn"
                onclick="validateSignupForm()"
              >
                Create a Free Account
              </button>
              <input id="signup-submit-btn" style="display: none"></input>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script type="text/javascript" src="/js/signup-form-validator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"
      integrity="sha512-nqIFZC8560+CqHgXKez61MI0f9XSTKLkm0zFVm/99Wt0jSTZ7yeeYwbzyl0SGn/s8Mulbdw+ScCG41hmO2+FKw=="
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="/javascripts/signup.js"></script>
    <script>
      function googleLogin() {
        window.location = "google/callback";
      }
      function facebookLogin() {
        window.location = "facebook/callback";
      }
      function linkedinLogin() {
        window.location = "linkedin/callback";
      }
    </script>
          <%- include("./partials/info.ejs") %>

  </body>
</html>
