<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>
  

  <body id="tax">
      <%- include("./partials/header.ejs") %>
<!-- tax page starts -->
<div class="top-header">
    <h1>Tax</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, earum.</p>
</div>
<!-- section 2 begins -->
<div id="card-section" class="container">
  <div class="row">
    <!-- card-1 -->
    <div class="cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/tax-img-holder-2.jpg" alt="broken">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat.
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>

    <!-- card-2 -->
    <div class="cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/coin-stack.jpg" alt="img">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat .
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>

    <!-- card-3 -->
    <div class=" cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/tax-img-holder-2.jpg" alt="img">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat.
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>

    <!-- card -4 -->

    <div class="cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/tax-img-4.jpg" alt="img">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat.
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>

    <!-- card-5 -->
    <div class="cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/tax-img-5.jpg" alt="img">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat.
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>

    <!-- card-6 -->
    <div class="cards col-md-6 ">
      <div class='card-image-div'>
      <img src="/assets/files/coin-stack.jpg" alt="img">
      </div>
      <h3>
        Excepteur sint occaecat cupidatat.
      </h3>
      <small>Sponsored By: Sed ut Perspiciatis</small>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem.</p>
      <a href="#" class="btn btn-lg b-ton">View Details <span>></span></a>
    </div>
    <!-- end of row -->
  </div>
  <div class="pagination text-center">
    <div class="pagination__left"><a href="#"><</a></div>
    <div class="pagination__right"><a href="#">></a></div>
  </div>
</div>

<!-- end of card section -->

<!-- popular cities section -->
<section id="cities-section">
  <div class="container">
    <h2 >Popular Cities</h2>
    <p>Find an EA in one of our most requested areas.</p>
    <div class="row city-group">
      <div class="col-md-3 col-sm-6 city-row">
        <a href="#">Albany</a>
        <a href="#">Asheville</a>
        <a href="#">Atlanta</a>
        <a href="#">Austin</a>
        <a href="#">Baltimore</a>
        <a href="#">Birmingham</a>
        <a href="#">Boston</a>
        <a href="#">Charlotte</a>
        <a href="#">Chicago</a>
        <a href="#">Cincinnati </a>
        <a href="#">Cleveland</a>
        <a href="#">Columbus</a>
        <a href="#">Dallas</a>
        <a href="#">Denver</a>
        <a href="#">Detroit</a>
        <a href="#">El Paso</a>
      </div>
      <div class="col-md-3 col-sm-6 city-row">
        <a href="#">Fort Lauderdale</a>
        <a href="#">Fort Worth</a>
        <a href="#">Fresno</a>
        <a href="#">Grand Rapids</a>
        <a href="#">Greensboro</a>
        <a href="#">Harrisburg</a>
        <a href="#">Hartford</a>
        <a href="#">Houston</a>
        <a href="#">Indianapolis</a>
        <a href="#">Jacksonville</a>
        <a href="#">Kansas City</a>
        <a href="#">Las Vegas</a>
        <a href="#">Long Beach</a>
        <a href="#">Los Angeles</a>
        <a href="#">Louisville</a>
        <a href="#">Madison</a>
      </div>
      <div class="col-md-3 col-sm-6 city-row ">
        <a href="#">Memphis</a>
        <a href="#">Miami</a>
        <a href="#">Milwaukee</a>
        <a href="#">Minneapolis</a>
        <a href="#">Modesto</a>
        <a href="#">Nashville</a>
        <a href="#">New Orleans</a>
        <a href="#">New York</a>
        <a href="#">Norfolk</a>
        <a href="#">Oklahoma City</a>
        <a href="#">Orlando</a>
        <a href="#">Philadelphia</a>
        <a href="#">Phoenix</a>
        <a href="#">Pittsburgh</a>
        <a href="#">Portland</a>
        <a href="#">Providence</a>
      </div>
      <div class="col-md-3 col-sm-6 city-row">
        <a href="#">Raleigh</a>
        <a href="#">Richmond</a>
        <a href="#">Sacramento</a>
        <a href="#">Saint Louis</a>
        <a href="#">Saint Paul</a>
        <a href="#">Salem</a>
        <a href="#">Salt Lake City</a>
        <a href="#">San Antonio</a>
        <a href="#">San Diego</a>
        <a href="#">San Francisco</a>
        <a href="#">San Jose</a>
        <a href="#">Seattle</a>
        <a href="#">Tampa</a>
        <a href="#">Tucson</a>
        <a href="#">Virginia Beach</a>
        <a href="#">Washington DC</a>
      </div>
    </div>
    <div class="row text-center">
      <a href="#" class="cities-link">Find More Local EAs <span>></span></a>
    </div>
  </div>
</section>

<!-- form section -->

<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-md-5 form-div1">
        <h2>Request a call Back</h2>
        <p>
          Please fill out the form and press the submit button. We will get back to you with
          1-2 business days
        </p>
      </div>
      <form class="col-md-7 form-div2">
        <div class="row input-1">
          <div class="col-md-6 form-div2-formgroup ">
            <input type="text" placeholder="Full Name*" required />
          </div>
          <div class="col-md-6 form-div2-formgroup">
            <input type="email" placeholder="Email*" required />
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 form-div2-formgroup ">
            <input type="text" placeholder="Subject*" required />
          </div>
          <div class="col-md-6 form-div2-formgroup">
            <input type="tel" placeholder="Phone Number" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-div2-formtextarea">
            <textarea placeholder="Message*"></textarea>
          </div>
        </div>
        <button class="btn b-ton " type="submit">Submit Now <span>></span></button>
      </form>
    </div>
  </div>
</section>




      <!-- footer section -->
      <%- include("./partials/footer.ejs") %>
    </div>
    </body>
  </html>
