<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    ol,
    li {
      list-style-type: decimal !important;
    }
    li {
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section
          class="inner-header divider layer-overlay overlay-dark-4 terms_jumbotron"
        >
          <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-theme-colored2 font-36">
                    Terms and Conditions
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col private-terms">
                  <p class="mt-20">
                    These Terms of Use (this “TOU”) cover your use of EnrolledAgent.com,
                     either personally or on behalf of another person or entity. 
                     By using EnrolledAgent.com and any other Service, or expressly clicking on an “I Agree” icon,
                      you accept the terms and conditions below. 
                      You agree that such acceptance will have the same force of law as if you manually signed a paper version of this TOU.
                      Therefore, please carefully read the terms below as you are responsible for any violations of them. 
                      We will enforce compliance with this TOU through any appropriate means.
                  </p>
                  <p class="mt-20">
                    We may amend this TOU at any time without giving 
                    you prior notice. Any amendments will be posted on our website. 
                    t giving you prior notice. Any amendments will be posted on our website. 
                    It is your responsibility to review this TOU regularly and ensure compliance at all times.
                  </p>

                  <h3 class="mt-20">1. Definitions</h3>
                  <p class="mt-20">
                    “Agreement” means this TOU as may be amended periodically, and all materials referred or linked to in this TOU.
                    </p>
                    <p class="mt-20">

                      “Client” means the individual or entity that uses the Service of an Enrolled Agent
                    </p>
                    <p class="mt-20">

                      “Content” means all information, data, text, software, music, sound, photographs, graphics, video, reviews, messages, or other materials whether publicly posted on or privately transmitted through EnrolledAgent.com
                    </p>
                    <p class="mt-20">

                      “Enrolled Agent” means a tax professional who is licensed by the IRS to represent a Client before the IRS and who is listed on EnrolledAgent.com
                    </p>
                    <p class="mt-20">

                      “EnrolledAgent.com”, “EA.com”, “we”, “us” or “our” means EnrolledAgent.Com, LLC and our affiliates.
                    </p>
                    <p class="mt-20">

                      “IRS” means the Internal Revenue Service
                    </p>

                    <p class="mt-20">

                      “Personal Data” means credit or debit card numbers; bank and other financial account details; social security numbers, individual taxpayer identification numbers, employer identification numbers, or other Federal tax identification numbers; personal identity information, including passport numbers, driver’s license numbers, alien registration numbers or similar identifiers; employment, financial or health information; and any other information regulated by law, industry standards, or other data privacy regulations, such as the Health Insurance Portability and Accountability Act and the Payment Card Industry Data Security Standards
                    </p>
                    <p class="mt-20">

                      “Services” means this website and products, services, or applications that we offer on this website including the “Ask an ENROLLED AGENT” program; or other products, services, templates, resources, or applications that are listed on our website but offered by Enrolled Agents or Third-Party Sites
                    </p>
                    <p class="mt-20">

                      “Third-Party Sites” means third-party websites other than websites of Enrolled Agents, linked from within, accessed through, or advertised on EnrolledAgent.com
                    </p>
                    <p class="mt-20">

                      “You” or “your” means the person or entity using EnrolledAgent.com, whether you are a Client, Enrolled Agent, third party, or user.
                    </p>
                    <p class="mt-20">

                      “Your Content” means all Content publicly posted on, or privately transmitted through EnrolledAgent.com, by you.
                    </p>


                  <h3 class="mt-20">2. Access to EnrolledAgent.com</h3>
                  <h4 class="mt-20 bold">General </h4>
                  <p class="mt-20">
                    We will provide you access to EnrolledAgent.com for free according to this Agreement. However, you may access certain parts of our website only if you are an Enrolled Agent or a Client. Subject to your compliance with the terms and conditions in this Agreement, you may use our Services only for your non-commercial, informational purposes and for other purposes (and subject to applicable limitations) provided in this Agreement.
                  </p>
                  <p class="mt-20">
                    By accessing the Services, you represent and warrant that you are of legal age and competence to enter into a binding agreement with EnrolledAgent.com and any Enrolled Agent (if applicable), and that you are not otherwise prohibited from using or receiving the Services in accordance with this Agreement. If you are using the Services on behalf of a third party, you are representing to us that you are an authorized representative of that third party and that your use constitutes their acceptance of this Agreement. By creating an account or using the Services, you are deemed to have opted-in to tracking, collection, use, and sharing permitted under our Privacy Policy.
                  </p>
                  <p class="mt-20">
                    We may restrict or completely prevent your access to our website or other Services at any time, without notice, in our discretion. We may also remove or discontinue all or a portion of our website including Enrolled Agents and other third parties at any time, without notice, in our discretion.
                  </p>
                  <p class="mt-20">
                    We do not have control over Third-Party Sites and any Services offered by or through Third-Party Sites. We provide you access to Third-Party Sites only as a convenience. We do not endorse, support, guarantee, or warrant any Third-Party Site. We will not be responsible for enforcing licensing requirements, checking for licenses, and monitoring trademarks and other intellectual party rights. We will not also be a party to any transaction between you and an Enrolled Agent or other third party.
                  </p>

                  <h4 class="mt-20 bold">For Enrolled Agents </h4>
                  <p class="mt-20">
                    If you are an Enrolled Agent, our Services may allow you to, among other things, list your Services and advertise to potential Clients. While we do not charge Enrolled Agents listed on our website a referral fee, we may give Enrolled Agents with premium accounts, sponsored listings, or other advertisements priority in display over unpaid listings. We can choose which Enrolled Agents or Services to promote and how we want to promote them, if at all.
                  </p>
                  <p class="mt-20">
                    You may be required to complete your profile on our website using a username and a password. You agree not to use a username that: (a) belongs to or impersonates another person, (b) is misleading, (c) violates any intellectual property or other proprietary rights, (d) is offensive or vulgar, (e) that uses ‘Enrolled Agent’ or any part of it, unless we provide express permission to do so, or (f) that we reject, which we may choose to do in our discretion. You must also provide only accurate information on your profile. We may update your information with any other information available to us. All such Personal Data, as well as the information you provided to register, is subject to our Privacy Policy, incorporated into this Agreement.
                  </p>
                  <p class="mt-20">
                    You are responsible for maintaining the confidentiality of the password and account and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify EnrolledAgent.com of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. You may not disclose or share your password to any third parties or use your password for any unauthorized purpose. If you believe your access to or use of our website has been compromised, or that an unauthorized person has access to your profile, please send us a notice in writing. EnrolledAgent.com is not liable for any loss or damage arising from your failure to comply with this paragraph.
                  </p>
                  <p class="mt-20">
                   You agree that we may conduct all our business and provide all our Services electronically. We will charge your credit or debit card for amounts you incur in purchasing our Services. As permitted by our Privacy Policy, we will also save your credit or debit card information and use it for all future charges, which will be automatically charged to your saved card unless you notify us. Your right to cancel any recurring charges will be provided in the terms of the applicable Service. We are not responsible for any fees or charges your bank or credit card issuer may apply.
                  </p>
                  <p class="mt-20">
                   You give us unlimited consent to send you emails relating to your account, site services, offers, and promotions, including Client reviews and inquiries and third-party offers. You may change your email preferences at any time in your account settings. You give us unlimited consent to record any responses and ratings you make or receive in connection with your use of our Services.
                  </p>
                  <p class="mt-20">
                   We may permit you to store your Personal Data, preferences, Content, or other information for your convenience, but we are not under any obligation to retain any of your stored information. 
                 </p>

                 <h4 class="mt-20 bold">For Clients</h4>
                 <p class="mt-20">
                  If you are a Client, we may provide you with a list of Enrolled Agents in your geographic area. We strongly recommend that you interview more than one Enrolled Agent before making a final decision. Enrolled Agents whose professional information we provide to you are independent from EnrolledAgent.com. Although we state on our website that all Enrolled Agents listed have been appraised to ensure accurate profile and licensure, we are not affiliated to, and we do not endorse, guarantee, support or warrant, any Enrolled Agent, or their Services.
                 </p>
                 <p class="mt-20">
                  If you choose to engage an Enrolled Agent or use any of an Enrolled Agent’s Services advertised on our website, the terms and conditions regarding your use or receipt of the Services are between you and the Enrolled Agent you have engaged with. We are not responsible for any questions, concerns or disputes that arise based on your use of an Enrolled Agent’s Services. The Enrolled Agents may use or transfer your Personal Data outside our website, and we are not responsible for such transfer. You engage with, and use an Enrolled Agent or any Third-Party Site, at your sole risk.
                </p>
                  

                <h3 class="mt-20">3. Content</h3>
                  <h4 class="mt-20 bold">General </h4>
                  <p class="mt-20">
                    We do not have, and will not seek to establish, control over any Content, its accuracy, integrity, or quality. By using the Service, you may be exposed to Content that is offensive, indecent, objectionable, or misleading. You release us from any and all liability arising from Content that is offensive, indecent, objectionable, harmful, misleading, or inaccurate. 
                  </p>
                  <p class="mt-20">
                    We assume no responsibility for viruses, errors, or omissions in any Content. We also assume no responsibility for the timeliness, deletion, non-delivery, mis-delivery, or failure to store your or any third-party’s Content or personalization settings. We will not be liable for any loss or damage of any kind incurred as a result of the use of any Content.
                  </p>

                  <h4 class="mt-20 bold">Your Content </h4>
                  <p class="mt-20">
                    Some of the Services allow you to submit or generate content, learn about Enrolled Agents, their Services, and submit reviews. You agree to comply with this Agreement in submitting or generating Your Content. Specifically, you agree not to use EnrolledAgent.com with Content that:
                  </p>

                  <p class="mt-20 ml-10" >
                    a. is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, or obscene.
                  </p>
                  <p class="mt-20 ml-10" >
                    b. stalks another, is invasive of another's privacy, or otherwise violates another person’s legal rights.
                  </p>
                  <p class="mt-20 ml-10" >
                    c. is hateful, or racially, ethnically or otherwise objectionable.
                  </p>
                  <p class="mt-20 ml-10" >
                    d. is confidential, proprietary or discloses Personal Data.
                  </p>
                  <p class="mt-20 ml-10" >
                    e. infringes any intellectual property, patent, trademark, trade secret, copyright or other proprietary rights of any party.
                  </p>
                  <p class="mt-20 ml-10" >
                    f. you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements).
                  </p>
                  <p class="mt-20 ml-10" >
                    g. harms minors in any way.
                  </p>
                  <p class="mt-20 ml-10" >
                    h. impersonates any person or entity, including, an EnrolledAgent.com official, forum leader, guide, or host.
                  </p>
                  <p class="mt-20 ml-10" >
                    i. falsely states or otherwise misrepresents your affiliation with a person or entity.
                  </p>
                  <p class="mt-20 ml-10" >
                    j. contains viruses, corrupted files, or any other similar software or programs that may damage the operation of another person's computer or telecommunications equipment.
                  </p>
                  <p class="mt-20 ml-10" >
                    k. damages, disables, overburdens, or impairs our website.
                  </p>
                  <p class="mt-20 ml-10" >
                    l. interferes with, restricts, or inhibits use of the Services and our website by another person.
                  </p>
                  <p class="mt-20 ml-10" >
                    m. harvests or otherwise collects Personal Data about others, including e-mail addresses, without their consent.
                  </p>
                  <p class="mt-20 ml-10" >
                    n. contains unsolicited or unauthorized advertising, promotional materials, "junk mail", "spam", "chain letters", "pyramid schemes" or any other form of solicitation, except in those areas of our website that are designated for such purpose; and/or
                  </p>
                  <p class="mt-20 ml-10" >
                    o. violates any applicable law or regulation.
                  </p>
                  <p class="mt-20" >
                    You grant us all rights, licenses, and permissions necessary to display, reproduce, disseminate, and otherwise use Your Content. We may edit or remove Your Content at any time in our sole discretion.
                  </p>

                  <h4 class="mt-20 bold">Proprietary Rights</h4>
                  <p class="mt-20">
                    We do not grant you license to any software by this Agreement. Our products and trademarks are protected by intellectual property laws, they belong to us, and we retain all ownership rights to them. You may not use any of our trademarks without our prior written permission.
                  </p>
                  <p class="mt-20">
                    We request that you respect our intellectual property rights and those of others. We may, in our sole discretion, suspend the access or terminate your account or access if we deem that you have violated our or another’s intellectual property rights. If you believe that your work has been reproduced on our website in a way that infringes your copyright, please send us a notice, with the following information:
                  </p>

                  <p class="mt-20 ml-10" >
                    a. identification of the copyrighted work claimed to have been infringed.
                  </p>
                  <p class="mt-20 ml-10" >
                    b. identification of the material that is claimed to be infringing or to be the subject of infringing activity and that should be removed or have restricted access to it, and reasonably sufficient information to enable us to locate the material.
                  </p>
                  <p class="mt-20 ml-10" >
                    c. information reasonably sufficient to enable us to contact you, such as your name, address, telephone number, and e-mail address.
                  </p>
                  <p class="mt-20 ml-10" >
                    d. a statement of good faith belief that the material is infringing.
                  </p>
                  <p class="mt-20 ml-10" >
                    e. a statement that the information in this notice is accurate, and under penalty of perjury, you are the copyright owner or are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                  </p>
                  <p class="mt-20 ml-10" >
                    f. an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest.
                  </p>

                  <p class="mt-20">
                    If we find that you repeatedly infringe the copyright of others, we may terminate access to any of the Services.
                  </p>
                  <p class="mt-20">
                    If you believe the content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use such content, you may submit a counter-notice to us with the following information:
                  </p>
                  <p class="mt-20 ml-10" >
                    a. Your physical or electronic signature.
                  </p>
                  <p class="mt-20 ml-10" >
                    b. Identification of the content that has been removed or to which access has been disabled and the location at which the content appeared before it was removed or disabled.
                  </p>
                  <p class="mt-20 ml-10" >
                    c. A statement that you have a good faith belief that the content was removed or disabled as a result of mistake or a misidentification of the content.
                  </p>
                  <p class="mt-20 ml-10" >
                    d. Your name, physical address, telephone number, and e-mail address; and
                  </p>
                  <p class="mt-20 ml-10" >
                    e. a statement that you consent to the jurisdiction of the federal court in Dallas, Texas, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.
                  </p>

                  <p class="mt-20">
                    After we receive your counter-notification, we will forward it to the party who submitted the original claim of copyright infringement. Please note that when we forward the counter-notification, it includes your personal information. By submitting a counter-notification, you consent to having your information revealed in this way. We will not forward the counter-notification to any party other than the original claimant.
                  </p>
                  <p class="mt-20">
                    After we send out the counter-notification, the claimant must then notify us within 10 days that he or she has filed an action seeking a court order to restrain you from engaging in infringing activity relating to the content that was removed or disabled. If we receive such notification, we will be unable to restore the material. If we do not receive such notification, we may reinstate the material.
                  </p>


                  <h3 class="mt-20">4. Termination</h3>
                  <p class="mt-20">
                    You may stop using our Services at any time unless you agree to use any particular Service on a subscription basis. We may terminate your access to the Services if we reasonably believe that you have: (a) violated any of the terms of this Agreement; and (b) used our website in a way that may adversely affect us, our prospects, our partners, or our users. We may also terminate or suspend your access immediately if we determine it to be necessary or desirable in our sole discretion. We are not obligated to release any of Your Content to you after termination.
                  </p>
                  <h3 class="mt-20">5. Disclaimers; Limitations of Liability</h3>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">Disclaimer of Warranties</em></h4>
                  <p class="mt-20">
                    WE PROVIDE OUR SERVICES ON “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT WARRANTY OR CONDITION OF ANY KIND. WE MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, SECURITY OR ACCURACY OF OUR PRODUCTS OR SERVICES, OUR WEBSITE, OR THE ENROLLED AGENTS’ CONTENT FOR ANY PURPOSE. APPLICATION PROGRAMMING INTERFACES (APIs) MAY NOT BE AVAILABLE AT ALL TIMES. WE DISCLAIM ALL WARRANTIES AND CONDITIONS OF ANY KIND WITH REGARD TO ENROLLEDAGENT.COM, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.  OUR WEBSITE AND OTHER SOFTWARE MAY INCLUDE INACCURACIES OR TYPOGRAPHIC ERRORS. WE WILL HAVE NO LIABILITY FOR ANY: (A) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT; (b) PERSONAL INJURY OR PROPERTY DAMAGE RESULTING FROM YOUR ACCESS TO OR USE OF THE WEBSITE OR SERVICES; (c) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS OR OF ANY PERSONAL DATA; (d) ANY INTERRUPTION OF TRANSMISSION TO OR FROM OUR WEBSITE OR SERVICES; (e) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED ON OR THROUGH THE SITE OR SERVICES BY ANY THIRD PARTY; OR (f) ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED OR SHARED THROUGH OUR WEBSITE OR SERVICES.
                  </p>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">Exclusion of Damages</em></h4>
                  <p class="mt-20">
                    ENROLLEDAGENT.COM WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, PUNITIVE OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES RELATING TO LOST PROFITS, LOST DATA OR LOSS OF GOODWILL) ARISING OUT OF, RELATING TO OR CONNECTED WITH THE USE OF THE SERVICES, REGARDLESS OF THE CAUSE OF ACTION ON WHICH THEY ARE BASED, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OCCURRING, INCLUDING WITHOUT LIMITATION, THE COST OF ANY GOODS OR SERVICES WHICH MAY BE PURCHASED OR OBTAINED AS A RESULT OF USING THE SERVICES.
                  </p>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">Limitation of Liability</em></h4>
                  <p class="mt-20">
                    IF, NOTWITHSTANDING THE TERMS OF THIS AGREEMENT, WE ARE DETERMINED TO HAVE ANY LIABILITY TO YOU OR ANY THIRD PARTY, YOU AGREE THAT OUR AGGREGATE LIABILITY WILL BE LIMITED TO THE GREATER OF: (A) THE AMOUNT THAT YOU PAID ENROLLEDAGENT.COM, WITHIN THE LAST SIX MONTHS PRECEDING YOUR CLAIM FOR DAMAGES, FOR YOUR USE OF THE SERVICES; OR (B) $200.
                  </p>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">State Law Rights</em></h4>
                  <p class="mt-20">
                    CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. AS SUCH, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. UNLESS LIMITED OR MODIFIED BY APPLICABLE LAW, THE FOREGOING DISCLAIMERS, EXCLUSIONS AND LIMITATIONS APPLY, EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
                  </p>
                  <p class="mt-20">
                    YOU UNDERSTAND AND AGREE THAT ABSENT YOUR AGREEMENT TO THIS DISCLAIMERS AND LIMITATIONS OF LIABILITY PROVISION, WE WOULD NOT PROVIDE ENROLLEDAGENT.COM AND ANY OF THE SERVICES TO YOU.
                  </p>


                  <h3 class="mt-20">6. Indemnification</h3>
                  <p class="mt-20">
                    You agree to indemnify, defend and hold us, our employees, representatives, licensors, attorneys, affiliates, directors, and partners harmless, at your expense, against any third-party claim, suit, action, or proceeding (each, a "Claim") brought against us to the extent that such Claim is based upon or arises out of: (a) your use of our website or any of our software, (b) your noncompliance with or breach of this Agreement, or (c) your use, offer or provision of Services or Third-Party Sites. We will notify you in writing within thirty (30) days of our becoming aware of any such Claim. If you are obligated to indemnify us pursuant to this provision, we may in our sole discretion, control the disposition of any Claim at your sole cost and expense. If we decide to give you sole control of the defense or settlement of such a claim, we will provide you (at your expense) with any and all information and assistance reasonably requested by you to handle the defense or settlement of the claim. However, you shall not accept any settlement that (a) imposes an obligation on us, (b) requires us to make an admission, or (c) imposes liability not covered by these indemnifications or places restrictions on us without our prior written consent.
                  </p>

                  <h3 class="mt-20">7. Miscellany</h3>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">Governing Law and Dispute Resolution</em></h4>
                  <p class="mt-20">
                    The laws of the State of New York shall govern this Agreement, without regard to the conflict of laws provisions thereof. 
                  </p>
                  <p class="mt-20">
                    All disputes, differences, controversies, or claims arising out of or relating to this Agreement, including, but not limited to, any question regarding its existence, validity, or termination, shall be finally and solely determined and settled by arbitration in New York, New York in accordance with the Commercial Arbitration Rules of the American Arbitration Association, which rules are deemed to be incorporated by reference into this Section. The arbitration shall be conducted by a sole arbitrator. The language of all arbitration proceedings shall be English. The arbitral award shall state the reasons upon which the award is based. Judgment upon any arbitral award may be entered and enforced in any court of competent jurisdiction.
                  </p>

                  <h4 class="mt-20 bold"><em style="font-style: italic;">Our Relationship</em></h4>
                  <p class="mt-20">
                    You agree that no joint venture, partnership, employment, franchiser-franchisee, or agency relationship exists between you and us as a result of this Agreement.
                  </p>

                  <h4 class="mt-20 bold"><em style="font-style: italic;">Compliance with Applicable Laws</em></h4>
                  <p class="mt-20">
                    You shall comply with all applicable foreign and domestic laws, governmental regulations, ordinances, and judicial administrative orders, as well as the sanctions programs administered by the Office of Foreign Assets Control of the US Department of Treasury. You agree to comply with export laws and regulations, and any other relevant local export laws and regulations that may apply to Enrolled Agents, Third Party Sites, and the Services.
                  </p>

                  <h4 class="mt-20 bold"><em style="font-style: italic;">Severability, Non-Waiver, Entire Agreement, Force Majeure</em></h4>
                  <p class="mt-20">
                    If any provision of this Agreement is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced. 
                  </p>
                  <p class="mt-20">
                    Our failure to act with respect to a breach by you or others does not waive our right to act with respect to subsequent or similar breaches.
                  </p>
                  <p class="mt-20">
                    You agree that this is the complete and exclusive agreement between us, and this Agreement supersedes any proposal or prior agreement whether oral or written, and any other communication between us relating to the subject matter of this Agreement. We object to and reject any additional or different terms proposed by you, including those contained in your purchase order, acceptance, or website.
                  </p>
                  <p class="mt-20">
                    We will not be liable for failing to perform under this Agreement because of any event beyond our reasonable control.
                  </p>

                  <h4 class="mt-20 bold"><em style="font-style: italic;">Limitation of Actions</em></h4>
                  <p class="mt-20">
                    Regardless of any statute or law to the contrary, any claim or cause of action you may have arising out of, relating to, or connected with your use of the Services, must be filed within one calendar year after such claim or cause of action arises, or forever be barred.
                  </p>
                  <h4 class="mt-20 bold"><em style="font-style: italic;">Notices</em></h4>
                  <p class="mt-20">
                    Notice will be sent to the contact address set forth herein (as such may be changed by notice given to the other party) and will be deemed delivered as of the date of actual receipt.
                  </p>
                  <p class="mt-20">
                    To EnrolledAgent.com: 100 Church St, New York, NY 10007
                  </p>
                  <p class="mt-20">
                    To you: your address as provided in our account information for you.  We may give electronic notices specific to you by email to your e-mail address(es) on record in our account information for you. We may give notice to you by telephone calls to the telephone numbers on record in our account information for you.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/main.js"></script>
  </body>
</html>
