<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    ol, li {
      list-style-type: decimal!important;
    }
    li {
      margin-top: 10px;
    }
  </style>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider layer-overlay overlay-dark-4 about_jumbotron">
          <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-theme-colored2 font-36">Terms and Conditions</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col">
                  <p>Before using this service, you should carefully read the following terms 
                    and conditions. Information on this site is provided for informational purposes 
                    and is not meant to substitute for the advice provided by your own Certified 
                    Public Accountant or other tax or legal professional. By using the EnrolledAgent.com 
                    service, you accept the terms and conditions below.
                  </p>
                  <p class="mt-20">This Agreement describes the terms and conditions applicable to your use of 
                    the EnrolledAgent.com service (the "Service"). We may amend these terms and 
                    conditions at any time by posting the amended terms on our site. The amended terms 
                    shall automatically be effective 30 days after they are initially posted on our 
                    site. This Agreement may not be otherwise amended except in a writing signed by 
                    both parties. For the purposes of these terms and conditions "user(s)" means any 
                    person or entity that accesses or uses the Service, including, but not limited to, 
                    accountants and their clients. Because we do not and cannot be involved in 
                    user-to-user dealings (be they professional engagements or mere communications) 
                    in the event that you have a dispute with one or more users, you release us 
                    (and our agents and employees) from claims, demands and damages (actual and 
                    consequential) of every kind and nature, known and unknown, suspected and 
                    unsuspected, disclosed and undisclosed, arising out of or in any way connected 
                    with these disputes. If you are a California resident, you waive California Civil 
                    Code section 1542, which states: "A general release does not extend to claims 
                    which the creditor does not know or suspect to exist in his favor at the time of 
                    executing the release, which if known by him must have materially affected his 
                    settlement with the debtor".
                  </p>
                  <h3 class="mt-20">Information and Accuracy</h3>
                  <p class="mt-20"> For legal reasons, we cannot nor do we try to control the 
                    information provided by other users that is made available through our system. 
                    You release us from any and all liability with respect to information entered on 
                    or through EnrolledAgent.com that is offensive, harmful or inaccurate.
                  </p>
                  <p class="mt-20"> We have no control (and we will not seek to establish control) over 
                    the truth or accuracy of a user's postings or content on the EnrolledAgent.com website 
                    and Service. EnrolledAgent.com assumes no responsibility for the timeliness, deletion, 
                    mis-delivery or failure to store any user communications or personalization settings.
                  </p>
                  <h3 class="mt-20">User Communications and Content</h3>
                  <p class="mt-20"> You understand that all information, data, text, software, 
                    music, sound, photographs, graphics, video, messages or other materials ("Content"), 
                    whether publicly posted or privately transmitted, are the sole responsibility of the 
                    person or entity from which this Content originated. This means that you, and not 
                    EnrolledAgent.com, are entirely responsible for all Content that you upload, post, 
                    email or otherwise transmit via the Service. EnrolledAgent.com does not control the 
                    Content posted via the Service and, as such, does not guarantee the accuracy, integrity 
                    or quality of this Content. You understand that by using the Service, you may be exposed 
                    to Content that is offensive, indecent or objectionable. Under no circumstances will 
                    EnrolledAgent.com be liable in any way for any Content, including, but not limited to, 
                    for any errors or omissions in any Content, or for any loss or damage of any kind 
                    incurred as a result of the use of any Content posted, emailed or otherwise 
                    transmitted via the Service.
                  </p>
                  <p class="mt-20">You agree to not use the Service to:</p>
                  <ol>
                    <li>Upload, post, email or otherwise transmit any Content that is unlawful, 
                      harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, 
                      libelous, invasive of another's privacy, hateful, or racially, ethnically or 
                      otherwise objectionable.
                    </li>
                    <li>Harm minors in any way.</li>
                    <li>Impersonate any person or entity, including, but not limited to, a 
                      EnrolledAgent.com official, forum leader, guide or host, or falsely state or 
                      otherwise misrepresent your affiliation with a person or entity.
                    </li>
                    <li>Forge headers or otherwise manipulate identifiers in order to disguise the 
                      origin of any Content transmitted through the Service.
                    </li>
                    <li>
                      Upload, post, email or otherwise transmit any Content that you do not have a 
                      right to transmit under any law or under contractual or fiduciary relationships 
                      (such as inside information, proprietary and confidential information learned 
                      or disclosed as part of employment relationships or under nondisclosure agreements).
                    </li>
                    <li>
                      Upload, post, email or otherwise transmit any Content that infringes any patent, 
                      trademark, trade secret, copyright or other proprietary rights of any party.
                    </li>
                    <li>
                      Upload, post, email or otherwise transmit any unsolicited or unauthorized 
                      advertising, promotional materials, "junk mail", "spam", "chain letters", 
                      "pyramid schemes" or any other form of solicitation, except in those areas 
                      (such as shopping rooms) that are designated for such purpose.
                    </li>
                    <li>
                      Upload, post, email or otherwise transmit any material that contains software 
                      viruses, or any other computer code, files or programs designed to interrupt, 
                      destroy or limit the functionality of any computer software or hardware or 
                      telecommunications equipment;
                    </li>
                    <li>
                      Disrupt the normal flow of dialogue, cause a screen to "scroll" faster than 
                      other users of the Service are able to type, or otherwise act in a manner that 
                      negatively affects other users' ability to engage in real time exchanges.
                    </li>
                    <li>
                      Interfere with or disrupt the Service or servers or networks connected to the 
                      Service, or disobey any requirements, procedures, policies or regulations of 
                      networks connected to the Service.
                    </li>
                    <li>
                      Intentionally or unintentionally violate any applicable local, state, national 
                      or international law, including, but not limited to, regulations promulgated 
                      by the U.S. Securities and Exchange Commission, any rules of any national or 
                      other securities exchange, including, without limitation, the New York Stock 
                      Exchange, the American Stock Exchange or the NASDAQ, and any regulations having 
                      the force of law.
                    </li>
                    <li>"Stalk" or otherwise harass another; or</li>
                    <li>Collect or store personal data about other users.</li>
                  </ol>
                  <p class="mt-20">You acknowledge that EnrolledAgent.com does not pre-screen Content, 
                    but that EnrolledAgent.com and its designees shall have the right (but not the 
                    obligation) in their sole discretion to refuse or move any Content that is available 
                    via the Service. Without limiting the foregoing, EnrolledAgent.com and its designees 
                    shall have the right to remove any Content that violates these terms and conditions 
                    or is otherwise objectionable. You agree that you must evaluate, and bear all risks 
                    associated with, the use of any Content, including any reliance on the accuracy, 
                    completeness, or usefulness of the Content. In this regard, you acknowledge that 
                    you may not rely on any Content created by EnrolledAgent.com or submitted to 
                    EnrolledAgent.com.
                  </p>
                  <p class="mt-20">You acknowledge and agree that EnrolledAgent.com may preserve 
                    Content and may also disclose Content if required to do so by law or in the good 
                    faith belief that this preservation or disclosure is reasonably necessary to: 
                    (a) comply with legal process; (b) enforce these terms and conditions; 
                    (c) respond to claims that any Content violates the rights of third-parties; or 
                    (d) protect the rights, property, or personal safety of EnrolledAgent.com, 
                    its users and the public.
                  </p>
                  <p class="mt-20">
                    You understand that the technical processing and transmission of the Service, 
                    including your Content, may involve (a) transmissions over various networks; 
                    and (b) changes to conform and adapt to technical requirements of connecting 
                    networks or devices.
                  </p>
                  <p class="mt-20">Solely to enable EnrolledAgent.com to use your Content, so 
                    that we are not violating any rights you might have in that information, you 
                    agree to grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, 
                    sublicensable (through multiple tiers) right to exercise the copyright and publicity 
                    rights (but no other rights) you have in Your Content with respect to your Content. 
                    EnrolledAgent.com will only use information collected about you in accordance with our 
                    Privacy Policy. For more information, please see our <a href="/privacy">privacy policy</a>.
                  </p>
                  <h3 class="mt-20">Viruses</h3>
                  <p class="mt-20">EnrolledAgent.com is not responsible for any viruses or defects that 
                    may be found to exist in this site, or any lost profits or other consequential damages 
                    that may result.
                  </p>
                  <h3 class="mt-20">Advertisers</h3>
                  <p class="mt-20">EnrolledAgent.com does not warrant, endorse or guarantee any 
                    product or services advertised on our Site, and we will not be a party to any 
                    transaction between you and any advertiser or user.
                  </p>
                  <p class="mt-20">
                    EnrolledAgent.com does not assume the responsibility of enforcing licensing 
                    requirements, or of checking for license, with respect to licensed professions 
                    or trades, prior to publishing advertisements. EnrolledAgent.com does not assume 
                    the responsibility of monitoring the use of trademarks, copyrights or other rights 
                    of third parties.
                  </p>
                  <h3 class="mt-20">Links to Third Party Sites</h3>
                  <p class="mt-20">The links in our Service will facilitate leaving EnrolledAgent.com 
                    service. The linked sites are not under the control of EnrolledAgent.com and 
                    EnrolledAgent.com is not responsible for the content of any linked site or any 
                    link contained in a linked site, or any changes or updates to these sites. 
                    EnrolledAgent.com is not responsible for web casting or any other form of 
                    transmission received from any linked site. EnrolledAgent.com is providing these 
                    links to you only as a convenience, and the inclusion of any link does not imply 
                    endorsement by EnrolledAgent.com of the site or any association with its operators. 
                    There are risks in using any information found on the Internet. EnrolledAgent.com 
                    cautions user to understand these risks before using or relying upon anything on 
                    the Internet. EnrolledAgent.com does not endorse, warrant or guarantee the products 
                    or services described or offered in these other websites.
                  </p>
                  <h3 class="mt-20">Termination of Access</h3>
                  <p class="mt-20">You agree that EnrolledAgent.com, in its sole discretion, may 
                    terminate your password, account (or any part thereof) or use of the Service, 
                    and remove and discard any Content within the Service, for any reason, including, 
                    without limitation, for lack of use or if EnrolledAgent.com believes that you 
                    have violated or acted inconsistently with the letter or spirit of these terms 
                    and conditions. EnrolledAgent.com may also in its sole discretion and at any time 
                    discontinue providing the Service, or any part thereof, with or without notice. 
                    You agree that any termination of your access to the Service under any provision 
                    of these terms and conditions may be effected without prior notice, and acknowledge 
                    and agree that EnrolledAgent.com may immediately deactivate or delete your account 
                    and all related information and files in your account and bar any further access 
                    to such files or the Service. Further, you agree that EnrolledAgent.com shall not 
                    be liable to you or any third-party for any termination of your access to the Service.
                  </p>
                  <h3 class="mt-20">No Representations Or Warranties; Limitation Of Liability</h3>
                  <p class="mt-20">You expressly understand and agree that:</p>
                  <ol class="mt-20">
                    <li>Your use of the service is at your sole risk. The service and content are 
                      provided on an "as is" and "as available" basis. EnrolledAgent.com expressly 
                      disclaims all warranties of any kind, whether express or implied, including, 
                      but not limited to the implied warranties of merchantability, fitness for a 
                      particular purpose, title, non-infringement, accuracy, authority, completeness, 
                      usefulness and timeliness.
                    </li>
                    <li>
                      EnrolledAgent.com makes no warranty that (i) the service will meet your 
                      requirements; (ii) the service will be uninterrupted, timely, secure, or 
                      error-free; (iii) the results that may be obtained from the use of the service 
                      will be accurate or reliable; (iv) the quality of any products, services, 
                      information, or other material purchased or obtained by you through the service 
                      will meet your expectations; and (v) any errors in the software will be corrected.
                    </li>
                    <li>
                      Any material downloaded or otherwise obtained using this service is done at 
                      your own discretion and risk and that you will be solely responsible for any 
                      damage to your computer system or loss of data that results from the download 
                      of any such material.
                    </li>
                    <li>
                      No advice or information, whether oral or written, obtained by you from 
                      EnrolledAgent.com or through or from the service shall create any warranty not 
                      expressly stated in these terms and conditions.
                    </li>
                  </ol>
                  <p class="mt-20">
                    You expressly understand and agree that EnrolledAgent.com and its parents, 
                    subsidiaries, affiliates, agents, officers, trustees, members, managers, partners 
                    or employees shall not be liable for any direct, indirect, incidental, special, 
                    consequential or exemplary damages, including, but not limited to, damages for 
                    loss of profits, goodwill, use, data or other intangible losses (even if 
                    EnrolledAgent.com has been advised of the possibility of such damages), whether in 
                    an action of contract, negligence or other tortious action, in connection with or 
                    resulting from: (i) the use or the inability to use the service; (ii) the cost of 
                    procurement of substitute goods and services resulting from any goods, data, 
                    information or services purchased or obtained or messages received or transactions 
                    entered into through or from the service; (iii) unauthorized access to or alteration 
                    of your transmissions or data; (iv) statements or conduct of any third party on the 
                    service; or (v) any other matter relating to the service.
                  </p>
                  <p class="mt-20">Some states do not allow the disclaimer of implied warranties, so 
                    the foregoing disclaimer may not apply to you. This warranty gives you specific 
                    legal rights and you may also have other legal rights that vary from state to state.
                     Some states do not allow the limitation of liability, so the foregoing limitation 
                     may not apply to you.
                  </p>
                  <h3 class="mt-20">The "Ask an ENROLLED AGENT" Program</h3>
                  <p class="mt-20">Access to our staff of Enrolled Agents is provided for free. 
                    We will do the best to personalize our response to your questions based upon 
                    the information you provide. Accounting, financial, business and tax planning 
                    is not an exact science. Answers can vary for different people based upon their 
                    objectives, risk tolerances, and circumstances. Our responses to your questions 
                    should only be used as a guide and should not be relied upon solely in making 
                    your decision. EnrolledAgent.com believes that no matter how small or large your 
                    financial decision, Enrolled Agents can provide you with valuable guidance and 
                    support. It is important that you find a qualified Enrolled Agent to meet with so 
                    that your circumstances may be understood in detail. We may provide you with a 
                    list of various Enrolled Agents in your geographic area. We recommend you 
                    interview more than one Enrolled Agent before making a final decision. All Enrolled 
                    Agents whose professional information we provide to you are independent from 
                    EnrolledAgent.com.
                  </p>
                  <p class="mt-20">
                    Our company does not receive a referral fee from any Enrolled Agent. By using 
                    any service provided by EnrolledAgent.com, including the "Ask an ENROLLED AGENT" 
                    program, you agree that EnrolledAgent.com and its parents, subsidiaries, affiliates, 
                    agents, officers, trustees, members, managers, partners or employees shall not be 
                    liable for any direct, indirect, incidental, special, consequential or exemplary damages, 
                    including, but not limited to, damages for loss of profits, goodwill, use, data or other 
                    intangible losses (even if EnrolledAgent.com has been advised of the possibility of such 
                    damages), whether in an action of contract, negligence or other tortious action, in 
                    connection with or resulting from your use of any service provided by EnrolledAgent.com, 
                    including the "Ask an ENROLLED AGENT" program, and/or your use of or reliance upon any 
                    information, answer or response provided by EnrolledAgent.com, including the "Ask an 
                    ENROLLED AGENT" program.
                  </p>
                  <h3 class="mt-20">Use for Illegal Activities Prohibited</h3>
                  <p class="mt-20">The use of EnrolledAgent.com Service for any illegal activities is 
                    prohibited. Illegal activities include, but are not limited to, tampering with 
                    information data bases and software, unauthorized entry to other networks or 
                    computers, trafficking in illegal products or substances, disobeying trade 
                    restrictions, violating civil rights laws or knowledgeable vandalism or destruction 
                    of online files. You shall comply with all applicable laws, statutes, ordinances and 
                    regulations regarding your use of our Service.
                  </p>
                  <h3 class="mt-20">Security and Passwords</h3>
                  <p class="mt-20">You will receive a password and account designation upon completing 
                    the Service's registration process. You are responsible for maintaining the 
                    confidentiality of the password and account and are fully responsible for all 
                    activities that occur under your password or account. You agree to (a) immediately 
                    notify EnrolledAgent.com of any unauthorized use of your password or account or any 
                    other breach of security, and (b) ensure that you exit from your account at the end 
                    of each session. You may not disclose or share your password to any third parties or 
                    use your password for any unauthorized purpose. EnrolledAgent.com cannot and will not 
                    be liable for any loss or damage arising from your failure to comply with this paragraph.
                  </p>
                  <h3 class="mt-20">Indemnification</h3>
                  <p class="mt-20">You agree to defend, indemnify and hold us and our affiliates, 
                    directors, officers, members, managers, agents, consultants and employees 
                    harmless from and against any and all claims, losses, liabilities, costs and 
                    expenses (including, without limitation, attorneys' fees) arising from your 
                    violation of any of these terms and conditions or any third-party rights, including, 
                    without limitation, infringement of any copyright, violation of any proprietary 
                    right and invasion of any privacy rights.
                  </p>
                  <h3 class="mt-20">Proprietary Rights</h3>
                  <p class="mt-20">You acknowledge and agree that the Service and any necessary 
                    software used in connection with the Service ("Software") contain proprietary 
                    and confidential information that is protected by applicable intellectual property 
                    and other laws. You further acknowledge and agree that Content contained in sponsor 
                    advertisements or information presented to you through the Service or advertisers 
                    is protected by copyrights, trademarks, service marks, patents or other proprietary 
                    rights and laws. Except as expressly authorized by EnrolledAgent.com or advertisers, 
                    you agree not to modify, rent, lease, loan, sell, distribute or create derivative 
                    works based on the Service or the Software, in whole or in part.
                  </p>
                  <p class="mt-20">EnrolledAgent.com grants you a personal, non-transferable and 
                    non-exclusive right and license to use the object code of its Software on a 
                    single computer; if you do not (and do not allow any third party to) copy, modify, 
                    create a derivative work of, reverse engineer, reverse assemble or otherwise 
                    attempt to discover any source code, sell, assign, sublicense, grant a security 
                    interest in or otherwise transfer any right in the Software. You agree not to 
                    modify the Software in any manner or form, or to use modified versions of the 
                    Software, including (without limitation) for the purpose of obtaining unauthorized 
                    access to the Service. You agree not to access the Service by any means other 
                    than through the interface that is provided by EnrolledAgent.com for use in 
                    accessing the Service.
                  </p>
                  <h3 class="mt-20">Copyright Complaints</h3>
                  <p class="mt-20">It is EnrolledAgent.com's policy to comply with all 
                    intellectual property laws and, in appropriate circumstances, to terminate 
                    the accounts of users who infringe the intellectual property rights of others.
                  </p>
                  <p>
                    If you believe that your work has been infringed, please 
                    <a href="mailto:info@enrolledagent.com">send us</a> a notice of copyright 
                    infringement containing the following information:
                  </p>
                  <ol class="mt-20">
                    <li>Physical or electronic signature of the copyright owner or the person 
                      authorized to act on behalf of the copyright owner.
                    </li>
                    <li>Identification of the copyrighted work claimed to be infringed.</li>
                    <li>Description of where the alleged infringements are located in the Service.</li>
                    <li>Your name, address, telephone number, and email address.</li>
                    <li>A statement of good faith belief that the material is infringing.</li>
                    <li>A statement that the information in the notification is accurate and 
                      that the complaint is authorized by the copyright holder.
                    </li>
                  </ol>
                  <p class="mt-20">Once proper notice has been received, EnrolledAgent.com may take the following action:</p>
                  <ol class="mt-20">
                    <li>EnrolledAgent.com will remove or block access to infringing material; and</li>
                    <li>EnrolledAgent.com will notify the subscriber of the copyright infringement notification.</li>
                  </ol>
                  <p class="mt-20">The subscriber may provide a counter notice that contains the following information:</p>
                  <ol class="mt-20">
                    <li>Physical or electronic signature of the subscriber.</li>
                    <li>Identification of the material that has been removed or to which access has been disabled.</li>
                    <li>Statement that the subscriber has a good faith belief that the material did not constitute copyright infringement.</li>
                    <li>Subscriber's name, address, telephone number, and email address; and</li>
                    <li>Statement that the subscriber consents to jurisdiction in federal court.</li>
                  </ol>
                  <p class="mt-20">If EnrolledAgent.com receives a counter notification, it will 
                    forward this notification to the original complaining party. If the complaining 
                    party does not respond to the counter notice by filing a lawsuit, EnrolledAgent.com 
                    will restore the material or access to the material within 10 to 14 days of the 
                    receipt of a counter notification.
                  </p>
                  <h3 class="mt-20">General</h3>
                  <p class="mt-20">Except as explicitly stated otherwise, any notices shall be given 
                    by email to the contact address (in the case of EnrolledAgent.com) or to the email 
                    address you provide to EnrolledAgent.com during the registration process (in 
                    your case), or such other address as the party shall specify. Notice shall be 
                    deemed given 24 hours after email is sent, unless the sending party is notified 
                    that the email address is invalid.
                  </p>
                  <p class="mt-20">This Agreement shall be governed by and construed in accordance 
                    with the laws of the State of New York without regard to any choice of law 
                    principles that could result in the application of the laws of any other 
                    jurisdiction. All disputes, differences, controversies or claims arising out of 
                    or relating to this Agreement, including, but not limited to, any question 
                    regarding its existence, validity, or termination, shall be finally and solely 
                    determined and settled by arbitration in New York, New York in accordance with 
                    the Commercial Arbitration Rules of the American Arbitration Association, which 
                    rules are deemed to be incorporated by reference into this Section. The 
                    arbitration shall be conducted by a sole arbitrator. The language of all 
                    arbitration proceedings shall be English. The arbitral award shall state the 
                    reasons upon which the award is based. Judgment upon any arbitral award may be 
                    entered and enforced in any court of competent jurisdiction. We do not guarantee 
                    continuous, uninterrupted or secure access to our Services, and operation of 
                    our Service may be interfered with by numerous factors outside of our control. 
                    If any provision of this Agreement is held to be invalid or unenforceable, 
                    such provision shall be struck and the remaining provisions shall be enforced. 
                    Our failure to act with respect to a breach by you or others does not waive our 
                    right to act with respect to subsequent or similar breaches. You and 
                    EnrolledAgent.com are independent contractors, and no agency, partnership, 
                    joint venture, employee-employer or franchiser-franchisee relationship is 
                    intended or created by this Agreement.
                  </p>
                  <p class="mt-20">You hereby acknowledge that you have read this Agreement, 
                    understand it and agree to be bound by its terms and conditions. You further 
                    agree that this is the complete and exclusive agreement between us, and this 
                    Agreement supersedes any proposal or prior agreement whether oral or written, 
                    and any other communication between us relating to the subject matter of this 
                    Agreement.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

      
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/custom.js"></script>
  </body>
</html>
