<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include("./partials/head.ejs") %>

  <body id="account">
    <%- include("./partials/header.ejs") %>
    <section id="verification">
      <div class="verification-top">
        <div class="logo">
          <img src="/assets/files/smallLogo.png" alt="" />
        </div>
        <div class="verification-top-text">
          <h3>EA Verification Service</h3>
          <p>
            License verification of Oshin Oluwabusayomi $49.00 <br />
Don't risk your finances, opt for an Enrolled Agent.
          </p>
        </div>
      </div>
    </section>

    <section id="payment" class="container">
      <div class="payment-top">
        <h3>Payment</h3>
        <p>Choose payment method below</p>
      </div>

      <div class="cards container">
        <!-- <div class="text-center"> -->
          <div class="img-bg">
            <img src="/assets/files/credit-cards.png" alt="" />
          </div>
          <div class="img-bg">
            <img src="/assets/files/pay-pal.png" alt="" />
          </div>
          <div class="img-bg">
            <img src="/assets/files/amazon.png" alt="" />
          </div>
        </div>
      </div>

      <div class=" payment-form ">
          <div class="payment-left ">
              <h4>Billing info</h4>
              <div class="name">
                  <label for="name">FULL NAME</label>
                  <input type="text" placeholder="John Doe">
              </div>
              <div class="adress">
                  <label for="name">ADDRESS</label>
                  <input type="text" placeholder="497 Evergreen Rd.">
              </div>

              <div class="state">
                  <div class="state-city">
                      <label for="city">CITY</label>
                      <input type="text" placeholder="Roseville">
                  </div>
                  <div class="state-zip">
                      <label for="zip">ZIP</label>
                      <input type="number" placeholder="95673">
                  </div>
              </div>

                <div class="country">
                  <label for="country">ADDRESS</label>
                  <input type="text" placeholder="United States">
              </div>
          </div>


          <div class="payment-right">
              <h4>Credit Card Info</h4>
               <div class="card-no">
                  <div class="card-num">
                      <label for="city">CARD NUMBER</label>
                      <input type="text" placeholder="1234 5678 3456 2456">
                  </div>
                  <div class="card-img">
                      <img src="/assets/files/visa.png" alt="">
                  </div>
              </div>

              <div class="name-card">
                  <label for="name-card">CARD HOLDER NAME</label>
                  <input type="text" placeholder="John Doe">
              </div>

               <div class="exp-date">
                   <label for="name-card">EXPIRY DATE</label>
                  <input type="text" placeholder="05 / 21">
              </div>
                <div class="cvv">
                   <label for="cvv">CVV</label>
                  <input type="text" placeholder="123">
              </div>

          </div>

          <div class="b-tons">
<a href="#" class="b-ton">Make Payment</a>
          </div>

          


    </section>

    <!-- footer section -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
