<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="about">
      <!-- Start main-content -->
      <div class="main-content">
        <!-- Section: inner-header -->
        <section class="inner-header divider layer-overlay overlay-dark-4 about_jumbotron">
          <div class="container pt-120 pb-60 mobile-container">
            <!-- Section Content -->
            <div class="section-content">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-theme-colored2 font-36">Who is an Enrolled Agent?</h2>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section: About -->
        <section id="about" class="bg-silver-light">
          <div class="container">
            <div class="section-content">
              <div class="row">
                <div class="col">
                  <h3>WHO IS AN ENROLLED AGENT?</h3>
                  <p class="mt-10 mb-padding">
                    An Enrolled Agent is a tax professional that is admitted to practice unrestricted before
                    the Internal Revenue Service and can represent clients throughout the United States. 
                    Enrolled Agents help with tax related issues that includes audit, collections, and appeals.
                  </p> 
  
                  <h3>BECOMING AN ENROLLED AGENT</h3>
                  <p class="mt-10 mb-padding">
                    * You must obtain a Preparer Tax Identification Number (PTIN) which you are required to 
                      use on all our clients’ filed tax returns to ensure maximum privacy as a tax preparer.
                  </p>
                  <p class="mt-10 mb-padding">
                    * You are required to take a Special Enrollment Examination (SEE) and achieve passing 
                      scores in all three parts. An alternative to this is if you've worked with the IRS for 
                      five consecutive years in a position which is usually involved in applying
                      and interpreting the positions of the Internal Revenue Service code and regulations.
                  </p>
                  <p class="mt-10 mb-padding">
                    * A background check will be done by the IRS after you file form23 within one year of completing
                    your exam, and also a review of your personal and business tax.
                  </p>
  
                  <h3>MAINTAINING AN ENROLLED AGENT STATUS</h3>
                  <p class="mt-10 mb-padding">
                    * To qualify for renewal as an active Enrolled Agent, you must complete 72 hours of Continuing 
                      Professional Education (CPE) every three years	,
                      and two hours of professional conduct in each of the three years. 
                  </p>
                  <p class="mt-10 mb-padding">
                    * You must renew your PTIN annually between October 16 and December 31. 
                      You must file form 8854.
                  </p>
                  <p class="mt-10 mb-padding">
                    * Failure to file a renewal application will be considered as an inactive enrolled individual. 
                      The individual will be ineligible to practice before the IRS.
                  </p>
                </div>
                
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="/javascripts/funfact.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
